Repository Hokusai-protocol/hokusai-data-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-auth-headers, validate-proxy-config, check-mlflow-auth, auth-test-reminder

check-auth-headers:
  name: Check Authentication Headers
  entry: scripts/hooks/check-auth-headers.sh
  language: script
  pass_filenames: true
  description: Ensure auth headers are properly forwarded in API calls

validate-proxy-config:
  name: Validate Proxy Configuration
  entry: scripts/hooks/validate-proxy.py
  language: python
  additional_dependencies:
  - pyyaml
  description: Verify proxy configurations maintain auth headers

check-mlflow-auth:
  name: Check MLflow Authentication
  entry: scripts/hooks/check-mlflow-auth.py
  language: python
  additional_dependencies:
  - pyyaml
  description: Ensure MLflow operations include authentication

auth-test-reminder:
  name: Auth Test Reminder
  entry: scripts/hooks/auth-test-reminder.sh
  language: script
  pass_filenames: false
  description: Remind to run auth tests after changes

HOK-918: add DatasetValidator service for uploaded benchmark datasets (#131)
  src/api/dependencies.py
  src/api/routes/benchmarks.py
  src/api/services/dataset_validator.py
  src/api/services/governance/benchmark_specs.py
  tests/unit/test_benchmark_upload.py
  tests/unit/test_dataset_validator.py
Due: check-auth-headers

HOK-922: add S3 event listener for new dataset arrivals (#132)
  migrations/versions/012_add_dataset_arrivals.py
  src/api/dependencies.py
  src/api/main.py
  src/api/models/__init__.py
  src/api/models/dataset_arrival.py
  src/api/routes/dataset_arrivals.py
  src/services/dataset_arrival_handler.py
  src/services/dataset_arrival_worker.py
  tests/unit/test_dataset_arrival_handler.py
  tests/unit/test_dataset_arrival_routes.py
  tests/unit/test_dataset_arrival_worker.py
Due: check-auth-headers

HOK-923: add batch evaluation queue with debounce-based deduplication
  src/models/evaluation_job.py
  src/services/dataset_arrival_handler.py
  src/services/evaluation_queue.py
  tests/unit/test_batch_evaluation_queue.py
  tests/unit/test_dataset_arrival_handler.py
Due: check-auth-headers

HOK-923: add batch evaluation queue with debounce-based deduplication (#133)
  src/models/evaluation_job.py
  src/services/dataset_arrival_handler.py
  src/services/evaluation_queue.py
  tests/unit/test_batch_evaluation_queue.py
  tests/unit/test_dataset_arrival_handler.py
Due: check-auth-headers

docs: clarify proposal-attached registration flow
  docs/getting_started.md
  documentation/core-features/model-registry.md
  documentation/getting-started/model-registration-guide.md
  documentation/getting-started/quickstart.md
  hokusai-ml-platform/docs/AUTHENTICATION.md
  hokusai-ml-platform/examples/tokenized_registry_example.py
Due: check-auth-headers, check-mlflow-auth

feat: add canonical proposal registration webhook metadata
  documentation/core-features/model-registry.md
  hokusai-ml-platform/src/hokusai/core/registry.py
  hokusai-ml-platform/tests/integration/test_tokenized_registry_integration.py
  hokusai-ml-platform/tests/unit/test_tokenized_registry.py
  src/events/publishers/webhook_publisher.py
  src/events/schemas.py
  src/services/enhanced_model_registry.py
  src/services/model_registry_hooks.py
  tests/integration/test_webhook_integration.py
  tests/unit/test_model_registry_hooks.py
  tests/unit/test_webhook_publisher.py
Due: check-auth-headers, check-mlflow-auth

docs: clarify proposal-attached registration flow (#134)
  docs/getting_started.md
  documentation/core-features/model-registry.md
  documentation/getting-started/model-registration-guide.md
  documentation/getting-started/quickstart.md
  hokusai-ml-platform/docs/AUTHENTICATION.md
  hokusai-ml-platform/examples/tokenized_registry_example.py
Due: check-auth-headers, check-mlflow-auth

feat: add canonical proposal registration webhook metadata (#135)
  documentation/core-features/model-registry.md
  hokusai-ml-platform/src/hokusai/core/registry.py
  hokusai-ml-platform/tests/integration/test_tokenized_registry_integration.py
  hokusai-ml-platform/tests/unit/test_tokenized_registry.py
  src/events/publishers/webhook_publisher.py
  src/events/schemas.py
  src/services/enhanced_model_registry.py
  src/services/model_registry_hooks.py
  tests/integration/test_webhook_integration.py
  tests/unit/test_model_registry_hooks.py
  tests/unit/test_webhook_publisher.py
Due: check-auth-headers, check-mlflow-auth

feat: Add pricing configuration for eval cost tracking (HOK-891)
  .wavemill-config.json
Due: none

Make default API health check lightweight
  src/api/routes/health.py
Due: check-auth-headers

Clean up Terraform overlays and bump MLflow RDS target
  infrastructure/README.md
  infrastructure/terraform/alb-health-check-update.tf.disabled
  infrastructure/terraform/alb-routing-fix.tf.disabled
  infrastructure/terraform/api-env-updates.tf.disabled
  infrastructure/terraform/dedicated-albs.tf.disabled
  infrastructure/terraform/ecs-service-discovery-patch.tf.disabled
  infrastructure/terraform/ecs-task-update.tf.disabled
  infrastructure/terraform/health-check-fix.tf.disabled
  infrastructure/terraform/https-updates.tf.disabled
  infrastructure/terraform/main.tf
  infrastructure/terraform/proxy-routing-updates.tf.disabled
  infrastructure/terraform/remote-state.tf.disabled
  infrastructure/terraform/routing-fix.tf.disabled
  infrastructure/terraform/terraform.tfvars
  infrastructure/terraform/terraform.tfvars.example
  infrastructure/terraform/variables.tf
Due: none

Add packaged model registration CLI and align docs
  documentation/api/endpoints.md
  documentation/core-features/model-registry.md
  documentation/getting-started/installation.md
  documentation/getting-started/model-registration-guide.md
  documentation/getting-started/quickstart.md
  documentation/ml-platform/mlflow-integration-updated.md
  documentation/ml-platform/mlflow-integration.md
  documentation/ml-platform/overview.md
  documentation/overview/introduction.md
  documentation/reference/troubleshooting.md
  hokusai-ml-platform/README.md
  hokusai-ml-platform/docs/AUTHENTICATION.md
  hokusai-ml-platform/docs/installation.md
  hokusai-ml-platform/examples/authentication_example.py
  hokusai-ml-platform/examples/basic_usage/requirements.txt
  hokusai-ml-platform/examples/pipeline_integration_example.py
  hokusai-ml-platform/examples/tokenized_registry_example.py
  hokusai-ml-platform/pyproject.toml
  hokusai-ml-platform/src/hokusai/cli.py
  hokusai-ml-platform/src/hokusai/core/registry.py
  hokusai-ml-platform/tests/integration/test_tokenized_registry_integration.py
  hokusai-ml-platform/tests/test_cli.py
  hokusai-ml-platform/tests/unit/test_tokenized_registry.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

Fix MLflow registry 502s by wiring end-to-end mTLS in dev
  Dockerfile.api
  hokusai-ml-platform/src/hokusai/config/mlflow_setup.py
  scripts/api-entrypoint.sh
  scripts/mlflow-entrypoint.sh
  src/api/routes/mlflow_proxy_improved.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

Fix MLflow registry 502s by wiring end-to-end mTLS in dev (#136)
  Dockerfile.api
  hokusai-ml-platform/src/hokusai/config/mlflow_setup.py
  scripts/api-entrypoint.sh
  scripts/mlflow-entrypoint.sh
  src/api/routes/mlflow_proxy_improved.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

Extract MLflow mTLS httpx helper and apply to health endpoints
  src/api/routes/health_mlflow.py
  src/api/routes/mlflow_proxy_improved.py
  src/utils/mlflow_mtls.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

Extract MLflow mTLS httpx helper and apply to health endpoints (#137)
  src/api/routes/health_mlflow.py
  src/api/routes/mlflow_proxy_improved.py
  src/utils/mlflow_mtls.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

Delete dead mlflow_proxy.py and mlflow_proxy_fixed.py
  src/api/routes/__init__.py
  src/api/routes/mlflow_proxy.py
  src/api/routes/mlflow_proxy_fixed.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

Delete dead mlflow_proxy.py and mlflow_proxy_fixed.py (#138)
  src/api/routes/__init__.py
  src/api/routes/mlflow_proxy.py
  src/api/routes/mlflow_proxy_fixed.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

fix: set MLFLOW_TRACKING_TOKEN in CLI before mlflow.start_run()
  hokusai-ml-platform/src/hokusai/cli.py
  hokusai-ml-platform/tests/test_cli.py
Due: check-auth-headers

fix(HOK-1332): add 502 error clarity and regression tests for token preservation
  hokusai-ml-platform/pyproject.toml
  hokusai-ml-platform/src/hokusai/config/mlflow_setup.py
  hokusai-ml-platform/tests/unit/test_mlflow_setup.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

fix: Address self-review findings (iteration 1)
  hokusai-ml-platform/tests/unit/test_mlflow_setup.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

fix: set MLFLOW_TRACKING_TOKEN in CLI before mlflow.start_run() (#139)
  hokusai-ml-platform/src/hokusai/cli.py
  hokusai-ml-platform/tests/test_cli.py
Due: check-auth-headers

HOK-1332: Add 502 error clarity and regression tests for MLFLOW_TRACKING_TOKEN preservation (#140)
  hokusai-ml-platform/pyproject.toml
  hokusai-ml-platform/src/hokusai/config/mlflow_setup.py
  hokusai-ml-platform/tests/unit/test_mlflow_setup.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

fix(HOK-1362): wire CLI site notification and fix webhook payload
  WEBHOOK_INTEGRATION_SUCCESS.md
  hokusai-ml-platform/src/hokusai/cli.py
  hokusai-ml-platform/tests/unit/test_cli_site_notification.py
  pyproject.toml
  src/events/publishers/webhook_publisher.py
  tests/unit/test_webhook_publisher.py
Due: check-auth-headers

fix: Address self-review findings (iteration 1)
  hokusai-ml-platform/src/hokusai/cli.py
Due: check-auth-headers

HOK-1362: Wire CLI site notification and fix webhook payload event_type (#141)
  WEBHOOK_INTEGRATION_SUCCESS.md
  hokusai-ml-platform/src/hokusai/cli.py
  hokusai-ml-platform/tests/unit/test_cli_site_notification.py
  pyproject.toml
  src/events/publishers/webhook_publisher.py
  tests/unit/test_webhook_publisher.py
Due: check-auth-headers

Fix canonical site webhook targets for model registration
  WEBHOOK_CONFIGURATION_ISSUE.md
  WEBHOOK_INTEGRATION_FIX.md
  WEBHOOK_INTEGRATION_SUCCESS.md
  hokusai-ml-platform/src/hokusai/cli.py
  hokusai-ml-platform/tests/test_cli.py
  test_final_webhook.py
  test_secret_variations.py
  test_signature_methods.py
  test_simple_webhook.py
  test_webhook_debug.py
  test_webhook_notification.py
Due: check-auth-headers

Fix canonical site webhook targets for model registration (#142)
  WEBHOOK_CONFIGURATION_ISSUE.md
  WEBHOOK_INTEGRATION_FIX.md
  WEBHOOK_INTEGRATION_SUCCESS.md
  hokusai-ml-platform/src/hokusai/cli.py
  hokusai-ml-platform/tests/test_cli.py
  test_final_webhook.py
  test_secret_variations.py
  test_signature_methods.py
  test_simple_webhook.py
  test_webhook_debug.py
  test_webhook_notification.py
Due: check-auth-headers

feat: Add baseline_value field to BenchmarkSpec (HOK-1394)
  migrations/versions/013_add_baseline_value_to_benchmark_specs.py
  src/api/models/benchmark_spec.py
  src/api/routes/benchmarks.py
  src/api/schemas/benchmark_spec.py
  src/api/services/governance/benchmark_specs.py
  tests/unit/test_benchmark_routes.py
  tests/unit/test_benchmark_spec_service.py
Due: check-auth-headers

feat: Add baseline_value field to BenchmarkSpec (HOK-1394) (#143)
  migrations/versions/013_add_baseline_value_to_benchmark_specs.py
  src/api/models/benchmark_spec.py
  src/api/routes/benchmarks.py
  src/api/schemas/benchmark_spec.py
  src/api/services/governance/benchmark_specs.py
  tests/unit/test_benchmark_routes.py
  tests/unit/test_benchmark_spec_service.py
Due: check-auth-headers

chore: add hokusai-ml-platform/.gitignore for Python build artifacts (HOK-1361)
  hokusai-ml-platform/.gitignore
Due: none

fix: resolve all ruff violations in mlflow_proxy_improved.py (HOK-1360)
  src/api/routes/mlflow_proxy_improved.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

chore: untrack hokusai-ml-platform/build/lib and ignore build artifacts (HOK-1361)
  hokusai-ml-platform/.gitignore
Due: none

chore: add hokusai-ml-platform/.gitignore for Python build artifacts (HOK-1361) (#144)
  hokusai-ml-platform/.gitignore
Due: none

fix: resolve all ruff violations in mlflow_proxy_improved.py (HOK-1360) (#146)
  src/api/routes/mlflow_proxy_improved.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

feat: Add eval_spec JSONB column and API schemas to BenchmarkSpec (HOK-1500)
  docs/custom-outcome-evals-mlflow-foundation.md
  migrations/versions/014_add_eval_spec_to_benchmark_specs.py
  src/api/models/benchmark_spec.py
  src/api/routes/benchmarks.py
  src/api/schemas/__init__.py
  src/api/schemas/benchmark_spec.py
  src/api/services/governance/benchmark_specs.py
  tests/integration/test_benchmark_api.py
  tests/unit/test_benchmark_routes.py
  tests/unit/test_benchmark_spec_schemas.py
  tests/unit/test_benchmark_spec_service.py
Due: check-auth-headers

HOK-1470: Send api_schema in model registration webhook to hokusai-site
  features/send-api-schema-in-the-model-registration-webhook-to-hokusai-site/.coding-complete
  features/send-api-schema-in-the-model-registration-webhook-to-hokusai-site/.coding-result.json
  features/send-api-schema-in-the-model-registration-webhook-to-hokusai-site/.initial-route.json
  features/send-api-schema-in-the-model-registration-webhook-to-hokusai-site/.plan-approved
  features/send-api-schema-in-the-model-registration-webhook-to-hokusai-site/.planning-result.json
  features/send-api-schema-in-the-model-registration-webhook-to-hokusai-site/.resolved-phase
  features/send-api-schema-in-the-model-registration-webhook-to-hokusai-site/.routing-complete
  features/send-api-schema-in-the-model-registration-webhook-to-hokusai-site/plan.md
  features/send-api-schema-in-the-model-registration-webhook-to-hokusai-site/selected-task.json
  hokusai-ml-platform/src/hokusai/cli.py
  hokusai-ml-platform/tests/unit/test_cli_site_notification.py
  pyproject.toml
  src/events/api_schema.py
  src/events/publishers/webhook_publisher.py
  src/events/schemas.py
  src/services/enhanced_model_registry.py
  src/services/model_registry_hooks.py
  tests/integration/test_webhook_integration.py
  tests/unit/test_api_schema.py
  tests/unit/test_model_registry_hooks.py
  tests/unit/test_webhook_publisher.py
Due: check-auth-headers, check-mlflow-auth

HOK-1470: Send api_schema in model registration webhook to hokusai-site (#147)
  features/send-api-schema-in-the-model-registration-webhook-to-hokusai-site/.coding-complete
  features/send-api-schema-in-the-model-registration-webhook-to-hokusai-site/.coding-result.json
  features/send-api-schema-in-the-model-registration-webhook-to-hokusai-site/.initial-route.json
  features/send-api-schema-in-the-model-registration-webhook-to-hokusai-site/.plan-approved
  features/send-api-schema-in-the-model-registration-webhook-to-hokusai-site/.planning-result.json
  features/send-api-schema-in-the-model-registration-webhook-to-hokusai-site/.resolved-phase
  features/send-api-schema-in-the-model-registration-webhook-to-hokusai-site/.routing-complete
  features/send-api-schema-in-the-model-registration-webhook-to-hokusai-site/plan.md
  features/send-api-schema-in-the-model-registration-webhook-to-hokusai-site/selected-task.json
  hokusai-ml-platform/src/hokusai/cli.py
  hokusai-ml-platform/tests/unit/test_cli_site_notification.py
  pyproject.toml
  src/events/api_schema.py
  src/events/publishers/webhook_publisher.py
  src/events/schemas.py
  src/services/enhanced_model_registry.py
  src/services/model_registry_hooks.py
  tests/integration/test_webhook_integration.py
  tests/unit/test_api_schema.py
  tests/unit/test_model_registry_hooks.py
  tests/unit/test_webhook_publisher.py
Due: check-auth-headers, check-mlflow-auth

feat: Add eval_spec JSONB column and API schemas to BenchmarkSpec (HOK-1500) (#148)
  docs/custom-outcome-evals-mlflow-foundation.md
  migrations/versions/014_add_eval_spec_to_benchmark_specs.py
  src/api/models/benchmark_spec.py
  src/api/routes/benchmarks.py
  src/api/schemas/__init__.py
  src/api/schemas/benchmark_spec.py
  src/api/services/governance/benchmark_specs.py
  tests/integration/test_benchmark_api.py
  tests/unit/test_benchmark_routes.py
  tests/unit/test_benchmark_spec_schemas.py
  tests/unit/test_benchmark_spec_service.py
Due: check-auth-headers

Wire alembic migrations into CI/CD before ECS deploy
  .github/workflows/deploy.yml
  Dockerfile.api
  alembic.ini
  migrations/env.py
  migrations/script.py.mako
  scripts/run_migrations.sh
Due: check-auth-headers

Path conditions:
  check-auth-headers: any of: \.(py|ts|js)$
  validate-proxy-config: any of: src/api/proxy\.py$
  check-mlflow-auth: any of: (mlflow|registry).*\.py$
  auth-test-reminder: any of: (proxy|auth|mlflow).*\.(py|ts|js)$
