Repository Hokusai-protocol/hokusai-data-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-auth-headers, validate-proxy-config, check-mlflow-auth, auth-test-reminder

.pre-commit-config.yaml:

repos:
  # Python code quality checks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Custom auth-related hooks
  - repo: local
    hooks:
      - id: check-auth-headers
        name: Check Authentication Headers
        entry: scripts/hooks/check-auth-headers.sh
        language: script
        files: '\.(py|ts|js)$'
        pass_filenames: true
        description: Ensure auth headers are properly forwarded in API calls
      
      - id: validate-proxy-config
        name: Validate Proxy Configuration
        entry: scripts/hooks/validate-proxy.py
        language: python
        files: 'src/api/proxy\.py$'
        additional_dependencies: [pyyaml]
        description: Verify proxy configurations maintain auth headers
      
      - id: check-mlflow-auth
        name: Check MLflow Authentication
        entry: scripts/hooks/check-mlflow-auth.py
        language: python
        files: '(mlflow|registry).*\.py$'
        additional_dependencies: [pyyaml]
        description: Ensure MLflow operations include authentication
      
      - id: auth-test-reminder
        name: Auth Test Reminder
        entry: scripts/hooks/auth-test-reminder.sh
        language: script
        files: '(proxy|auth|mlflow).*\.(py|ts|js)$'
        pass_filenames: false
        description: Remind to run auth tests after changes

fix: Address self-review findings (iteration 1)
  src/api/endpoints/model_30_adapter.py
  src/models/technical_task_router.py
  tests/unit/test_model_30_adapter.py
Due: check-auth-headers

chore: reconcile auto/integration after squash promotion
  .env.example
  .env.production
  docs/model-30-serving.md
  pytest.ini
  scripts/model_30/register_technical_task_router.py
  src/api/endpoints/model_30_adapter.py
  src/models/technical_task_router.py
  tests/conftest.py
  tests/integration/test_model_30_mlflow_serving.py
  tests/unit/models/technical_task_router_fixture.csv
  tests/unit/models/test_technical_task_router.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_model_serving.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

chore: reconcile auto/integration after squash promotion (#202)
  .env.example
  .env.production
  docs/model-30-serving.md
  pytest.ini
  scripts/model_30/register_technical_task_router.py
  src/api/endpoints/model_30_adapter.py
  src/models/technical_task_router.py
  tests/conftest.py
  tests/integration/test_model_30_mlflow_serving.py
  tests/unit/models/technical_task_router_fixture.csv
  tests/unit/models/test_technical_task_router.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_model_serving.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

Fix model 30 cold-load reliability
  src/api/endpoints/model_30_adapter.py
  src/api/endpoints/model_serving.py
  tests/integration/test_model_30_mlflow_serving.py
  tests/unit/test_model_30_adapter.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

chore: reconcile auto/integration after squash promotion
  src/api/endpoints/model_30_adapter.py
  src/api/endpoints/model_serving.py
  tests/integration/test_model_30_mlflow_serving.py
  tests/unit/test_model_30_adapter.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

chore: reconcile auto/integration after squash promotion (#204)
  src/api/endpoints/model_30_adapter.py
  src/api/endpoints/model_serving.py
  tests/integration/test_model_30_mlflow_serving.py
  tests/unit/test_model_30_adapter.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

Centralize MLflow URL resolution
  .env.example
  src/api/endpoints/model_30_adapter.py
  src/api/main.py
  src/api/proxy.py
  src/api/routes/health_mlflow.py
  src/api/routes/mlflow_proxy_improved.py
  src/api/utils/config.py
  src/cli/model.py
  src/evals/openai_adapter.py
  src/pipeline/hokusai_pipeline_enhanced.py
  src/services/model_registry.py
  src/utils/config.py
  src/utils/mlflow_config.py
  src/utils/mlflow_dynamic_config.py
  src/utils/mlflow_url.py
  tests/conftest.py
  tests/unit/services/test_model_registry.py
  tests/unit/test_api_startup_prewarm.py
  tests/unit/test_mlflow_url.py
  tests/unit/test_model_registry.py
Due: check-auth-headers, validate-proxy-config, check-mlflow-auth, auth-test-reminder

fix: Address self-review findings (iteration 1)
  src/api/main.py
  tests/unit/test_api_startup_prewarm.py
Due: check-auth-headers

fix: Assert no artifact downloads in pre-warm test (REQ-F8)
  tests/unit/test_api_startup_prewarm.py
Due: check-auth-headers

HOK-1883: MLflow URL single canonical source + startup pre-warm (#205)
  .env.example
  src/api/endpoints/model_30_adapter.py
  src/api/main.py
  src/api/proxy.py
  src/api/routes/health_mlflow.py
  src/api/routes/mlflow_proxy_improved.py
  src/api/utils/config.py
  src/cli/model.py
  src/evals/openai_adapter.py
  src/pipeline/hokusai_pipeline_enhanced.py
  src/services/model_registry.py
  src/utils/config.py
  src/utils/mlflow_config.py
  src/utils/mlflow_dynamic_config.py
  src/utils/mlflow_url.py
  tests/conftest.py
  tests/unit/services/test_model_registry.py
  tests/unit/test_api_startup_prewarm.py
  tests/unit/test_mlflow_url.py
  tests/unit/test_model_registry.py
Due: check-auth-headers, validate-proxy-config, check-mlflow-auth, auth-test-reminder

Centralize MLflow mTLS startup config
  src/api/endpoints/model_30_adapter.py
  src/api/main.py
  src/api/routes/models.py
  src/cli/model.py
  src/evals/openai_adapter.py
  src/modules/baseline_loader.py
  src/modules/model_training.py
  src/services/dspy_pipeline_executor.py
  src/services/model_registry.py
  src/services/trace_loader.py
  src/utils/mlflow_config.py
  tests/unit/services/test_model_registry.py
  tests/unit/test_api_endpoints_unit.py
  tests/unit/test_api_startup_prewarm.py
  tests/unit/test_baseline_loader.py
  tests/unit/test_dspy_pipeline_executor.py
  tests/unit/test_mlflow_config.py
  tests/unit/test_mlflow_config_dns_integration.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_model_registry.py
  tests/unit/test_model_training.py
  tests/unit/test_mtls_config.py
  tests/unit/test_tokenized_registration_event_endpoint.py
  tests/unit/test_utils_mlflow_config.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

Centralize MLflow mTLS startup config (#206)
  src/api/endpoints/model_30_adapter.py
  src/api/main.py
  src/api/routes/models.py
  src/cli/model.py
  src/evals/openai_adapter.py
  src/modules/baseline_loader.py
  src/modules/model_training.py
  src/services/dspy_pipeline_executor.py
  src/services/model_registry.py
  src/services/trace_loader.py
  src/utils/mlflow_config.py
  tests/unit/services/test_model_registry.py
  tests/unit/test_api_endpoints_unit.py
  tests/unit/test_api_startup_prewarm.py
  tests/unit/test_baseline_loader.py
  tests/unit/test_dspy_pipeline_executor.py
  tests/unit/test_mlflow_config.py
  tests/unit/test_mlflow_config_dns_integration.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_model_registry.py
  tests/unit/test_model_training.py
  tests/unit/test_mtls_config.py
  tests/unit/test_tokenized_registration_event_endpoint.py
  tests/unit/test_utils_mlflow_config.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

Generalize model serving registry
  src/api/endpoints/model_30_adapter.py
  src/api/endpoints/model_registry.py
  src/api/endpoints/model_registry_entries.py
  src/api/endpoints/model_serving.py
  src/api/main.py
  tests/integration/test_model_30_mlflow_serving.py
  tests/unit/test_api_startup_prewarm.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_model_serving.py
  tests/unit/test_model_serving_auth.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

Generalize model serving registry (#207)
  src/api/endpoints/model_30_adapter.py
  src/api/endpoints/model_registry.py
  src/api/endpoints/model_registry_entries.py
  src/api/endpoints/model_serving.py
  src/api/main.py
  tests/integration/test_model_30_mlflow_serving.py
  tests/unit/test_api_startup_prewarm.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_model_serving.py
  tests/unit/test_model_serving_auth.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

Add MLflow SDK health check and mTLS CI coverage
  .github/workflows/mlflow-mtls-integration.yml
  docker-compose.health-test.yml
  pytest.ini
  scripts/api-entrypoint.sh
  scripts/mlflow-entrypoint.sh
  scripts/model_30/seed_ci_mlflow_model.py
  scripts/postgres/init-health-test-databases.sh
  src/api/endpoints/model_serving.py
  src/api/routes/health_mlflow.py
  src/utils/mlflow_health.py
  tests/integration/test_model_30_mlflow_serving.py
  tests/unit/test_health_mlflow.py
  tests/unit/test_model_serving.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

fix: Address self-review findings (iteration 1)
  scripts/model_30/seed_ci_mlflow_model.py
  src/api/main.py
  tests/unit/test_health_mlflow.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

fix: Resolve ready-check failure (attempt 1/3)
  .github/workflows/mlflow-mtls-integration.yml
  Dockerfile.api
  docker-compose.health-test.yml
  scripts/model_30/seed_ci_mlflow_model.py
  scripts/postgres/init-health-test-databases.sql
  tests/conftest.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

ci: share MLflow env for registration workflow
  .github/workflows/model-registration-test.yml
Due: none

HOK-1912 define model 30 v2 routing contract
  data/test_fixtures/model_30_curated_payload.json
  docs/model-30-serving.md
  schema/examples/technical_task_router_row.disallowed_model.v1.json
  schema/examples/technical_task_router_row.failed.v1.json
  schema/examples/technical_task_router_row.invalid_negative_cost.v1.json
  schema/examples/technical_task_router_row.over_budget.v1.json
  schema/examples/technical_task_router_row.success.v1.json
  scripts/model_30/register_technical_task_router.py
  scripts/model_30/seed_ci_mlflow_model.py
  src/api/endpoints/model_30_adapter.py
  src/api/schemas/__init__.py
  src/api/schemas/technical_task_router_inputs.py
  tests/integration/test_model_30_mlflow_serving.py
  tests/unit/models/technical_task_router_fixture.csv
  tests/unit/models/test_technical_task_router.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_model_serving.py
  tests/unit/test_model_serving_auth.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

HOK-1914 HOK-1915 implement model 30 strategy routing diagnostics
  docs/model-30-serving.md
  docs/technical-task-router-benchmark.md
  schema/examples/technical_task_router_spec.v1.json
  schema/technical_task_router_row.v1.json
  scripts/model_30/register_technical_task_router.py
  src/api/endpoints/model_30_adapter.py
  src/evaluation/custom_eval.py
  src/evaluation/scorers/builtin.py
  src/models/technical_task_router.py
  tests/integration/test_technical_task_router_custom_eval_dispatch.py
  tests/unit/models/test_technical_task_router.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_scorer_registry.py
  tests/unit/test_technical_task_router_scorers.py
Due: check-auth-headers, check-mlflow-auth

HOK-1917 promote model 30 v2 router
  docs/model-30-serving.md
  scripts/model_30/promote_technical_task_router.py
  src/api/endpoints/model_30_adapter.py
  src/api/endpoints/model_serving.py
  tests/integration/test_model_30_mlflow_serving.py
  tests/unit/models/test_technical_task_router_promotion.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_model_serving.py
  tests/unit/test_model_serving_auth.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

HOK-1913 clean and validate router training data
  docs/model-30-serving.md
  docs/model-30-training-data.md
  scripts/model_30/clean_router_dataset.py
  scripts/model_30/register_technical_task_router.py
  tests/unit/models/test_technical_task_router.py
Due: check-auth-headers

HOK-1922 establish model 30 reward baseline evaluation
  docs/model-30-training-data.md
  scripts/model_30/evaluate_technical_task_router.py
  scripts/model_30/register_technical_task_router.py
  tests/unit/models/test_technical_task_router.py
  tests/unit/models/test_technical_task_router_evaluation.py
Due: check-auth-headers

Model 30 v2 technical task router (#210)
  data/test_fixtures/model_30_curated_payload.json
  docs/model-30-serving.md
  docs/model-30-training-data.md
  docs/technical-task-router-benchmark.md
  schema/examples/technical_task_router_row.disallowed_model.v1.json
  schema/examples/technical_task_router_row.failed.v1.json
  schema/examples/technical_task_router_row.invalid_negative_cost.v1.json
  schema/examples/technical_task_router_row.over_budget.v1.json
  schema/examples/technical_task_router_row.success.v1.json
  schema/examples/technical_task_router_spec.v1.json
  schema/technical_task_router_row.v1.json
  scripts/model_30/clean_router_dataset.py
  scripts/model_30/evaluate_technical_task_router.py
  scripts/model_30/promote_technical_task_router.py
  scripts/model_30/register_technical_task_router.py
  scripts/model_30/seed_ci_mlflow_model.py
  src/api/endpoints/model_30_adapter.py
  src/api/endpoints/model_serving.py
  src/api/schemas/__init__.py
  src/api/schemas/technical_task_router_inputs.py
  src/evaluation/custom_eval.py
  src/evaluation/scorers/builtin.py
  src/models/technical_task_router.py
  tests/integration/test_model_30_mlflow_serving.py
  tests/integration/test_technical_task_router_custom_eval_dispatch.py
  tests/unit/models/technical_task_router_fixture.csv
  tests/unit/models/test_technical_task_router.py
  tests/unit/models/test_technical_task_router_evaluation.py
  tests/unit/models/test_technical_task_router_promotion.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_model_serving.py
  tests/unit/test_model_serving_auth.py
  tests/unit/test_scorer_registry.py
  tests/unit/test_technical_task_router_scorers.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

HOK-1916 strip internal router support field
  src/api/endpoints/model_30_adapter.py
  tests/unit/test_model_30_adapter.py
Due: check-auth-headers

HOK-1916 strip internal router support field (#211)
  src/api/endpoints/model_30_adapter.py
  tests/unit/test_model_30_adapter.py
Due: check-auth-headers

Fix usage debit payload shape
  src/middleware/auth.py
  tests/unit/test_middleware/test_auth_middleware_billing.py
Due: check-auth-headers, auth-test-reminder

Fix usage debit payload shape (#212)
  src/middleware/auth.py
  tests/unit/test_middleware/test_auth_middleware_billing.py
Due: check-auth-headers, auth-test-reminder

fix: Address self-review findings (iteration 1)
  src/middleware/auth.py
  tests/unit/test_middleware/test_auth_middleware_billing.py
Due: check-auth-headers, auth-test-reminder

Surface failed usage debit responses
  src/middleware/auth.py
  tests/unit/test_middleware/test_auth_middleware_billing.py
Due: check-auth-headers, auth-test-reminder

HOK-1934: Surface failed usage debit responses (#213)
  src/middleware/auth.py
  tests/unit/test_middleware/test_auth_middleware_billing.py
Due: check-auth-headers, auth-test-reminder

fix: Address self-review findings (iteration 2)
  src/api/middleware/validation_logging.py
Due: check-auth-headers

fix: Address self-review findings (iteration 1)
  src/api/endpoints/model_serving.py
  src/api/middleware/validation_logging.py
Due: check-auth-headers

Add structured logging for model 30 validation 422s
  docs/model-30-serving.md
  features/investigate-model-30-request-contract-422s/INVESTIGATION.md
  src/api/endpoints/model_serving.py
  src/api/main.py
  src/api/middleware/validation_logging.py
  tests/unit/test_validation_logging.py
Due: check-auth-headers

HOK-1943: Add structured logging for model 30 validation 422s (#214)
  docs/model-30-serving.md
  features/investigate-model-30-request-contract-422s/INVESTIGATION.md
  src/api/endpoints/model_serving.py
  src/api/main.py
  src/api/middleware/validation_logging.py
  tests/unit/test_validation_logging.py
Due: check-auth-headers

Add Sentry initialization to API
  .env.example
  pyproject.toml
  requirements-api.txt
  src/api/main.py
  tests/api/test_sentry_init.py
Due: check-auth-headers

Classify model 30 MLflow failures
  src/api/endpoints/model_30_adapter.py
  src/api/endpoints/model_serving.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_model_serving.py
Due: check-auth-headers

fix: Address self-review findings (iteration 1)
  src/api/main.py
  tests/api/test_sentry_init.py
Due: check-auth-headers
