Repository Hokusai-protocol/hokusai-data-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-auth-headers, validate-proxy-config, check-mlflow-auth, auth-test-reminder

check-auth-headers:
  name: Check Authentication Headers
  entry: scripts/hooks/check-auth-headers.sh
  language: script
  pass_filenames: true
  description: Ensure auth headers are properly forwarded in API calls

validate-proxy-config:
  name: Validate Proxy Configuration
  entry: scripts/hooks/validate-proxy.py
  language: python
  additional_dependencies:
  - pyyaml
  description: Verify proxy configurations maintain auth headers

check-mlflow-auth:
  name: Check MLflow Authentication
  entry: scripts/hooks/check-mlflow-auth.py
  language: python
  additional_dependencies:
  - pyyaml
  description: Ensure MLflow operations include authentication

auth-test-reminder:
  name: Auth Test Reminder
  entry: scripts/hooks/auth-test-reminder.sh
  language: script
  pass_filenames: false
  description: Remind to run auth tests after changes

Add contributor attribution logging for DSPy executions (#113)
  src/evaluation/deltaone_evaluator.py
  src/services/dspy_pipeline_executor.py
  src/utils/contributor_logger.py
  tests/evaluation/test_deltaone_evaluator.py
  tests/unit/test_contributor_logger.py
  tests/unit/test_dspy_pipeline_executor.py
Due: check-auth-headers

HOK-336: add reusable MLflow judge templates and tests (#114)
  src/evaluation/judges/README.md
  src/evaluation/judges/__init__.py
  src/evaluation/judges/base.py
  src/evaluation/judges/classification.py
  src/evaluation/judges/deepeval_integration.py
  src/evaluation/judges/generation.py
  src/evaluation/judges/ranking.py
  src/evaluation/judges/session_scorer.py
  tests/evaluation/judges/__init__.py
  tests/evaluation/judges/test_base.py
  tests/evaluation/judges/test_classification.py
  tests/evaluation/judges/test_generation.py
  tests/evaluation/judges/test_ranking.py
Due: check-auth-headers

HOK-335: add comprehensive HEK unit, integration, and e2e tests (#115)
  tests/conftest.py
  tests/e2e/test_evaluation_workflow.py
  tests/e2e/test_queue_processing.py
  tests/e2e/test_webhook_notifications.py
  tests/integration/test_hem_creation.py
  tests/integration/test_mlflow_evaluation.py
  tests/unit/test_bootstrap_ci.py
  tests/unit/test_cooldown.py
  tests/unit/test_dataset_hash.py
  tests/unit/test_delta_one.py
  tests/unit/test_delta_one_edges.py
  tests/unit/test_mlflow_evaluation_edges.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

HOK-168: add token mint hook stub with audit logging and tests
  src/api/schemas/__init__.py
  src/api/schemas/token_mint.py
  src/api/services/__init__.py
  src/api/services/token_mint_hook.py
  tests/unit/test_token_mint_hook.py
Due: check-auth-headers

HOK-337: add HEK user docs, migration guide, and evaluation notebooks
  .markdownlint.json
  docs/README.md
  docs/evaluation/README.md
  docs/evaluation/api-reference.md
  docs/evaluation/cicd-integration.md
  docs/evaluation/concepts.md
  docs/evaluation/cost-optimization.md
  docs/evaluation/custom-providers.md
  docs/evaluation/dataset-management.md
  docs/evaluation/migration-guide.md
  docs/evaluation/quickstart.md
  docs/evaluation/troubleshooting.md
  examples/evaluation/01_quickstart.ipynb
  examples/evaluation/02_custom_provider.ipynb
  examples/evaluation/03_dataset_preparation.ipynb
  examples/evaluation/04_mlflow_judges.ipynb
Due: none

HOK-168: add token mint hook stub with audit logging and tests (#116)
  src/api/schemas/__init__.py
  src/api/schemas/token_mint.py
  src/api/services/__init__.py
  src/api/services/token_mint_hook.py
  tests/unit/test_token_mint_hook.py
Due: check-auth-headers

HOK-337: add HEK user docs, migration guide, and evaluation notebooks (#117)
  .markdownlint.json
  docs/README.md
  docs/evaluation/README.md
  docs/evaluation/api-reference.md
  docs/evaluation/cicd-integration.md
  docs/evaluation/concepts.md
  docs/evaluation/cost-optimization.md
  docs/evaluation/custom-providers.md
  docs/evaluation/dataset-management.md
  docs/evaluation/migration-guide.md
  docs/evaluation/quickstart.md
  docs/evaluation/troubleshooting.md
  examples/evaluation/01_quickstart.ipynb
  examples/evaluation/02_custom_provider.ipynb
  examples/evaluation/03_dataset_preparation.ipynb
  examples/evaluation/04_mlflow_judges.ipynb
Due: none

HOK-167: add inference usage and deferred outcome logging infrastructure
  migrations/versions/007_add_inference_logs.py
  pyproject.toml
  src/api/dependencies.py
  src/api/endpoints/model_serving.py
  src/api/main.py
  src/api/models/__init__.py
  src/api/models/inference_log.py
  src/api/routes/__init__.py
  src/api/routes/outcomes.py
  src/api/schemas/__init__.py
  src/api/schemas/inference_log.py
  src/api/services/contributor_logger.py
  tests/integration/test_inference_logging.py
  tests/unit/test_contributor_logger.py
Due: check-auth-headers

HOK-167: add inference usage and deferred outcome logging infrastructure (#118)
  migrations/versions/007_add_inference_logs.py
  pyproject.toml
  src/api/dependencies.py
  src/api/endpoints/model_serving.py
  src/api/main.py
  src/api/models/__init__.py
  src/api/models/inference_log.py
  src/api/routes/__init__.py
  src/api/routes/outcomes.py
  src/api/schemas/__init__.py
  src/api/schemas/inference_log.py
  src/api/services/contributor_logger.py
  tests/integration/test_inference_logging.py
  tests/unit/test_contributor_logger.py
Due: check-auth-headers

HOK-762: add Kaggle benchmark adapter and worker integration
  src/evaluation/__init__.py
  src/evaluation/adapters/__init__.py
  src/evaluation/adapters/base.py
  src/evaluation/adapters/kaggle.py
  src/evaluation/adapters/registry.py
  src/evaluation/interfaces.py
  src/services/evaluation_worker.py
  tests/evaluation/adapters/test_kaggle_adapter.py
  tests/evaluation/adapters/test_registry.py
  tests/evaluation/test_interfaces.py
  tests/unit/test_evaluation_worker_adapter_integration.py
Due: check-auth-headers, check-mlflow-auth

test: reduce hidden MLflow regression risk in pytest defaults
  pytest.ini
  tests/README.md
  tests/conftest.py
  tests/unit/test_mlflow_config.py
  tests/unit/test_utils_mlflow_config.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

HOK-761: add immutable BenchmarkSpec entity with API, CLI, and DeltaOne integration
  cli/src/cli.py
  migrations/versions/008_add_benchmark_specs.py
  src/api/dependencies.py
  src/api/main.py
  src/api/models/__init__.py
  src/api/models/benchmark_spec.py
  src/api/routes/__init__.py
  src/api/routes/benchmarks.py
  src/api/services/governance/__init__.py
  src/api/services/governance/benchmark_specs.py
  src/cli/hoku_eval.py
  src/evaluation/deltaone_evaluator.py
  src/evaluation/manifest.py
  tests/cli/test_hoku_eval.py
  tests/evaluation/test_deltaone_evaluator.py
  tests/integration/test_benchmark_api.py
  tests/unit/test_benchmark_spec_service.py
Due: check-auth-headers

HOK-762: add Kaggle benchmark adapter and worker integration (#120)
  src/evaluation/__init__.py
  src/evaluation/adapters/__init__.py
  src/evaluation/adapters/base.py
  src/evaluation/adapters/kaggle.py
  src/evaluation/adapters/registry.py
  src/evaluation/interfaces.py
  src/services/evaluation_worker.py
  tests/evaluation/adapters/test_kaggle_adapter.py
  tests/evaluation/adapters/test_registry.py
  tests/evaluation/test_interfaces.py
  tests/unit/test_evaluation_worker_adapter_integration.py
Due: check-auth-headers, check-mlflow-auth

Replace hoku CLI references with hokusai
  cli/src/cli.py
  docs/evaluation/cicd-integration.md
  openai_evals_plan.md
  src/cli/attestation.py
  src/cli/hokusai_eval.py
  src/cli/resume.py
  tests/cli/test_attestation.py
  tests/cli/test_hokusai_eval.py
Due: check-auth-headers

HOK-761: add immutable BenchmarkSpec contract with API, CLI, and DeltaOne bindings (#121)
  cli/src/cli.py
  docs/evaluation/cicd-integration.md
  migrations/versions/008_add_benchmark_specs.py
  openai_evals_plan.md
  src/api/dependencies.py
  src/api/main.py
  src/api/models/__init__.py
  src/api/models/benchmark_spec.py
  src/api/routes/__init__.py
  src/api/routes/benchmarks.py
  src/api/services/governance/__init__.py
  src/api/services/governance/benchmark_specs.py
  src/cli/attestation.py
  src/cli/hokusai_eval.py
  src/cli/resume.py
  src/evaluation/deltaone_evaluator.py
  src/evaluation/manifest.py
  tests/cli/test_attestation.py
  tests/cli/test_hokusai_eval.py
  tests/evaluation/test_deltaone_evaluator.py
  tests/integration/test_benchmark_api.py
  tests/unit/test_benchmark_spec_service.py
Due: check-auth-headers

HOK-764: add used-attestation registry and mint orchestration safeguards
  migrations/versions/009_add_used_attestation_and_score_history.py
  src/api/services/attestation_registry.py
  src/api/services/deltaone_mint_orchestrator.py
  src/api/services/score_history_audit.py
  src/cli/attestation.py
  tests/e2e/test_deltaone_mint_orchestrator.py
  tests/unit/test_attestation_registry.py
Due: check-auth-headers, check-mlflow-auth

HOK-763: wire DeltaOne decisions to mint orchestrator and canonical advancement
  src/api/services/evaluation_service.py
  src/evaluation/__init__.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/evaluation/webhook_config.py
  src/evaluation/webhook_delivery.py
  tests/api/services/test_evaluation_service.py
  tests/evaluation/test_deltaone_mint_orchestrator.py
  tests/unit/test_deltaone_webhooks.py
Due: check-auth-headers

HOK-763: wire DeltaOne decisions to mint orchestrator and canonical advancement (#123)
  src/api/services/evaluation_service.py
  src/evaluation/__init__.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/evaluation/webhook_config.py
  src/evaluation/webhook_delivery.py
  tests/api/services/test_evaluation_service.py
  tests/evaluation/test_deltaone_mint_orchestrator.py
  tests/unit/test_deltaone_webhooks.py
Due: check-auth-headers

HOK-764: add used-attestation registry and mint orchestration safeguards (#122)
  migrations/versions/009_add_used_attestation_and_score_history.py
  src/api/services/attestation_registry.py
  src/api/services/deltaone_mint_orchestrator.py
  src/api/services/score_history_audit.py
  src/cli/attestation.py
  tests/e2e/test_deltaone_mint_orchestrator.py
  tests/unit/test_attestation_registry.py
Due: check-auth-headers, check-mlflow-auth

HOK-914: add provider enum column to BenchmarkSpec model
  migrations/versions/010_add_benchmark_spec_provider.py
  src/api/models/benchmark_spec.py
  src/api/routes/benchmarks.py
  src/api/services/governance/benchmark_specs.py
Due: check-auth-headers

HOK-914: add unit tests for provider field validation and defaults
  tests/unit/test_benchmark_spec_service.py
Due: check-auth-headers

HOK-914: add provider enum column to BenchmarkSpec model (#124)
  migrations/versions/010_add_benchmark_spec_provider.py
  src/api/models/benchmark_spec.py
  src/api/routes/benchmarks.py
  src/api/services/governance/benchmark_specs.py
  tests/unit/test_benchmark_spec_service.py
Due: check-auth-headers

HOK-915: add BenchmarkSpec Pydantic schemas for API layer
  src/api/schemas/__init__.py
  src/api/schemas/benchmark_spec.py
  tests/unit/test_benchmark_spec_schemas.py
Due: check-auth-headers

HOK-915: add BenchmarkSpec Pydantic schemas for API layer (#125)
  src/api/schemas/__init__.py
  src/api/schemas/benchmark_spec.py
  tests/unit/test_benchmark_spec_schemas.py
Due: check-auth-headers

HOK-916: add BenchmarkSpec CRUD API endpoints
  src/api/routes/benchmarks.py
  src/api/services/governance/benchmark_specs.py
  tests/unit/test_benchmark_routes.py
Due: check-auth-headers

HOK-916: add BenchmarkSpec CRUD API endpoints (#126)
  src/api/routes/benchmarks.py
  src/api/services/governance/benchmark_specs.py
  tests/unit/test_benchmark_routes.py
Due: check-auth-headers

HOK-919: wire BenchmarkSpec into evaluation flow
  src/api/dependencies.py
  src/api/schemas/evaluations.py
  src/api/services/evaluation_service.py
  tests/unit/test_evaluation_service_benchmark.py
Due: check-auth-headers

HOK-919: wire BenchmarkSpec into evaluation flow (#127)
  src/api/dependencies.py
  src/api/schemas/evaluations.py
  src/api/services/evaluation_service.py
  tests/unit/test_evaluation_service_benchmark.py
Due: check-auth-headers

HOK-917: add S3 dataset upload endpoint for benchmark specs
  .env.example
  src/api/routes/benchmarks.py
  src/api/schemas/benchmark_spec.py
  src/api/services/governance/benchmark_specs.py
  tests/unit/test_benchmark_upload.py
Due: check-auth-headers

HOK-920: add EvaluationSchedule model, schemas, service, and API endpoints
  migrations/versions/011_add_evaluation_schedule.py
  pyproject.toml
  requirements-api.txt
  src/api/dependencies.py
  src/api/main.py
  src/api/models/__init__.py
  src/api/models/evaluation_schedule.py
  src/api/routes/__init__.py
  src/api/routes/evaluation_schedule.py
  src/api/schemas/__init__.py
  src/api/schemas/evaluation_schedule.py
  src/api/services/governance/evaluation_schedule.py
  task-packet-details.md
  tests/unit/test_evaluation_schedule_routes.py
  tests/unit/test_evaluation_schedule_schemas.py
  tests/unit/test_evaluation_schedule_service.py
Due: check-auth-headers

HOK-917: add S3 dataset upload endpoint for benchmark specs (#128)
  .env.example
  src/api/routes/benchmarks.py
  src/api/schemas/benchmark_spec.py
  src/api/services/governance/benchmark_specs.py
  tests/unit/test_benchmark_upload.py
Due: check-auth-headers

fix: add response_class=Response to 204 DELETE endpoints for FastAPI compat
  src/api/routes/benchmarks.py
  src/api/routes/evaluation_schedule.py
Due: check-auth-headers

fix: return Response(204) directly instead of decorator status_code
  src/api/routes/benchmarks.py
  src/api/routes/evaluation_schedule.py
Due: check-auth-headers

HOK-920: add EvaluationSchedule configuration model and API (#129)
  migrations/versions/011_add_evaluation_schedule.py
  pyproject.toml
  requirements-api.txt
  src/api/dependencies.py
  src/api/main.py
  src/api/models/__init__.py
  src/api/models/evaluation_schedule.py
  src/api/routes/__init__.py
  src/api/routes/benchmarks.py
  src/api/routes/evaluation_schedule.py
  src/api/schemas/__init__.py
  src/api/schemas/evaluation_schedule.py
  src/api/services/governance/evaluation_schedule.py
  task-packet-details.md
  tests/unit/test_evaluation_schedule_routes.py
  tests/unit/test_evaluation_schedule_schemas.py
  tests/unit/test_evaluation_schedule_service.py
Due: check-auth-headers

HOK-921: implement scheduled evaluation trigger service
  src/api/main.py
  src/api/services/evaluation_scheduler.py
  src/api/services/governance/evaluation_schedule.py
  tests/unit/test_evaluation_scheduler.py
Due: check-auth-headers

HOK-921: implement scheduled evaluation trigger service (#130)
  src/api/main.py
  src/api/services/evaluation_scheduler.py
  src/api/services/governance/evaluation_schedule.py
  tests/unit/test_evaluation_scheduler.py
Due: check-auth-headers

HOK-918: add DatasetValidator service for uploaded benchmark datasets
  src/api/dependencies.py
  src/api/routes/benchmarks.py
  src/api/services/dataset_validator.py
  src/api/services/governance/benchmark_specs.py
  tests/unit/test_benchmark_upload.py
  tests/unit/test_dataset_validator.py
Due: check-auth-headers

HOK-922: add S3 event listener for new dataset arrivals
  migrations/versions/012_add_dataset_arrivals.py
  src/api/dependencies.py
  src/api/main.py
  src/api/models/__init__.py
  src/api/models/dataset_arrival.py
  src/api/routes/dataset_arrivals.py
  src/services/dataset_arrival_handler.py
  src/services/dataset_arrival_worker.py
  tests/unit/test_dataset_arrival_handler.py
  tests/unit/test_dataset_arrival_routes.py
  tests/unit/test_dataset_arrival_worker.py
Due: check-auth-headers

Path conditions:
  check-auth-headers: any of: \.(py|ts|js)$
  validate-proxy-config: any of: src/api/proxy\.py$
  check-mlflow-auth: any of: (mlflow|registry).*\.py$
  auth-test-reminder: any of: (proxy|auth|mlflow).*\.(py|ts|js)$
