Repository Hokusai-protocol/hokusai-data-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-auth-headers, validate-proxy-config, check-mlflow-auth, auth-test-reminder

check-auth-headers:
  name: Check Authentication Headers
  entry: scripts/hooks/check-auth-headers.sh
  language: script
  pass_filenames: true
  description: Ensure auth headers are properly forwarded in API calls

validate-proxy-config:
  name: Validate Proxy Configuration
  entry: scripts/hooks/validate-proxy.py
  language: python
  additional_dependencies:
  - pyyaml
  description: Verify proxy configurations maintain auth headers

check-mlflow-auth:
  name: Check MLflow Authentication
  entry: scripts/hooks/check-mlflow-auth.py
  language: python
  additional_dependencies:
  - pyyaml
  description: Ensure MLflow operations include authentication

auth-test-reminder:
  name: Auth Test Reminder
  entry: scripts/hooks/auth-test-reminder.sh
  language: script
  pass_filenames: false
  description: Remind to run auth tests after changes

fix: Address self-review findings (iteration 1)
  docs/model-30-serving.md
  features/fix-model-30-serving-reliability-failures/INVESTIGATION.md
  tests/unit/test_model_serving.py
Due: check-auth-headers

fix: Address self-review findings (iteration 2)
  src/api/main.py
  tests/api/test_sentry_init.py
Due: check-auth-headers

fix: Address self-review findings (iteration 3)
  src/api/main.py
Due: check-auth-headers

HOK-1942: classify Model 30 inference failures with structured logging
  docs/model-30-serving.md
  features/fix-model-30-serving-reliability-failures-challenger/.coding-result.json
  features/fix-model-30-serving-reliability-failures-challenger/.initial-route.json
  features/fix-model-30-serving-reliability-failures-challenger/.phase-config.json
  features/fix-model-30-serving-reliability-failures-challenger/.plan-approved
  features/fix-model-30-serving-reliability-failures-challenger/.planning-result.json
  features/fix-model-30-serving-reliability-failures-challenger/.post-expansion-route.json
  features/fix-model-30-serving-reliability-failures-challenger/.resolved-phase
  features/fix-model-30-serving-reliability-failures-challenger/.routing-complete
  features/fix-model-30-serving-reliability-failures-challenger/INVESTIGATION.md
  features/fix-model-30-serving-reliability-failures-challenger/plan.md
  features/fix-model-30-serving-reliability-failures-challenger/selected-task.json
  features/fix-model-30-serving-reliability-failures-challenger/task-packet-details.md
  features/fix-model-30-serving-reliability-failures-challenger/task-packet-header.md
  features/fix-model-30-serving-reliability-failures-challenger/task-packet.md
  src/api/endpoints/model_30_adapter.py
  src/api/endpoints/model_serving.py
  src/api/middleware/validation_logging.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_model_serving.py
Due: check-auth-headers

HOK-1938: Add Sentry SDK to data-pipeline API (#216)
  .env.example
  pyproject.toml
  requirements-api.txt
  src/api/main.py
  tests/api/test_sentry_init.py
Due: check-auth-headers

fix: Add sequential cold→warm path_type tests for REQ-F7
  tests/unit/test_model_30_adapter.py
  tests/unit/test_model_serving.py
Due: check-auth-headers

docs: Add per-failure attribution table to INVESTIGATION.md (REQ-F5)
  features/fix-model-30-serving-reliability-failures-challenger/INVESTIGATION.md
Due: none

fix: Update integration test for Model30InferenceError wrapping
  tests/integration/test_model_30_mlflow_serving.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

fix: Update integration test for Model30InferenceError wrapping (#218)
  tests/integration/test_model_30_mlflow_serving.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

Add model contributions endpoint
  .env.example
  docs/model-30-serving.md
  src/api/dependencies.py
  src/api/endpoints/__init__.py
  src/api/endpoints/contributions.py
  src/api/main.py
  src/api/schemas/contribution.py
  src/api/services/contribution_service.py
  tests/unit/test_contributions_endpoint.py
Due: check-auth-headers

fix: Address self-review findings (iteration 2)
  .env.example
  src/api/services/contribution_service.py
Due: check-auth-headers

HOK-1957: Add /api/v1/models/{model_id}/contributions receiver
  docs/contributions.md
  pyproject.toml
  src/api/endpoints/contributions.py
  src/api/main.py
  src/api/schemas/__init__.py
  src/api/schemas/contribution_submission.py
  tests/unit/test_contributions_endpoint.py
Due: check-auth-headers

fix: Address self-review findings (iteration 3)
  src/api/services/contribution_service.py
Due: check-auth-headers

fix: Address self-review findings (iteration 2)
  src/api/schemas/contribution_submission.py
Due: check-auth-headers

Warm model 30 before serving traffic
  .env.example
  docs/model-30-serving.md
  src/api/endpoints/model_30_adapter.py
  src/api/endpoints/model_serving.py
  src/api/main.py
  src/api/routes/health.py
  src/api/utils/config.py
  tests/unit/test_api_startup_prewarm.py
  tests/unit/test_model_30_warmup.py
  tests/unit/test_model_serving.py
  tests/unit/test_ready_endpoint_model_30.py
Due: check-auth-headers

fix: Address self-review findings (iteration 2)
  prompt-registry.jsonl
  src/api/endpoints/model_30_adapter.py
  src/api/endpoints/model_serving.py
Due: check-auth-headers

fix: Address self-review findings (iteration 3)
  prompt-registry.jsonl
  src/api/endpoints/model_serving.py
Due: check-auth-headers

HOK-1874: Warm Model 30 at startup and gate /ready on warmup state (#221)
  .env.example
  docs/model-30-serving.md
  prompt-registry.jsonl
  src/api/endpoints/model_30_adapter.py
  src/api/endpoints/model_serving.py
  src/api/main.py
  src/api/routes/health.py
  src/api/utils/config.py
  tests/unit/test_api_startup_prewarm.py
  tests/unit/test_model_30_warmup.py
  tests/unit/test_model_serving.py
  tests/unit/test_ready_endpoint_model_30.py
Due: check-auth-headers

chore: promote auto/integration to main (#222)
  .env.example
  docs/model-30-serving.md
  features/fix-model-30-serving-reliability-failures/INVESTIGATION.md
  features/investigate-model-30-request-contract-422s/INVESTIGATION.md
  prompt-registry.jsonl
  pyproject.toml
  requirements-api.txt
  src/api/dependencies.py
  src/api/endpoints/__init__.py
  src/api/endpoints/contributions.py
  src/api/endpoints/model_30_adapter.py
  src/api/endpoints/model_serving.py
  src/api/main.py
  src/api/middleware/validation_logging.py
  src/api/routes/health.py
  src/api/schemas/contribution.py
  src/api/services/contribution_service.py
  src/api/utils/config.py
  src/middleware/auth.py
  tests/api/test_sentry_init.py
  tests/integration/test_model_30_mlflow_serving.py
  tests/unit/test_api_startup_prewarm.py
  tests/unit/test_contributions_endpoint.py
  tests/unit/test_middleware/test_auth_middleware_billing.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_model_30_warmup.py
  tests/unit/test_model_serving.py
  tests/unit/test_ready_endpoint_model_30.py
  tests/unit/test_validation_logging.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

Add graceful UsageDebitRejected metric emission
  src/middleware/auth.py
  tests/unit/test_middleware/test_auth_middleware_billing.py
Due: check-auth-headers, auth-test-reminder

Handle usage debit rejection before inference
  docs/model-30-serving.md
  src/middleware/auth.py
  tests/unit/test_middleware/test_auth_middleware_billing.py
Due: check-auth-headers, auth-test-reminder

fix: Address self-review findings (iteration 1)
  src/middleware/auth.py
  tests/unit/test_middleware/test_auth_middleware_billing.py
Due: check-auth-headers, auth-test-reminder

Add graceful UsageDebitRejected metric emission (#223)
  src/middleware/auth.py
  tests/unit/test_middleware/test_auth_middleware_billing.py
Due: check-auth-headers, auth-test-reminder

Handle auth service schema errors
  src/middleware/auth.py
  tests/unit/test_middleware/test_auth_middleware_billing.py
Due: check-auth-headers, auth-test-reminder

HOK-1959: Return 402 usage.debit.rejected before model inference (#224)
  docs/model-30-serving.md
  src/middleware/auth.py
  tests/unit/test_middleware/test_auth_middleware_billing.py
Due: check-auth-headers, auth-test-reminder

fix: Address self-review findings (iteration 1)
  src/middleware/auth.py
Due: check-auth-headers, auth-test-reminder

Add Model 30 runtime investigation report
  docs/model-30-serving.md
  features/investigate-model-30-runtime-and-packaging-alternatives-for-dramatic-speedup/INVESTIGATION.md
  scripts/model_30/profile_inference.py
  tests/unit/test_profile_inference.py
Due: check-auth-headers

fix: Address self-review findings (iteration 1)
  features/investigate-model-30-runtime-and-packaging-alternatives-for-dramatic-speedup/INVESTIGATION.md
  scripts/model_30/profile_inference.py
Due: check-auth-headers

HOK-1876: Investigate Model 30 runtime and packaging bottlenecks (#226)
  docs/model-30-serving.md
  features/investigate-model-30-runtime-and-packaging-alternatives-for-dramatic-speedup/INVESTIGATION.md
  scripts/model_30/profile_inference.py
  tests/unit/test_profile_inference.py
Due: check-auth-headers

Filter scanner noise before API routing
  .env.example
  features/investigate-and-suppress-scanner-noise-4xx-traffic/INVESTIGATION.md
  src/api/main.py
  src/api/middleware/scanner_filter.py
  src/api/utils/config.py
  tests/unit/test_scanner_filter_middleware.py
Due: check-auth-headers

fix: Address self-review findings (iteration 1)
  tests/unit/test_scanner_filter_middleware.py
Due: check-auth-headers

HOK-1977: Suppress scanner/noise 4xx traffic via ScannerFilterMiddleware (#228)
  .env.example
  features/investigate-and-suppress-scanner-noise-4xx-traffic/INVESTIGATION.md
  src/api/main.py
  src/api/middleware/scanner_filter.py
  src/api/utils/config.py
  tests/unit/test_scanner_filter_middleware.py
Due: check-auth-headers

Add MLflow memory monitoring docs
  configs/grafana/dashboards/hokusai-services.json
  configs/grafana/datasources/cloudwatch.yml
  docs/mlflow-memory-runbook.md
  features/mlflow-memory-and-public-exposure-noise-/INVESTIGATION.md
Due: none

HOK-1982: document contribution 503 root cause
  features/investigate-repeated-503-errors/INVESTIGATION.md
Due: none

HOK-1982: record coding phase blocker
  features/investigate-repeated-503-errors/.coding-blocked-completion.json
Due: none

fix: Address self-review findings (iteration 1)
  features/mlflow-memory-and-public-exposure-noise-/INVESTIGATION.md
Due: none

HOK-1982: Address self-review findings (iteration 1)
  features/investigate-repeated-503-errors/INVESTIGATION.md
Due: none

HOK-1982: Investigate repeated 503 errors on contributions endpoint (#229)
  features/investigate-repeated-503-errors/.coding-blocked-completion.json
  features/investigate-repeated-503-errors/INVESTIGATION.md
Due: none

HOK-1980: MLflow memory monitoring + public exposure decision (#230)
  configs/grafana/dashboards/hokusai-services.json
  configs/grafana/datasources/cloudwatch.yml
  docs/mlflow-memory-runbook.md
  features/mlflow-memory-and-public-exposure-noise-/INVESTIGATION.md
Due: none

Path conditions:
  check-auth-headers: any of: \.(py|ts|js)$
  validate-proxy-config: any of: src/api/proxy\.py$
  check-mlflow-auth: any of: (mlflow|registry).*\.py$
  auth-test-reminder: any of: (proxy|auth|mlflow).*\.(py|ts|js)$
