Repository Hokusai-protocol/hokusai-data-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-auth-headers, validate-proxy-config, check-mlflow-auth, auth-test-reminder

.pre-commit-config.yaml:

repos:
  # Python code quality checks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Custom auth-related hooks
  - repo: local
    hooks:
      - id: check-auth-headers
        name: Check Authentication Headers
        entry: scripts/hooks/check-auth-headers.sh
        language: script
        files: '\.(py|ts|js)$'
        pass_filenames: true
        description: Ensure auth headers are properly forwarded in API calls
      
      - id: validate-proxy-config
        name: Validate Proxy Configuration
        entry: scripts/hooks/validate-proxy.py
        language: python
        files: 'src/api/proxy\.py$'
        additional_dependencies: [pyyaml]
        description: Verify proxy configurations maintain auth headers
      
      - id: check-mlflow-auth
        name: Check MLflow Authentication
        entry: scripts/hooks/check-mlflow-auth.py
        language: python
        files: '(mlflow|registry).*\.py$'
        additional_dependencies: [pyyaml]
        description: Ensure MLflow operations include authentication
      
      - id: auth-test-reminder
        name: Auth Test Reminder
        entry: scripts/hooks/auth-test-reminder.sh
        language: script
        files: '(proxy|auth|mlflow).*\.(py|ts|js)$'
        pass_filenames: false
        description: Remind to run auth tests after changes

fix: Add /api/2.0/mlflow route prefix for MLflow Python client compatibility
  .claude/settings.local.json
  src/api/main.py
  test_model_registration_e2e.py
Due: check-auth-headers

feat: Upgrade MLflow from 2.9.2 to 3.4.0
  Dockerfile.mlflow
  features/upgrade-mlflow-2.9.2-to-3.4.0/prd.md
  features/upgrade-mlflow-2.9.2-to-3.4.0/tasks.md
  requirements-all.in
  requirements-core.in
  requirements-mlflow.in
  requirements-mlflow.txt
Due: none

docs: Add comprehensive upgrade summary for MLflow 3.4.0
  features/upgrade-mlflow-2.9.2-to-3.4.0/UPGRADE_SUMMARY.md
Due: none

feat: Upgrade MLflow from 2.9.2 to 3.4.0 (#87)
  Dockerfile.mlflow
  features/upgrade-mlflow-2.9.2-to-3.4.0/UPGRADE_SUMMARY.md
  features/upgrade-mlflow-2.9.2-to-3.4.0/prd.md
  features/upgrade-mlflow-2.9.2-to-3.4.0/tasks.md
  requirements-all.in
  requirements-core.in
  requirements-mlflow.in
  requirements-mlflow.txt
Due: none

docs: Add critical Docker platform configuration to CLAUDE.md
  CLAUDE.md
Due: none

docs: Add MLflow 3.4.0 deployment test results
  hokusai-ml-platform/features/upgrade-mlflow-2.9.2-to-3.4.0/TEST_RESULTS.md
Due: none

test: Complete Priority 1 tests for MLflow 3.4.0 - ALL PASSED
  hokusai-ml-platform/features/upgrade-mlflow-2.9.2-to-3.4.0/TEST_RESULTS.md
Due: none

fix: Redis URL malformed causing ECS deployment rollbacks
  .claude/settings.local.json
  DEPLOYMENT_ISSUES_2025-09-30.md
  MODEL_21_VERIFICATION_REPORT.md
  bugs/deployment-rollback/fix-tasks.md
  bugs/deployment-rollback/hypotheses.md
  bugs/deployment-rollback/investigation.md
  bugs/deployment-rollback/root-cause.md
  bugs/deployment-rollback/test-results.md
  bugs/deployment-rollback/validation.md
  src/api/utils/config.py
  tests/unit/test_redis_url_config.py
  verify_model_21_api.py
Due: check-auth-headers

fix: Redis URL malformed causing ECS deployment rollbacks (#88)
  .claude/settings.local.json
  DEPLOYMENT_ISSUES_2025-09-30.md
  MODEL_21_VERIFICATION_REPORT.md
  bugs/deployment-rollback/fix-tasks.md
  bugs/deployment-rollback/hypotheses.md
  bugs/deployment-rollback/investigation.md
  bugs/deployment-rollback/root-cause.md
  bugs/deployment-rollback/test-results.md
  bugs/deployment-rollback/validation.md
  src/api/utils/config.py
  tests/unit/test_redis_url_config.py
  verify_model_21_api.py
Due: check-auth-headers

fix: Add Redis auth token support when REDIS_URL is provided
  src/api/utils/config.py
Due: check-auth-headers

fix: Remove duplicate authentication from model serving endpoints
  bugs/api-id-21-connection-405-error/auth-architecture-comparison.md
  bugs/api-id-21-connection-405-error/fix-tasks.md
  bugs/api-id-21-connection-405-error/hypotheses.md
  bugs/api-id-21-connection-405-error/investigation.md
  bugs/api-id-21-connection-405-error/root-cause.md
  bugs/api-id-21-connection-405-error/test-results.md
  bugs/api-id-21-connection-405-error/validation.md
  src/api/endpoints/model_serving.py
  tests/unit/test_model_serving_auth.py
Due: check-auth-headers, auth-test-reminder

fix: Remove duplicate authentication from model serving endpoints (#89)
  bugs/api-id-21-connection-405-error/auth-architecture-comparison.md
  bugs/api-id-21-connection-405-error/fix-tasks.md
  bugs/api-id-21-connection-405-error/hypotheses.md
  bugs/api-id-21-connection-405-error/investigation.md
  bugs/api-id-21-connection-405-error/root-cause.md
  bugs/api-id-21-connection-405-error/test-results.md
  bugs/api-id-21-connection-405-error/validation.md
  src/api/endpoints/model_serving.py
  tests/unit/test_model_serving_auth.py
Due: check-auth-headers, auth-test-reminder

fix: Add investigation and tests for API 404 errors on HTTPS
  bugs/api-404-errors/fix-tasks.md
  bugs/api-404-errors/hypotheses.md
  bugs/api-404-errors/investigation.md
  bugs/api-404-errors/root-cause-confirmed.md
  bugs/api-404-errors/root-cause.md
  bugs/api-404-errors/test-results.md
  tests/integration/test_https_model_serving_endpoints.py
Due: check-auth-headers

docs: Add comprehensive validation checklist for HTTPS fix
  bugs/api-404-errors/validation.md
Due: none

docs: Mark API 404 bug as resolved via manual deployment
  bugs/api-404-errors/RESOLUTION.md
Due: none

test: Verify Model 21 endpoints working via HTTPS with API key
  bugs/api-404-errors/ENDPOINT_TEST_RESULTS.md
Due: none

fix: Add investigation and tests for API 404 errors on HTTPS (#90)
  bugs/api-404-errors/ENDPOINT_TEST_RESULTS.md
  bugs/api-404-errors/RESOLUTION.md
  bugs/api-404-errors/fix-tasks.md
  bugs/api-404-errors/hypotheses.md
  bugs/api-404-errors/investigation.md
  bugs/api-404-errors/root-cause-confirmed.md
  bugs/api-404-errors/root-cause.md
  bugs/api-404-errors/test-results.md
  bugs/api-404-errors/validation.md
  tests/integration/test_https_model_serving_endpoints.py
Due: check-auth-headers

refactor: Revise evaluation plan to leverage MLflow 3.4 GenAI features
  LINEAR_ISSUES_UPDATE_GUIDE.md
  openai_evals_plan.md
Due: none

fix: Allow CORS preflight OPTIONS requests to bypass authentication
  src/middleware/auth.py
Due: check-auth-headers, auth-test-reminder

fix: Allow CORS preflight OPTIONS requests to bypass authentication (#91)
  src/middleware/auth.py
Due: check-auth-headers, auth-test-reminder

fix: Resolve 500 error for Model ID 21 predictions due to missing HUGGINGFACE_API_KEY
  bugs/500-error-when-calling-model/fix-tasks.md
  bugs/500-error-when-calling-model/hypotheses.md
  bugs/500-error-when-calling-model/investigation.md
  bugs/500-error-when-calling-model/root-cause.md
  bugs/500-error-when-calling-model/test-results.md
  bugs/500-error-when-calling-model/validation.md
Due: none

docs: Update validation.md with complete test results and final status
  bugs/500-error-when-calling-model/validation.md
Due: none

docs: Add COMPLETE.md summarizing entire bug investigation workflow
  bugs/500-error-when-calling-model/COMPLETE.md
Due: none

Fix: Resolve 500 error for Model ID 21 predictions - Missing HUGGINGFACE_API_KEY (#92)
  bugs/500-error-when-calling-model/COMPLETE.md
  bugs/500-error-when-calling-model/fix-tasks.md
  bugs/500-error-when-calling-model/hypotheses.md
  bugs/500-error-when-calling-model/investigation.md
  bugs/500-error-when-calling-model/root-cause.md
  bugs/500-error-when-calling-model/test-results.md
  bugs/500-error-when-calling-model/validation.md
Due: none

feat: Enhance Model Registry with MLflow 3.4 ModelInfo
  features/enhance-model-registry-mlflow-34-modelinfo/migration-guide.md
  features/enhance-model-registry-mlflow-34-modelinfo/prd.md
  features/enhance-model-registry-mlflow-34-modelinfo/tasks.md
  src/services/model_registry.py
  tests/unit/test_model_registry.py
Due: check-auth-headers, check-mlflow-auth

fix: Resolve MLflow version drift between environments
  features/enhance-model-registry-mlflow-34-modelinfo/CONFIGURATION_DRIFT_ANALYSIS.md
  requirements-all.txt
  requirements.txt
Due: none

chore: Create simplified Dockerfile for API service with MLflow 3.4.0
  Dockerfile.api.minimal
  features/enhance-model-registry-mlflow-34-modelinfo/REBUILD_SUMMARY.md
  requirements-mlflow.txt
  requirements.txt
Due: none

security: Remove hardcoded credentials from docker-compose.yml
  .env.example
  .gitignore
  SECURITY_REMEDIATION.md
  docker-compose.yml
Due: none

security: Remove terraform.tfvars from Git tracking
  .gitignore
  SECURITY_REMEDIATION.md
Due: none

feat: Complete MLflow 3.4 ModelInfo deployment with sklearn flavor support
  Dockerfile.api.minimal
  bugs/500-error-when-calling-model/api-timeout-investigation.md
  features/enhance-model-registry-mlflow-34-modelinfo/DEPLOYMENT_TEST_RESULTS.md
  features/enhance-model-registry-mlflow-34-modelinfo/REBUILD_SUMMARY.md
  src/services/model_registry.py
Due: check-auth-headers, check-mlflow-auth

feat: Implement mTLS for internal MLflow communication
  .claude/settings.local.json
  Dockerfile.api.tmp
  features/use-mtls-for-internal-mlflow-communication/prd.md
  features/use-mtls-for-internal-mlflow-communication/tasks.md
  scripts/generate_mtls_certs.sh
  src/middleware/auth.py
  src/utils/mlflow_config.py
  tests/unit/test_auth_middleware_mtls.py
  tests/unit/test_mtls_config.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

feat: Enable mTLS for internal MLflow communication
  .gitignore
  Dockerfile.mlflow
  scripts/mlflow-entrypoint.sh
  src/api/main.py
Due: check-auth-headers

feat: Implement mTLS for internal MLflow communication (#94)
  .claude/settings.local.json
  .gitignore
  Dockerfile.api.tmp
  Dockerfile.mlflow
  features/use-mtls-for-internal-mlflow-communication/prd.md
  features/use-mtls-for-internal-mlflow-communication/tasks.md
  scripts/generate_mtls_certs.sh
  scripts/mlflow-entrypoint.sh
  src/api/main.py
  src/middleware/auth.py
  src/utils/mlflow_config.py
  tests/unit/test_auth_middleware_mtls.py
  tests/unit/test_mtls_config.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

fix: Make mTLS client certificates optional for MLflow
  Dockerfile.mlflow
  scripts/mlflow-entrypoint.sh
Due: none

fix: Update MLflow tracking URI to use HTTPS for mTLS
  src/utils/mlflow_config.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

fix: Disable SSL hostname verification for internal MLflow mTLS
  src/utils/mlflow_config.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

fix: Configure custom SSL context for mTLS with hostname verification disabled
  src/utils/mlflow_config.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

fix: Use MLflow's INSECURE_TLS flag instead of monkey-patching SSL context
  src/utils/mlflow_config.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

fix: Disable SSL verification for development environment with self-signed certs
  src/utils/mlflow_config.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

fix: Resolve Model 21 API timeout issue by fixing Redis connectivity
  bugs/model-21-api-not-working/RESOLUTION.md
  bugs/model-21-api-not-working/fix-tasks.md
  bugs/model-21-api-not-working/investigation.md
  bugs/model-21-api-not-working/root-cause.md
  bugs/model-21-api-not-working/validation.md
Due: none
