Repository Hokusai-protocol/hokusai-data-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-auth-headers, validate-proxy-config, check-mlflow-auth, auth-test-reminder

.pre-commit-config.yaml:

repos:
  # Python code quality checks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Custom auth-related hooks
  - repo: local
    hooks:
      - id: check-auth-headers
        name: Check Authentication Headers
        entry: scripts/hooks/check-auth-headers.sh
        language: script
        files: '\.(py|ts|js)$'
        pass_filenames: true
        description: Ensure auth headers are properly forwarded in API calls
      
      - id: validate-proxy-config
        name: Validate Proxy Configuration
        entry: scripts/hooks/validate-proxy.py
        language: python
        files: 'src/api/proxy\.py$'
        additional_dependencies: [pyyaml]
        description: Verify proxy configurations maintain auth headers
      
      - id: check-mlflow-auth
        name: Check MLflow Authentication
        entry: scripts/hooks/check-mlflow-auth.py
        language: python
        files: '(mlflow|registry).*\.py$'
        additional_dependencies: [pyyaml]
        description: Ensure MLflow operations include authentication
      
      - id: auth-test-reminder
        name: Auth Test Reminder
        entry: scripts/hooks/auth-test-reminder.sh
        language: script
        files: '(proxy|auth|mlflow).*\.(py|ts|js)$'
        pass_filenames: false
        description: Remind to run auth tests after changes

fix: Address self-review findings (iteration 1)
  hokusai-ml-platform/src/hokusai/cli.py
  hokusai-ml-platform/tests/test_cli.py
  hokusai-ml-platform/tests/unit/test_cli_register_notification.py
Due: check-auth-headers

HOK-1757: Move model registration site notification behind data-pipeline API (#182)
  hokusai-ml-platform/src/hokusai/cli.py
  hokusai-ml-platform/tests/test_cli.py
  hokusai-ml-platform/tests/unit/test_cli_register_notification.py
  src/api/main.py
  src/api/routes/models.py
  src/api/schemas/__init__.py
  src/api/schemas/model_registration_event.py
  tests/unit/test_tokenized_registration_event_endpoint.py
Due: check-auth-headers

fix: make tokenized registration notification replay reliable
  src/api/routes/models.py
  src/events/publishers/redis_publisher.py
  tests/unit/test_redis_publisher.py
  tests/unit/test_tokenized_registration_event_endpoint.py
Due: check-auth-headers

fix: publish registration hook off event loop
  src/api/routes/models.py
Due: check-auth-headers

Unify model registration notifications
  hokusai-ml-platform/README.md
  hokusai-ml-platform/docs/AUTHENTICATION.md
  hokusai-ml-platform/docs/troubleshooting.md
  hokusai-ml-platform/examples/tokenized_registry_example.py
  hokusai-ml-platform/src/hokusai/__init__.py
  hokusai-ml-platform/src/hokusai/cli.py
  hokusai-ml-platform/src/hokusai/core/__init__.py
  hokusai-ml-platform/src/hokusai/core/notification.py
  hokusai-ml-platform/src/hokusai/core/registry.py
  hokusai-ml-platform/src/hokusai/exceptions.py
  hokusai-ml-platform/tests/test_cli.py
  hokusai-ml-platform/tests/unit/test_cli_register_notification.py
  hokusai-ml-platform/tests/unit/test_registry_notification.py
  hokusai-ml-platform/tests/unit/test_tokenized_registry.py
Due: check-auth-headers, check-mlflow-auth

Unify model registration notifications (#183)
  hokusai-ml-platform/README.md
  hokusai-ml-platform/docs/AUTHENTICATION.md
  hokusai-ml-platform/docs/troubleshooting.md
  hokusai-ml-platform/examples/tokenized_registry_example.py
  hokusai-ml-platform/src/hokusai/__init__.py
  hokusai-ml-platform/src/hokusai/cli.py
  hokusai-ml-platform/src/hokusai/core/__init__.py
  hokusai-ml-platform/src/hokusai/core/notification.py
  hokusai-ml-platform/src/hokusai/core/registry.py
  hokusai-ml-platform/src/hokusai/exceptions.py
  hokusai-ml-platform/tests/test_cli.py
  hokusai-ml-platform/tests/unit/test_cli_register_notification.py
  hokusai-ml-platform/tests/unit/test_registry_notification.py
  hokusai-ml-platform/tests/unit/test_tokenized_registry.py
Due: check-auth-headers, check-mlflow-auth

Unify model registration notifications (#183) (#184)
  hokusai-ml-platform/README.md
  hokusai-ml-platform/docs/AUTHENTICATION.md
  hokusai-ml-platform/docs/troubleshooting.md
  hokusai-ml-platform/examples/tokenized_registry_example.py
  hokusai-ml-platform/src/hokusai/__init__.py
  hokusai-ml-platform/src/hokusai/cli.py
  hokusai-ml-platform/src/hokusai/core/__init__.py
  hokusai-ml-platform/src/hokusai/core/notification.py
  hokusai-ml-platform/src/hokusai/core/registry.py
  hokusai-ml-platform/src/hokusai/exceptions.py
  hokusai-ml-platform/tests/test_cli.py
  hokusai-ml-platform/tests/unit/test_cli_register_notification.py
  hokusai-ml-platform/tests/unit/test_registry_notification.py
  hokusai-ml-platform/tests/unit/test_tokenized_registry.py
Due: check-auth-headers, check-mlflow-auth

Align technical task router benchmark spec
  schema/examples/technical_task_router_row.disallowed_model.v1.json
  schema/examples/technical_task_router_row.failed.v1.json
  schema/examples/technical_task_router_row.invalid_negative_cost.v1.json
  schema/examples/technical_task_router_row.over_budget.v1.json
  schema/examples/technical_task_router_row.success.v1.json
  schema/examples/technical_task_router_spec.v1.json
  schema/technical_task_router_row.v1.json
  tests/integration/test_mint_request_publish.py
  tests/integration/test_technical_task_router_custom_eval_dispatch.py
Due: check-auth-headers

Align technical task router benchmark spec (#185)
  schema/examples/technical_task_router_row.disallowed_model.v1.json
  schema/examples/technical_task_router_row.failed.v1.json
  schema/examples/technical_task_router_row.invalid_negative_cost.v1.json
  schema/examples/technical_task_router_row.over_budget.v1.json
  schema/examples/technical_task_router_row.success.v1.json
  schema/examples/technical_task_router_spec.v1.json
  schema/technical_task_router_row.v1.json
  tests/integration/test_mint_request_publish.py
  tests/integration/test_technical_task_router_custom_eval_dispatch.py
Due: check-auth-headers

Add api_schema registration webhook coverage
  hokusai-ml-platform/tests/test_cli.py
  hokusai-ml-platform/tests/unit/test_cli_register_notification.py
  hokusai-ml-platform/tests/unit/test_registry_notification.py
  tests/unit/test_tokenized_registration_event_endpoint.py
Due: check-auth-headers, check-mlflow-auth

Add api_schema registration webhook coverage (#186)
  hokusai-ml-platform/tests/test_cli.py
  hokusai-ml-platform/tests/unit/test_cli_register_notification.py
  hokusai-ml-platform/tests/unit/test_registry_notification.py
  tests/unit/test_tokenized_registration_event_endpoint.py
Due: check-auth-headers, check-mlflow-auth

Extend tokenized registration metadata
  hokusai-ml-platform/src/hokusai/cli.py
  hokusai-ml-platform/src/hokusai/core/notification.py
  hokusai-ml-platform/src/hokusai/core/registry.py
  hokusai-ml-platform/tests/test_cli.py
  hokusai-ml-platform/tests/unit/test_registry_notification.py
  hokusai-ml-platform/tests/unit/test_tokenized_registry.py
  src/api/routes/models.py
  src/api/schemas/model_registration_event.py
  src/evaluation/tags.py
  src/events/publishers/webhook_publisher.py
  src/events/schemas.py
  src/services/model_registry_hooks.py
  tests/unit/test_tokenized_registration_event_endpoint.py
  tests/unit/test_webhook_publisher.py
Due: check-auth-headers, check-mlflow-auth

chore: reconcile auto/integration after squash promotion
  hokusai-ml-platform/src/hokusai/cli.py
  hokusai-ml-platform/src/hokusai/core/notification.py
  hokusai-ml-platform/src/hokusai/core/registry.py
  hokusai-ml-platform/tests/test_cli.py
  hokusai-ml-platform/tests/unit/test_cli_register_notification.py
  hokusai-ml-platform/tests/unit/test_registry_notification.py
  hokusai-ml-platform/tests/unit/test_tokenized_registry.py
  schema/examples/technical_task_router_row.disallowed_model.v1.json
  schema/examples/technical_task_router_row.failed.v1.json
  schema/examples/technical_task_router_row.invalid_negative_cost.v1.json
  schema/examples/technical_task_router_row.over_budget.v1.json
  schema/examples/technical_task_router_row.success.v1.json
  schema/examples/technical_task_router_spec.v1.json
  schema/technical_task_router_row.v1.json
  src/api/routes/models.py
  src/api/schemas/model_registration_event.py
  src/evaluation/tags.py
  src/events/publishers/webhook_publisher.py
  src/events/schemas.py
  src/services/model_registry_hooks.py
  tests/integration/test_mint_request_publish.py
  tests/integration/test_technical_task_router_custom_eval_dispatch.py
  tests/unit/test_tokenized_registration_event_endpoint.py
  tests/unit/test_webhook_publisher.py
Due: check-auth-headers, check-mlflow-auth

chore: reconcile auto/integration after squash promotion (#188)
  hokusai-ml-platform/src/hokusai/cli.py
  hokusai-ml-platform/src/hokusai/core/notification.py
  hokusai-ml-platform/src/hokusai/core/registry.py
  hokusai-ml-platform/tests/test_cli.py
  hokusai-ml-platform/tests/unit/test_cli_register_notification.py
  hokusai-ml-platform/tests/unit/test_registry_notification.py
  hokusai-ml-platform/tests/unit/test_tokenized_registry.py
  schema/examples/technical_task_router_row.disallowed_model.v1.json
  schema/examples/technical_task_router_row.failed.v1.json
  schema/examples/technical_task_router_row.invalid_negative_cost.v1.json
  schema/examples/technical_task_router_row.over_budget.v1.json
  schema/examples/technical_task_router_row.success.v1.json
  schema/examples/technical_task_router_spec.v1.json
  schema/technical_task_router_row.v1.json
  src/api/routes/models.py
  src/api/schemas/model_registration_event.py
  src/evaluation/tags.py
  src/events/publishers/webhook_publisher.py
  src/events/schemas.py
  src/services/model_registry_hooks.py
  tests/integration/test_mint_request_publish.py
  tests/integration/test_technical_task_router_custom_eval_dispatch.py
  tests/unit/test_tokenized_registration_event_endpoint.py
  tests/unit/test_webhook_publisher.py
Due: check-auth-headers, check-mlflow-auth

Serve live model 30 from model serving API
  src/api/endpoints/model_serving.py
  tests/unit/test_model_serving.py
  tests/unit/test_model_serving_auth.py
Due: check-auth-headers, auth-test-reminder

fix: Address self-review findings (iteration 1)
  src/api/endpoints/model_serving.py
Due: check-auth-headers

fix: Address self-review findings (iteration 2)
  src/api/endpoints/model_serving.py
  tests/unit/test_model_serving.py
Due: check-auth-headers

HOK-1852: Serve model 30 Technical Task Router from live inference API (#189)
  src/api/endpoints/model_serving.py
  tests/unit/test_model_serving.py
  tests/unit/test_model_serving_auth.py
Due: check-auth-headers, auth-test-reminder

Restructure model 30 API inputs
  src/api/endpoints/model_serving.py
  tests/unit/test_model_serving.py
  tests/unit/test_model_serving_auth.py
Due: check-auth-headers, auth-test-reminder

Restructure model 30 API inputs (#190)
  src/api/endpoints/model_serving.py
  tests/unit/test_model_serving.py
  tests/unit/test_model_serving_auth.py
Due: check-auth-headers, auth-test-reminder

Connect model 30 serving to MLflow router
  .env.example
  docs/model-30-serving.md
  src/api/endpoints/model_30_adapter.py
  src/api/endpoints/model_serving.py
  src/api/schemas/__init__.py
  src/api/schemas/technical_task_router_inputs.py
  tests/integration/test_model_30_mlflow_serving.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_model_serving.py
  tests/unit/test_model_serving_auth.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

chore: reconcile auto/integration after squash promotion
  .env.example
  docs/model-30-serving.md
  src/api/endpoints/model_30_adapter.py
  src/api/endpoints/model_serving.py
  src/api/schemas/__init__.py
  src/api/schemas/technical_task_router_inputs.py
  tests/integration/test_model_30_mlflow_serving.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_model_serving.py
  tests/unit/test_model_serving_auth.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

chore: reconcile auto/integration after squash promotion (#192)
  .env.example
  docs/model-30-serving.md
  src/api/endpoints/model_30_adapter.py
  src/api/endpoints/model_serving.py
  src/api/schemas/__init__.py
  src/api/schemas/technical_task_router_inputs.py
  tests/integration/test_model_30_mlflow_serving.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_model_serving.py
  tests/unit/test_model_serving_auth.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

fix: bound model serving MLflow inference
  src/api/endpoints/model_30_adapter.py
  src/api/endpoints/model_serving.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_model_serving.py
Due: check-auth-headers

chore: reconcile auto/integration after squash promotion
  src/api/endpoints/model_30_adapter.py
  src/api/endpoints/model_serving.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_model_serving.py
Due: check-auth-headers

chore: reconcile auto/integration after squash promotion (#194)
  src/api/endpoints/model_30_adapter.py
  src/api/endpoints/model_serving.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_model_serving.py
Due: check-auth-headers

Add model 30 latency tracing
  docs/model-30-serving.md
  src/api/endpoints/latency_trace.py
  src/api/endpoints/model_30_adapter.py
  src/api/endpoints/model_serving.py
  tests/integration/test_model_30_mlflow_serving.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_model_30_latency_trace.py
  tests/unit/test_model_serving.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

Add model 30 latency tracing (#195)
  docs/model-30-serving.md
  src/api/endpoints/latency_trace.py
  src/api/endpoints/model_30_adapter.py
  src/api/endpoints/model_serving.py
  tests/integration/test_model_30_mlflow_serving.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_model_30_latency_trace.py
  tests/unit/test_model_serving.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

Add model 30 local reproduction harness
  data/test_fixtures/model_30_curated_payload.json
  data/test_fixtures/model_30_minimal_payload.json
  docs/model-30-serving.md
  requirements-dev.in
  requirements-dev.txt
  scripts/diagnostics/__init__.py
  scripts/diagnostics/reproduce_model_30_inference.py
  tests/diagnostics/__init__.py
  tests/diagnostics/test_reproduce_model_30_inference.py
Due: check-auth-headers

fix: Address self-review findings (iteration 2)
  scripts/diagnostics/reproduce_model_30_inference.py
Due: check-auth-headers

fix: Address self-review findings (iteration 1)
  scripts/diagnostics/reproduce_model_30_inference.py
  tests/diagnostics/test_reproduce_model_30_inference.py
Due: check-auth-headers

HOK-1872: Add model 30 local reproduction harness (#196)
  data/test_fixtures/model_30_curated_payload.json
  data/test_fixtures/model_30_minimal_payload.json
  docs/model-30-serving.md
  requirements-dev.in
  requirements-dev.txt
  scripts/diagnostics/__init__.py
  scripts/diagnostics/reproduce_model_30_inference.py
  tests/diagnostics/__init__.py
  tests/diagnostics/test_reproduce_model_30_inference.py
Due: check-auth-headers

Add model 30 vs 21 latency benchmark harness
  data/test_fixtures/model_21_payload.json
  docs/model-30-serving.md
  scripts/diagnostics/compare_model_30_vs_21_latency.py
  scripts/diagnostics/reproduce_model_30_inference.py
  tests/diagnostics/test_compare_model_30_vs_21_latency.py
Due: check-auth-headers

chore: reconcile auto/integration after squash promotion
  data/test_fixtures/model_21_payload.json
  data/test_fixtures/model_30_curated_payload.json
  data/test_fixtures/model_30_minimal_payload.json
  docs/model-30-serving.md
  requirements-dev.in
  requirements-dev.txt
  scripts/diagnostics/__init__.py
  scripts/diagnostics/compare_model_30_vs_21_latency.py
  scripts/diagnostics/reproduce_model_30_inference.py
  src/api/endpoints/latency_trace.py
  src/api/endpoints/model_30_adapter.py
  src/api/endpoints/model_serving.py
  tests/diagnostics/__init__.py
  tests/diagnostics/test_compare_model_30_vs_21_latency.py
  tests/diagnostics/test_reproduce_model_30_inference.py
  tests/integration/test_model_30_mlflow_serving.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_model_30_latency_trace.py
  tests/unit/test_model_serving.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

chore: reconcile auto/integration after squash promotion (#198)
  data/test_fixtures/model_21_payload.json
  data/test_fixtures/model_30_curated_payload.json
  data/test_fixtures/model_30_minimal_payload.json
  docs/model-30-serving.md
  requirements-dev.in
  requirements-dev.txt
  scripts/diagnostics/__init__.py
  scripts/diagnostics/compare_model_30_vs_21_latency.py
  scripts/diagnostics/reproduce_model_30_inference.py
  src/api/endpoints/latency_trace.py
  src/api/endpoints/model_30_adapter.py
  src/api/endpoints/model_serving.py
  tests/diagnostics/__init__.py
  tests/diagnostics/test_compare_model_30_vs_21_latency.py
  tests/diagnostics/test_reproduce_model_30_inference.py
  tests/integration/test_model_30_mlflow_serving.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_model_30_latency_trace.py
  tests/unit/test_model_serving.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

Fix callable model 30 registration
  .env.example
  .env.production
  docs/model-30-serving.md
  scripts/model_30/register_technical_task_router.py
  src/api/endpoints/model_30_adapter.py
  src/models/technical_task_router.py
  tests/unit/models/technical_task_router_fixture.csv
  tests/unit/models/test_technical_task_router.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_model_serving.py
Due: check-auth-headers

Add model 30 router feature mapper
  docs/model-30-serving.md
  src/api/endpoints/model_30_adapter.py
  tests/unit/test_model_30_adapter.py
Due: check-auth-headers

Fix callable model 30 registration (#199)
  .env.example
  .env.production
  docs/model-30-serving.md
  scripts/model_30/register_technical_task_router.py
  src/api/endpoints/model_30_adapter.py
  src/models/technical_task_router.py
  tests/unit/models/technical_task_router_fixture.csv
  tests/unit/models/test_technical_task_router.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_model_serving.py
Due: check-auth-headers

Add model 30 router feature mapper (#200)
  docs/model-30-serving.md
  src/api/endpoints/model_30_adapter.py
  tests/unit/test_model_30_adapter.py
Due: check-auth-headers

Fix model 30 live MLflow smoke test
  pytest.ini
  tests/conftest.py
  tests/integration/test_model_30_mlflow_serving.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder
