Repository Hokusai-protocol/hokusai-data-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-auth-headers, validate-proxy-config, check-mlflow-auth, auth-test-reminder

check-auth-headers:
  name: Check Authentication Headers
  entry: scripts/hooks/check-auth-headers.sh
  language: script
  pass_filenames: true
  description: Ensure auth headers are properly forwarded in API calls

validate-proxy-config:
  name: Validate Proxy Configuration
  entry: scripts/hooks/validate-proxy.py
  language: python
  additional_dependencies:
  - pyyaml
  description: Verify proxy configurations maintain auth headers

check-mlflow-auth:
  name: Check MLflow Authentication
  entry: scripts/hooks/check-mlflow-auth.py
  language: python
  additional_dependencies:
  - pyyaml
  description: Ensure MLflow operations include authentication

auth-test-reminder:
  name: Auth Test Reminder
  entry: scripts/hooks/auth-test-reminder.sh
  language: script
  pass_filenames: false
  description: Remind to run auth tests after changes

fix: Address self-review warnings (iteration 2)
  src/evaluation/scorers/builtin.py
Due: check-auth-headers

HOK-1585: Define sales custom outcome eval metric contract (#165)
  docs/sales-custom-outcome-eval-contract.md
  schema/examples/sales_eval_spec.diagnostic_only.v1.json
  schema/examples/sales_outcome_row.invalid_negative_count.v1.json
  schema/examples/sales_outcome_row.qualified_meeting.v1.json
  schema/examples/sales_outcome_row.revenue.v1.json
  schema/examples/sales_outcome_row.spam_complaint.v1.json
  schema/examples/sales_outcome_row.unsubscribe.v1.json
  schema/sales_outcome_row.v1.json
  src/evaluation/sales_metrics.py
  src/evaluation/scorers/builtin.py
  tests/unit/test_sales_outcome_contract.py
  tests/unit/test_scorer_registry.py
Due: check-auth-headers, check-mlflow-auth

HOK-1593: Make sales eval specs carry canonical scorer refs end to end
  schema/examples/sales_eval_spec.diagnostic_only.v1.json
  schema/examples/sales_eval_spec.exact_observed.v1.json
  schema/examples/sales_eval_spec.off_policy.v1.json
  schema/examples/sales_eval_spec.online_ab.v1.json
  schema/examples/sales_eval_spec.reward_model.v1.json
  src/api/schemas/benchmark_spec.py
  src/evaluation/custom_eval.py
  tests/integration/test_benchmark_api.py
  tests/unit/test_benchmark_spec_schemas.py
  tests/unit/test_custom_eval_dispatch.py
  tests/unit/test_sales_eval_spec_fixtures.py
  tests/unit/test_spec_translation.py
Due: check-auth-headers

HOK-1593: Make sales eval specs carry canonical scorer refs end to end (#166)
  schema/examples/sales_eval_spec.diagnostic_only.v1.json
  schema/examples/sales_eval_spec.exact_observed.v1.json
  schema/examples/sales_eval_spec.off_policy.v1.json
  schema/examples/sales_eval_spec.online_ab.v1.json
  schema/examples/sales_eval_spec.reward_model.v1.json
  src/api/schemas/benchmark_spec.py
  src/evaluation/custom_eval.py
  tests/integration/test_benchmark_api.py
  tests/unit/test_benchmark_spec_schemas.py
  tests/unit/test_custom_eval_dispatch.py
  tests/unit/test_sales_eval_spec_fixtures.py
  tests/unit/test_spec_translation.py
Due: check-auth-headers

HOK-1594: Align sales scorers with sales_outcome_row/v1 schema
  docs/sales-custom-outcome-eval-contract.md
  schema/examples/sales_outcome_row.revenue.v1.json
  schema/sales_outcome_row.v1.json
  src/evaluation/scorers/builtin.py
  tests/unit/test_sales_outcome_scorers_against_examples.py
  tests/unit/test_scorer_registry.py
Due: check-auth-headers, check-mlflow-auth

fix: Address self-review findings (iteration 1)
  src/evaluation/scorers/builtin.py
Due: check-auth-headers

HOK-1594: Align sales scorers with sales_outcome_row/v1 schema (#167)
  docs/sales-custom-outcome-eval-contract.md
  schema/examples/sales_outcome_row.revenue.v1.json
  schema/sales_outcome_row.v1.json
  src/evaluation/scorers/builtin.py
  tests/unit/test_sales_outcome_scorers_against_examples.py
  tests/unit/test_scorer_registry.py
Due: check-auth-headers, check-mlflow-auth

Add sales custom eval dispatch integration test
  tests/integration/test_sales_custom_eval_dispatch.py
Due: check-auth-headers

fix: Address self-review findings (iteration 1)
  tests/integration/test_sales_custom_eval_dispatch.py
Due: check-auth-headers

HOK-1595: Add end-to-end sales custom eval dispatch integration test (#168)
  tests/integration/test_sales_custom_eval_dispatch.py
Due: check-auth-headers

Preserve sha256 dataset versions for remote sales specs
  docs/sales-custom-outcome-eval-contract.md
  src/api/schemas/benchmark_spec.py
  src/api/services/governance/benchmark_specs.py
  src/evaluation/custom_eval.py
  src/utils/dataset_hash.py
  tests/integration/test_sales_custom_eval_dispatch.py
  tests/unit/test_benchmark_spec_schemas.py
  tests/unit/test_benchmark_upload.py
  tests/unit/test_custom_eval_dispatch.py
Due: check-auth-headers

Run sales scorers directly in custom evals
  docs/custom-outcome-evals-mlflow-foundation.md
  src/evaluation/custom_eval.py
  tests/integration/test_sales_custom_eval_dispatch.py
  tests/unit/test_custom_eval_dispatch.py
  tests/unit/test_custom_eval_scorer_invocation.py
Due: check-auth-headers

fix: Address self-review findings (iteration 1)
  docs/sales-custom-outcome-eval-contract.md
  prompt-registry.jsonl
  tests/unit/test_benchmark_spec_schemas.py
Due: check-auth-headers

HOK-1646: Preserve sha256 dataset_version for remote custom sales BenchmarkSpecs (#169)
  docs/sales-custom-outcome-eval-contract.md
  prompt-registry.jsonl
  src/api/schemas/benchmark_spec.py
  src/api/services/governance/benchmark_specs.py
  src/evaluation/custom_eval.py
  src/utils/dataset_hash.py
  tests/integration/test_sales_custom_eval_dispatch.py
  tests/unit/test_benchmark_spec_schemas.py
  tests/unit/test_benchmark_upload.py
  tests/unit/test_custom_eval_dispatch.py
Due: check-auth-headers

Run sales scorers directly in custom evals (#170)
  docs/custom-outcome-evals-mlflow-foundation.md
  src/evaluation/custom_eval.py
  tests/integration/test_sales_custom_eval_dispatch.py
  tests/unit/test_custom_eval_dispatch.py
  tests/unit/test_custom_eval_scorer_invocation.py
Due: check-auth-headers

Filter sales rows per scorer
  src/evaluation/custom_eval.py
  tests/integration/test_sales_custom_eval_dispatch.py
  tests/unit/test_custom_eval_scorer_invocation.py
Due: check-auth-headers

Support remote S3 sales custom evals
  src/api/routes/benchmarks.py
  src/api/schemas/benchmark_spec.py
  src/api/services/governance/benchmark_specs.py
  src/evaluation/custom_eval.py
  tests/integration/test_sales_custom_eval_dispatch.py
  tests/unit/test_benchmark_routes.py
  tests/unit/test_benchmark_spec_schemas.py
  tests/unit/test_benchmark_spec_service.py
  tests/unit/test_custom_eval_dispatch.py
Due: check-auth-headers

Support remote S3 sales custom evals (#172)
  src/api/routes/benchmarks.py
  src/api/schemas/benchmark_spec.py
  src/api/services/governance/benchmark_specs.py
  src/evaluation/custom_eval.py
  tests/integration/test_sales_custom_eval_dispatch.py
  tests/unit/test_benchmark_routes.py
  tests/unit/test_benchmark_spec_schemas.py
  tests/unit/test_benchmark_spec_service.py
  tests/unit/test_custom_eval_dispatch.py
Due: check-auth-headers

Filter sales rows per scorer (#171)
  src/evaluation/custom_eval.py
  tests/integration/test_sales_custom_eval_dispatch.py
  tests/unit/test_custom_eval_scorer_invocation.py
Due: check-auth-headers

feat: Add benchmark spec and scorer for technical task router (HOK-1665)
  features/add-benchmark-spec-for-technical-task-router/.coding-complete
  features/add-benchmark-spec-for-technical-task-router/.coding-result.json
  features/add-benchmark-spec-for-technical-task-router/.initial-route.json
  features/add-benchmark-spec-for-technical-task-router/.phase-config.json
  features/add-benchmark-spec-for-technical-task-router/.plan-approved
  features/add-benchmark-spec-for-technical-task-router/.planning-result.json
  features/add-benchmark-spec-for-technical-task-router/.post-expansion-route.json
  features/add-benchmark-spec-for-technical-task-router/.resolved-phase
  features/add-benchmark-spec-for-technical-task-router/.review-result.json
  features/add-benchmark-spec-for-technical-task-router/.routing-complete
  features/add-benchmark-spec-for-technical-task-router/plan.md
  features/add-benchmark-spec-for-technical-task-router/selected-task.json
  features/add-benchmark-spec-for-technical-task-router/task-packet-details.md
  features/add-benchmark-spec-for-technical-task-router/task-packet-header.md
  features/add-benchmark-spec-for-technical-task-router/task-packet.md
  schema/examples/technical_task_router_row.invalid_negative_cost.v1.json
  schema/examples/technical_task_router_row.valid_disallowed_model.v1.json
  schema/examples/technical_task_router_row.valid_failed_completion.v1.json
  schema/examples/technical_task_router_row.valid_over_budget.v1.json
  schema/examples/technical_task_router_row.valid_success.v1.json
  schema/examples/technical_task_router_spec.v1.json
  schema/technical_task_router_row.v1.json
  src/api/schemas/benchmark_spec.py
  src/evaluation/custom_eval.py
  src/evaluation/scorers/builtin.py
  tests/integration/test_technical_task_router_custom_eval_dispatch.py
  tests/unit/test_benchmark_spec_schemas.py
  tests/unit/test_custom_eval_dispatch.py
  tests/unit/test_scorer_registry.py
  tests/unit/test_technical_task_router_scorer.py
  tests/unit/test_technical_task_router_spec_fixtures.py
Due: check-auth-headers, check-mlflow-auth

Add technical task router benchmark spec
  docs/technical-task-router-benchmark.md
  schema/examples/technical_task_router_row.disallowed_model.v1.json
  schema/examples/technical_task_router_row.failed.v1.json
  schema/examples/technical_task_router_row.invalid_negative_cost.v1.json
  schema/examples/technical_task_router_row.over_budget.v1.json
  schema/examples/technical_task_router_row.success.v1.json
  schema/examples/technical_task_router_spec.v1.json
  schema/technical_task_router_row.v1.json
  src/api/schemas/benchmark_spec.py
  src/evaluation/custom_eval.py
  src/evaluation/scorers/builtin.py
  tests/integration/test_technical_task_router_custom_eval_dispatch.py
  tests/unit/test_benchmark_spec_schemas.py
  tests/unit/test_scorer_registry.py
  tests/unit/test_technical_task_router_scorers.py
  tests/unit/test_technical_task_router_spec_fixtures.py
Due: check-auth-headers, check-mlflow-auth

Add custom outcome eval e2e coverage and docs
  docs/custom-outcome-evals-mlflow-foundation.md
  docs/sales-custom-evals-mint-eligibility.md
  docs/sales-custom-outcome-eval-contract.md
  tests/integration/test_custom_outcome_eval_e2e.py
Due: check-auth-headers

fix: Address self-review findings (iteration 1)
  src/evaluation/custom_eval.py
  tests/unit/test_technical_task_router_scorer.py
Due: check-auth-headers

fix: Address self-review findings (iteration 1)
  tests/integration/test_custom_outcome_eval_e2e.py
Due: check-auth-headers

Add technical task router benchmark spec (#173)
  docs/technical-task-router-benchmark.md
  schema/examples/technical_task_router_row.disallowed_model.v1.json
  schema/examples/technical_task_router_row.failed.v1.json
  schema/examples/technical_task_router_row.invalid_negative_cost.v1.json
  schema/examples/technical_task_router_row.over_budget.v1.json
  schema/examples/technical_task_router_row.success.v1.json
  schema/examples/technical_task_router_spec.v1.json
  schema/technical_task_router_row.v1.json
  src/api/schemas/benchmark_spec.py
  src/evaluation/custom_eval.py
  src/evaluation/scorers/builtin.py
  tests/integration/test_technical_task_router_custom_eval_dispatch.py
  tests/unit/test_benchmark_spec_schemas.py
  tests/unit/test_scorer_registry.py
  tests/unit/test_technical_task_router_scorers.py
  tests/unit/test_technical_task_router_spec_fixtures.py
Due: check-auth-headers, check-mlflow-auth

HOK-1509: Add end-to-end tests and docs for custom outcome evals (#175)
  docs/custom-outcome-evals-mlflow-foundation.md
  docs/sales-custom-evals-mint-eligibility.md
  docs/sales-custom-outcome-eval-contract.md
  tests/integration/test_custom_outcome_eval_e2e.py
Due: check-auth-headers

Make Redis mint request the primary DeltaOne handoff
  docs/mint-request.md
  src/api/services/evaluation_service.py
  src/evaluation/deltaone_mint_orchestrator.py
  tests/api/services/test_evaluation_service.py
  tests/evaluation/test_deltaone_mint_orchestrator.py
  tests/integration/test_mint_request_publish.py
  tests/unit/test_mint_gating.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers

Add sales lead scoring benchmark spec
  docs/sales-lead-scoring-benchmark.md
  schema/examples/sales_eval_spec.lead_scoring.v1.json
  schema/examples/sales_outcome_row.lead_scoring_qualified.v1.json
  schema/examples/sales_outcome_row.lead_scoring_unqualified.v1.json
  tests/integration/test_sales_lead_scoring_benchmark.py
  tests/unit/test_sales_eval_spec_fixtures.py
  tests/unit/test_sales_outcome_contract.py
  tests/unit/test_sales_outcome_scorers_against_examples.py
Due: check-auth-headers

Make Redis mint request the primary DeltaOne handoff (#176)
  docs/mint-request.md
  src/api/services/evaluation_service.py
  src/evaluation/deltaone_mint_orchestrator.py
  tests/api/services/test_evaluation_service.py
  tests/evaluation/test_deltaone_mint_orchestrator.py
  tests/integration/test_mint_request_publish.py
  tests/unit/test_mint_gating.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers

Add sales lead scoring benchmark spec (#177)
  docs/sales-lead-scoring-benchmark.md
  schema/examples/sales_eval_spec.lead_scoring.v1.json
  schema/examples/sales_outcome_row.lead_scoring_qualified.v1.json
  schema/examples/sales_outcome_row.lead_scoring_unqualified.v1.json
  tests/integration/test_sales_lead_scoring_benchmark.py
  tests/unit/test_sales_eval_spec_fixtures.py
  tests/unit/test_sales_outcome_contract.py
  tests/unit/test_sales_outcome_scorers_against_examples.py
Due: check-auth-headers

Make DeltaOne mint results vesting-aware
  docs/deltaone-acceptance-event.md
  docs/mint-request.md
  src/api/schemas/__init__.py
  src/api/schemas/token_mint.py
  src/api/services/attestation_registry.py
  src/api/services/deltaone_mint_orchestrator.py
  src/api/services/token_mint_hook.py
  src/evaluation/deltaone_mint_orchestrator.py
  tests/e2e/test_deltaone_mint_orchestrator.py
  tests/evaluation/test_deltaone_mint_orchestrator.py
  tests/unit/test_token_mint_hook.py
  tests/unit/test_token_mint_vesting.py
Due: check-auth-headers, check-mlflow-auth

fix: Address self-review findings (iteration 1)
  src/api/services/token_mint_hook.py
Due: check-auth-headers

HOK-1662: Make DeltaOne mint pipeline vesting-aware in results and audit events (#178)
  docs/deltaone-acceptance-event.md
  docs/mint-request.md
  src/api/schemas/__init__.py
  src/api/schemas/token_mint.py
  src/api/services/attestation_registry.py
  src/api/services/deltaone_mint_orchestrator.py
  src/api/services/token_mint_hook.py
  src/evaluation/deltaone_mint_orchestrator.py
  tests/e2e/test_deltaone_mint_orchestrator.py
  tests/evaluation/test_deltaone_mint_orchestrator.py
  tests/unit/test_token_mint_hook.py
  tests/unit/test_token_mint_vesting.py
Due: check-auth-headers, check-mlflow-auth

Remove stale docs and ignore Wavemill state
  .gitignore
  .wavemill-config.json
  .wavemill/.write-test
  CLAUDE.md.backup.20250807_103821
  DEPLOYMENT_ISSUES_2025-09-30.md
  MODEL_REGISTRATION_TEST_REPORT.md.backup-20250805-092710
  WEBHOOK_INTEGRATION_FIX.md
  WEBHOOK_INTEGRATION_SUCCESS.md
  openai_evals_plan.md
Due: none

Ignore local Wavemill config overlay
  .gitignore
Due: none

Emit totalSamples in MintRequest payloads
  docs/mint-request.md
  schema/examples/mint_request.v1.json
  schema/mint_request.v1.json
  src/evaluation/deltaone_mint_orchestrator.py
  src/events/publishers/mint_request_publisher.py
  src/events/schemas.py
  tests/evaluation/test_deltaone_mint_orchestrator.py
  tests/integration/test_mint_request_publish.py
  tests/integration/test_sales_lead_scoring_benchmark.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers

Emit totalSamples in MintRequest payloads (#180)
  docs/mint-request.md
  schema/examples/mint_request.v1.json
  schema/mint_request.v1.json
  src/evaluation/deltaone_mint_orchestrator.py
  src/events/publishers/mint_request_publisher.py
  src/events/schemas.py
  tests/evaluation/test_deltaone_mint_orchestrator.py
  tests/integration/test_mint_request_publish.py
  tests/integration/test_sales_lead_scoring_benchmark.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers

Remove stale docs and ignore Wavemill state (#179)
  .gitignore
  .wavemill-config.json
  .wavemill/.write-test
  CLAUDE.md.backup.20250807_103821
  DEPLOYMENT_ISSUES_2025-09-30.md
  MODEL_REGISTRATION_TEST_REPORT.md.backup-20250805-092710
  WEBHOOK_INTEGRATION_FIX.md
  WEBHOOK_INTEGRATION_SUCCESS.md
  openai_evals_plan.md
Due: none

chore: promote auto/integration to main (#181)
  .gitignore
  .wavemill-config.json
  .wavemill/.write-test
  CLAUDE.md.backup.20250807_103821
  DEPLOYMENT_ISSUES_2025-09-30.md
  MODEL_REGISTRATION_TEST_REPORT.md.backup-20250805-092710
  WEBHOOK_INTEGRATION_FIX.md
  WEBHOOK_INTEGRATION_SUCCESS.md
  docs/mint-request.md
  openai_evals_plan.md
  schema/examples/mint_request.v1.json
  schema/mint_request.v1.json
  src/evaluation/deltaone_mint_orchestrator.py
  src/events/publishers/mint_request_publisher.py
  src/events/schemas.py
  tests/evaluation/test_deltaone_mint_orchestrator.py
  tests/integration/test_mint_request_publish.py
  tests/integration/test_sales_lead_scoring_benchmark.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers

Move model registration notification behind API
  hokusai-ml-platform/src/hokusai/cli.py
  hokusai-ml-platform/tests/test_cli.py
  hokusai-ml-platform/tests/unit/test_cli_register_notification.py
  src/api/main.py
  src/api/routes/models.py
  src/api/schemas/__init__.py
  src/api/schemas/model_registration_event.py
  tests/unit/test_tokenized_registration_event_endpoint.py
Due: check-auth-headers

Path conditions:
  check-auth-headers: any of: \.(py|ts|js)$
  validate-proxy-config: any of: src/api/proxy\.py$
  check-mlflow-auth: any of: (mlflow|registry).*\.py$
  auth-test-reminder: any of: (proxy|auth|mlflow).*\.(py|ts|js)$
