Repository Hokusai-protocol/hokusai-data-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-auth-headers, validate-proxy-config, check-mlflow-auth, auth-test-reminder

.pre-commit-config.yaml:

repos:
  # Python code quality checks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Custom auth-related hooks
  - repo: local
    hooks:
      - id: check-auth-headers
        name: Check Authentication Headers
        entry: scripts/hooks/check-auth-headers.sh
        language: script
        files: '\.(py|ts|js)$'
        pass_filenames: true
        description: Ensure auth headers are properly forwarded in API calls
      
      - id: validate-proxy-config
        name: Validate Proxy Configuration
        entry: scripts/hooks/validate-proxy.py
        language: python
        files: 'src/api/proxy\.py$'
        additional_dependencies: [pyyaml]
        description: Verify proxy configurations maintain auth headers
      
      - id: check-mlflow-auth
        name: Check MLflow Authentication
        entry: scripts/hooks/check-mlflow-auth.py
        language: python
        files: '(mlflow|registry).*\.py$'
        additional_dependencies: [pyyaml]
        description: Ensure MLflow operations include authentication
      
      - id: auth-test-reminder
        name: Auth Test Reminder
        entry: scripts/hooks/auth-test-reminder.sh
        language: script
        files: '(proxy|auth|mlflow).*\.(py|ts|js)$'
        pass_filenames: false
        description: Remind to run auth tests after changes

Align MintRequest wire format with consumer schema
  docs/mint-request.md
  schema/examples/mint_request.v1.json
  schema/mint_request.consumer.v1.json
  schema/mint_request.v1.json
  src/eip712/__init__.py
  src/eip712/mint_authorization.py
  src/eip712/onchain_head.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/events/schemas.py
  tests/conftest.py
  tests/evaluation/adapters/__init__.py
  tests/integration/_gate3_fixtures.py
  tests/integration/test_gate3_offchain_pipeline.py
  tests/integration/test_mint_request_publish.py
  tests/unit/eip712/test_mint_authorization.py
  tests/unit/eip712/test_onchain_head.py
  tests/unit/test_dspy_signatures/__init__.py
  tests/unit/test_mint_request_abi_mapping.py
  tests/unit/test_mint_request_consumer_conformance.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers, auth-test-reminder

Wire weight commitments through Model 30 minting
  .env.example
  docs/mint-request.md
  docs/weight-commitment-genesis.md
  scripts/model_30/compute_weight_genesis.py
  scripts/model_30/promote_technical_task_router.py
  scripts/model_30/register_technical_task_router.py
  src/eip712/__init__.py
  src/eip712/onchain_head.py
  src/evaluation/deltaone_mint_orchestrator.py
  tests/evaluation/test_deltaone_mint_orchestrator.py
  tests/fixtures/model_30_weight_artifact/MLmodel
  tests/fixtures/model_30_weight_artifact/metadata/registered_model_meta.json
  tests/fixtures/model_30_weight_artifact/model.bin
  tests/integration/_gate3_fixtures.py
  tests/integration/test_gate3_offchain_pipeline.py
  tests/integration/test_mint_request_publish.py
  tests/unit/eip712/test_onchain_head.py
  tests/unit/models/test_technical_task_router.py
  tests/unit/models/test_technical_task_router_promotion.py
  tests/unit/scripts/test_compute_weight_genesis.py
  tests/unit/test_mint_gating.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers

fix: Move isinstance guard before payload.get() in _post_json_rpc
  src/eip712/onchain_head.py
Due: check-auth-headers

HOK-2168: Wire weight commitments into production (compute_weight_commitment → MLflow tags → MintRequest) (#267)
  .env.example
  docs/mint-request.md
  docs/weight-commitment-genesis.md
  scripts/model_30/compute_weight_genesis.py
  scripts/model_30/promote_technical_task_router.py
  scripts/model_30/register_technical_task_router.py
  src/eip712/__init__.py
  src/eip712/onchain_head.py
  src/evaluation/deltaone_mint_orchestrator.py
  tests/evaluation/test_deltaone_mint_orchestrator.py
  tests/fixtures/model_30_weight_artifact/MLmodel
  tests/fixtures/model_30_weight_artifact/metadata/registered_model_meta.json
  tests/fixtures/model_30_weight_artifact/model.bin
  tests/integration/_gate3_fixtures.py
  tests/integration/test_gate3_offchain_pipeline.py
  tests/integration/test_mint_request_publish.py
  tests/unit/eip712/test_onchain_head.py
  tests/unit/models/test_technical_task_router.py
  tests/unit/models/test_technical_task_router_promotion.py
  tests/unit/scripts/test_compute_weight_genesis.py
  tests/unit/test_mint_gating.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers

fix: Resolve ready-check failure (attempt 1/3)
  requirements-all.in
  requirements-all.txt
  requirements.txt
Due: none

HOK-2166: Replace MintAuthorization with MintRequest EIP-712 typed data matching HokusaiDeltaVerifier (#269)
  docs/mint-request.md
  schema/examples/mint_request.v1.json
  schema/mint_request.v1.json
  src/eip712/__init__.py
  src/eip712/mint_authorization.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/events/schemas.py
  tests/integration/test_mint_request_publish.py
  tests/unit/eip712/fixtures/mint_request_kav.json
  tests/unit/eip712/test_mint_authorization.py
  tests/unit/test_mint_request_abi_mapping.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers, auth-test-reminder

fix: Preserve baseline commitment during merge resolution
  src/evaluation/deltaone_mint_orchestrator.py
  tests/integration/test_mint_request_publish.py
Due: check-auth-headers

HOK-2167: MintRequest wire-format parity — snake_case commitments + attester_signatures[] (#268)
  docs/mint-request.md
  requirements-all.in
  requirements-all.txt
  requirements.txt
  schema/examples/mint_request.v1.json
  schema/mint_request.consumer.v1.json
  schema/mint_request.v1.json
  src/eip712/__init__.py
  src/eip712/mint_authorization.py
  src/eip712/onchain_head.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/events/schemas.py
  tests/conftest.py
  tests/evaluation/adapters/__init__.py
  tests/integration/_gate3_fixtures.py
  tests/integration/test_gate3_offchain_pipeline.py
  tests/integration/test_mint_request_publish.py
  tests/unit/eip712/fixtures/mint_request_kav.json
  tests/unit/eip712/test_mint_authorization.py
  tests/unit/eip712/test_onchain_head.py
  tests/unit/test_dspy_signatures/__init__.py
  tests/unit/test_mint_request_abi_mapping.py
  tests/unit/test_mint_request_consumer_conformance.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers, auth-test-reminder

Fail closed attester signing flow
  cli/src/cli.py
  docs/mint-request.md
  docs/runbooks/attester-signing.md
  schema/mint_request.v1.json
  src/cli/attest_cli.py
  src/cli/attestation.py
  src/eip712/__init__.py
  src/eip712/mint_authorization.py
  src/eip712/onchain_head.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/events/schemas.py
  tests/cli/test_attest_cli.py
  tests/conftest.py
  tests/evaluation/test_deltaone_mint_orchestrator.py
  tests/unit/eip712/test_mint_authorization.py
  tests/unit/eip712/test_onchain_registry.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

fix: Address self-review findings (iteration 1)
  src/cli/attestation.py
  src/evaluation/deltaone_mint_orchestrator.py
  tests/evaluation/test_deltaone_mint_orchestrator.py
  tests/integration/test_mint_request_publish.py
  tests/unit/test_mint_request_consumer_conformance.py
Due: check-auth-headers

fix: Address self-review findings (iteration 2)
  .env.example
  src/cli/attest_cli.py
  src/cli/attestation.py
  src/evaluation/deltaone_mint_orchestrator.py
Due: check-auth-headers

fix: Resolve ready-check failure (attempt 1/3)
  requirements-all.in
  requirements.txt
Due: none

fix: Resolve ready-check failure (attempt 2/3)
  tests/integration/_gate3_fixtures.py
Due: check-auth-headers

chore: reconcile auto/integration after squash promotion
  .env.example
  cli/src/cli.py
  docs/mint-request.md
  docs/runbooks/attester-signing.md
  requirements-all.in
  requirements-all.txt
  requirements.txt
  schema/examples/mint_request.v1.json
  schema/mint_request.consumer.v1.json
  schema/mint_request.v1.json
  src/cli/attest_cli.py
  src/cli/attestation.py
  src/eip712/__init__.py
  src/eip712/mint_authorization.py
  src/eip712/onchain_head.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/events/schemas.py
  tests/cli/test_attest_cli.py
  tests/conftest.py
  tests/evaluation/adapters/__init__.py
  tests/evaluation/test_deltaone_mint_orchestrator.py
  tests/integration/_gate3_fixtures.py
  tests/integration/test_gate3_offchain_pipeline.py
  tests/integration/test_mint_request_publish.py
  tests/unit/eip712/fixtures/mint_request_kav.json
  tests/unit/eip712/test_mint_authorization.py
  tests/unit/eip712/test_onchain_head.py
  tests/unit/eip712/test_onchain_registry.py
  tests/unit/test_dspy_signatures/__init__.py
  tests/unit/test_mint_request_abi_mapping.py
  tests/unit/test_mint_request_consumer_conformance.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

chore: reconcile auto/integration after squash promotion (#271)
  .env.example
  cli/src/cli.py
  docs/mint-request.md
  docs/runbooks/attester-signing.md
  requirements-all.in
  requirements-all.txt
  requirements.txt
  schema/examples/mint_request.v1.json
  schema/mint_request.consumer.v1.json
  schema/mint_request.v1.json
  src/cli/attest_cli.py
  src/cli/attestation.py
  src/eip712/__init__.py
  src/eip712/mint_authorization.py
  src/eip712/onchain_head.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/events/schemas.py
  tests/cli/test_attest_cli.py
  tests/conftest.py
  tests/evaluation/adapters/__init__.py
  tests/evaluation/test_deltaone_mint_orchestrator.py
  tests/integration/_gate3_fixtures.py
  tests/integration/test_gate3_offchain_pipeline.py
  tests/integration/test_mint_request_publish.py
  tests/unit/eip712/fixtures/mint_request_kav.json
  tests/unit/eip712/test_mint_authorization.py
  tests/unit/eip712/test_onchain_head.py
  tests/unit/eip712/test_onchain_registry.py
  tests/unit/test_dspy_signatures/__init__.py
  tests/unit/test_mint_request_abi_mapping.py
  tests/unit/test_mint_request_consumer_conformance.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

HOK-2170: add attester-signature deadline to MintRequest (paired pipeline change)
  schema/examples/mint_request.v1.json
  schema/mint_request.consumer.v1.json
  schema/mint_request.v1.json
  src/eip712/mint_authorization.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/events/schemas.py
  tests/unit/eip712/fixtures/mint_request_kav.json
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers, auth-test-reminder

HOK-2170: add attester-signature deadline to MintRequest (paired pipeline change) (#272)
  schema/examples/mint_request.v1.json
  schema/mint_request.consumer.v1.json
  schema/mint_request.v1.json
  src/eip712/mint_authorization.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/events/schemas.py
  tests/unit/eip712/fixtures/mint_request_kav.json
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers, auth-test-reminder

HOK-2213 HOK-2214 HOK-2215: add router benchmark v2
  schema/examples/technical_task_router_benchmark_score.v2.golden.json
  schema/examples/technical_task_router_spec.v2.json
  schema/technical_task_router_row.v2.json
  scripts/model_30/evaluate_technical_task_router.py
  src/evaluation/custom_eval.py
  src/evaluation/scorers/builtin.py
  tests/integration/test_technical_task_router_custom_eval_dispatch.py
  tests/unit/models/test_technical_task_router_evaluation.py
  tests/unit/test_scorer_registry.py
  tests/unit/test_technical_task_router_scorers.py
  tests/unit/test_technical_task_router_spec_fixtures.py
Due: check-auth-headers, check-mlflow-auth

HOK-2213 HOK-2214 HOK-2215: add router benchmark v2 (#273)
  schema/examples/technical_task_router_benchmark_score.v2.golden.json
  schema/examples/technical_task_router_spec.v2.json
  schema/technical_task_router_row.v2.json
  scripts/model_30/evaluate_technical_task_router.py
  src/evaluation/custom_eval.py
  src/evaluation/scorers/builtin.py
  tests/integration/test_technical_task_router_custom_eval_dispatch.py
  tests/unit/models/test_technical_task_router_evaluation.py
  tests/unit/test_scorer_registry.py
  tests/unit/test_technical_task_router_scorers.py
  tests/unit/test_technical_task_router_spec_fixtures.py
Due: check-auth-headers, check-mlflow-auth

HOK-2216 wire router v2 registration mint metadata
  scripts/model_30/promote_technical_task_router.py
  scripts/model_30/register_technical_task_router.py
  src/evaluation/deltaone_mint_orchestrator.py
  tests/unit/models/test_technical_task_router.py
  tests/unit/models/test_technical_task_router_promotion.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers

HOK-2216 wire router v2 registration mint metadata (#274)
  scripts/model_30/promote_technical_task_router.py
  scripts/model_30/register_technical_task_router.py
  src/evaluation/deltaone_mint_orchestrator.py
  tests/unit/models/test_technical_task_router.py
  tests/unit/models/test_technical_task_router_promotion.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers

HOK-2209 add router in-pool evidence gates
  scripts/model_30/promote_technical_task_router.py
  scripts/model_30/register_technical_task_router.py
  tests/unit/models/test_technical_task_router.py
  tests/unit/models/test_technical_task_router_promotion.py
Due: check-auth-headers

HOK-2209 add router in-pool evidence gates (#275)
  scripts/model_30/promote_technical_task_router.py
  scripts/model_30/register_technical_task_router.py
  tests/unit/models/test_technical_task_router.py
  tests/unit/models/test_technical_task_router_promotion.py
Due: check-auth-headers

HOK-2211 add launch priority model coverage
  configs/model_30_launch_priority_models.v1.json
  schema/model_30_launch_priority_models.v1.json
  scripts/model_30/promote_technical_task_router.py
  scripts/model_30/register_technical_task_router.py
  tests/unit/models/test_technical_task_router.py
  tests/unit/models/test_technical_task_router_promotion.py
  tests/unit/test_model_30_launch_priority_models.py
Due: check-auth-headers

HOK-2211 add launch priority model coverage (#276)
  configs/model_30_launch_priority_models.v1.json
  schema/model_30_launch_priority_models.v1.json
  scripts/model_30/promote_technical_task_router.py
  scripts/model_30/register_technical_task_router.py
  tests/unit/models/test_technical_task_router.py
  tests/unit/models/test_technical_task_router_promotion.py
  tests/unit/test_model_30_launch_priority_models.py
Due: check-auth-headers

HOK-2210 map retired router model evidence
  configs/model_30_model_lineage.v1.json
  schema/model_30_model_lineage.v1.json
  src/models/technical_task_router.py
  tests/unit/models/test_technical_task_router.py
  tests/unit/test_model_30_model_lineage.py
Due: check-auth-headers

HOK-2210 map retired router model evidence (#277)
  configs/model_30_model_lineage.v1.json
  schema/model_30_model_lineage.v1.json
  src/models/technical_task_router.py
  tests/unit/models/test_technical_task_router.py
  tests/unit/test_model_30_model_lineage.py
Due: check-auth-headers

HOK-2208 collect cross-repo Wavemill router corpus
  scripts/model_30/collect_wavemill_router_corpus.py
  scripts/model_30/register_technical_task_router.py
  tests/unit/models/test_technical_task_router.py
  tests/unit/scripts/test_collect_wavemill_router_corpus.py
Due: check-auth-headers

HOK-2208 collect cross-repo Wavemill router corpus (#278)
  scripts/model_30/collect_wavemill_router_corpus.py
  scripts/model_30/register_technical_task_router.py
  tests/unit/models/test_technical_task_router.py
  tests/unit/scripts/test_collect_wavemill_router_corpus.py
Due: check-auth-headers

feat(events): carry model_supplier_recipient through model_ready_to_deploy (HOK-2230)
  src/api/routes/models.py
  src/api/schemas/model_registration_event.py
  src/events/schemas.py
  src/services/model_registry_hooks.py
  tests/unit/test_model_registry_hooks.py
  tests/unit/test_redis_publisher.py
Due: check-auth-headers, check-mlflow-auth

Add repaired Model 30 benchmark splitter
  scripts/model_30/split_router_benchmark.py
  tests/unit/scripts/test_split_router_benchmark.py
Due: check-auth-headers

Add repaired Model 30 benchmark splitter (#280)
  scripts/model_30/split_router_benchmark.py
  tests/unit/scripts/test_split_router_benchmark.py
Due: check-auth-headers

Support split reports as Model 30 training manifests
  scripts/model_30/register_technical_task_router.py
  tests/unit/models/test_technical_task_router.py
Due: check-auth-headers

Support split reports as Model 30 training manifests (#281)
  scripts/model_30/register_technical_task_router.py
  tests/unit/models/test_technical_task_router.py
Due: check-auth-headers

HOK-2244: repoint resolve_wallet to live /api/v1 resolver + WalletResolution
  scripts/model_30/assemble_training_set.py
  src/api/services/auth_service_notifier.py
  tests/unit/scripts/test_assemble_training_set.py
  tests/unit/test_auth_service_notifier.py
Due: check-auth-headers, auth-test-reminder

HOK-2256: fix data-submission 'accepted' callback path (/api/v1 prefix)
  src/api/services/auth_service_notifier.py
  tests/unit/test_auth_service_notifier.py
Due: check-auth-headers, auth-test-reminder

HOK-2245: make contributor derivation account-centric (account_id, wallet optional)
  src/evaluation/attribution/contributor_set.py
  tests/unit/evaluation/test_contributor_set.py
Due: check-auth-headers

HOK-2245: account-centric neighbor_provenance attribution + report schema
  schema/attribution_report.v1.json
  src/evaluation/attribution/neighbor_provenance.py
  tests/unit/evaluation/test_neighbor_provenance_attributor.py
Due: check-auth-headers

HOK-2245: thread contributing account into the training manifest
  scripts/model_30/assemble_training_set.py
  tests/unit/scripts/test_assemble_training_set.py
Due: check-auth-headers

HOK-2245: attribution report builder (producer core) - enrich provenance + attribute
  src/evaluation/attribution/report_builder.py
  tests/unit/evaluation/test_report_builder.py
Due: check-auth-headers
