Repository Hokusai-protocol/hokusai-data-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-auth-headers, validate-proxy-config, check-mlflow-auth, auth-test-reminder

check-auth-headers:
  name: Check Authentication Headers
  entry: scripts/hooks/check-auth-headers.sh
  language: script
  pass_filenames: true
  description: Ensure auth headers are properly forwarded in API calls

validate-proxy-config:
  name: Validate Proxy Configuration
  entry: scripts/hooks/validate-proxy.py
  language: python
  additional_dependencies:
  - pyyaml
  description: Verify proxy configurations maintain auth headers

check-mlflow-auth:
  name: Check MLflow Authentication
  entry: scripts/hooks/check-mlflow-auth.py
  language: python
  additional_dependencies:
  - pyyaml
  description: Ensure MLflow operations include authentication

auth-test-reminder:
  name: Auth Test Reminder
  entry: scripts/hooks/auth-test-reminder.sh
  language: script
  pass_filenames: false
  description: Remind to run auth tests after changes

HOK-2245: make _NeighborResolver account-centric
  scripts/model_30/evaluate_technical_task_router.py
  tests/unit/models/test_technical_task_router_evaluation.py
Due: check-auth-headers

HOK-2245: log attribution per-row artifact at registration
  scripts/model_30/register_technical_task_router.py
  tests/unit/models/test_technical_task_router.py
Due: check-auth-headers

HOK-2245: orchestrator assembles attribution report from per-row artifacts
  src/evaluation/deltaone_mint_orchestrator.py
  tests/evaluation/test_deltaone_mint_orchestrator.py
Due: check-auth-headers

HOK-2245: make retraining (LOCO/Shapley) attributor account-centric
  scripts/model_30/attribute_retraining.py
  src/evaluation/attribution/retraining_attributor.py
  tests/unit/evaluation/test_retraining_attributor.py
  tests/unit/scripts/test_attribute_retraining.py
Due: check-auth-headers

HOK-2245: correct secp256k1/keccak attester signer (env + KMS)
  src/api/services/signer_custody.py
  tests/unit/test_signer_custody.py
Due: check-auth-headers

HOK-2245: auto-sign attester signatures at publish (gated, testnet/canary)
  src/evaluation/deltaone_mint_orchestrator.py
  tests/evaluation/test_deltaone_mint_orchestrator.py
Due: check-auth-headers

HOK-2245: separate DSPy role-map tag from mint-contributor tag
  src/evaluation/deltaone_evaluator.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/utils/contributor_logger.py
  tests/unit/test_contributor_logger.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers

HOK-2244: resolve account->wallet at mint, route no-wallet to escrow
  scripts/model_30/assemble_training_set.py
  src/evaluation/deltaone_mint_orchestrator.py
  tests/evaluation/test_deltaone_mint_orchestrator.py
  tests/unit/scripts/test_assemble_training_set.py
Due: check-auth-headers

HOK-2270: stamp explicit recipient_kind on reward-entitlement notification
  src/api/services/auth_service_notifier.py
  src/evaluation/deltaone_mint_orchestrator.py
  tests/evaluation/test_deltaone_mint_orchestrator.py
  tests/evaluation/test_gate5_attribution_economics.py
  tests/integration/_gate3_fixtures.py
  tests/integration/test_mint_request_publish.py
Due: check-auth-headers, auth-test-reminder

HOK-2270: post account-centric reward rows to auth /rewards/ingest
  src/api/services/auth_service_notifier.py
  src/evaluation/deltaone_mint_orchestrator.py
  tests/evaluation/test_deltaone_mint_orchestrator.py
  tests/evaluation/test_gate5_attribution_economics.py
  tests/integration/_gate3_fixtures.py
  tests/integration/test_mint_request_publish.py
  tests/unit/test_auth_service_notifier.py
Due: check-auth-headers, auth-test-reminder

HOK-2271 prep: stamp per-model token_address on reward ingest
  src/api/services/auth_service_notifier.py
  src/eip712/onchain_head.py
  src/evaluation/deltaone_mint_orchestrator.py
  tests/evaluation/test_deltaone_mint_orchestrator.py
  tests/evaluation/test_gate5_attribution_economics.py
  tests/integration/_gate3_fixtures.py
  tests/integration/test_mint_request_publish.py
  tests/unit/eip712/test_onchain_head.py
  tests/unit/test_auth_service_notifier.py
Due: check-auth-headers, auth-test-reminder

HOK-2256: route lifecycle callback to auth /processed with remapped body
  src/api/services/auth_service_notifier.py
  tests/unit/test_auth_service_notifier.py
Due: check-auth-headers, auth-test-reminder

Enable contribution auth ledger callbacks
  .github/workflows/deploy.yml
  docs/model-30-serving.md
  scripts/backfill_auth_submission_ledger.py
  src/api/services/contribution_service.py
  tests/unit/test_contributions_endpoint.py
Due: check-auth-headers, auth-test-reminder

Add contribution training workflow runner
  .gitignore
  configs/model_30_contribution_training_flow.development.json
  scripts/run_contribution_training_flow.py
  tests/unit/scripts/test_run_contribution_training_flow.py
Due: check-auth-headers

Support compact Model 30 contribution rows
  configs/model_30_contribution_training_flow.development.json
  scripts/model_30/assemble_training_set.py
  scripts/model_30/contribution_row_normalization.py
  scripts/model_30/evaluate_technical_task_router.py
  scripts/run_contribution_training_flow.py
  tests/unit/models/test_technical_task_router_evaluation.py
  tests/unit/scripts/test_assemble_training_set.py
  tests/unit/scripts/test_run_contribution_training_flow.py
Due: check-auth-headers

Merge base router data for contribution training
  configs/model_30_contribution_training_flow.development.json
  scripts/run_contribution_training_flow.py
  tests/unit/scripts/test_run_contribution_training_flow.py
Due: check-auth-headers

Skip base neighbors in contribution attribution provenance
  scripts/model_30/evaluate_technical_task_router.py
  tests/unit/models/test_technical_task_router_evaluation.py
Due: check-auth-headers

Add synthetic Model 30 reward E2E tooling
  schema/model_30_training_manifest.v1.json
  scripts/model_30/build_synthetic_reward_e2e.py
  tests/unit/scripts/test_build_synthetic_reward_e2e.py
Due: check-auth-headers

Support extra test wallets in synthetic reward E2E
  scripts/model_30/build_synthetic_reward_e2e.py
  tests/unit/scripts/test_build_synthetic_reward_e2e.py
Due: check-auth-headers

Add reward attester separation guardrails
  .env.example
  .github/workflows/deploy.yml
  src/evaluation/deltaone_mint_orchestrator.py
  src/events/publishers/mint_request_publisher.py
  tests/evaluation/test_deltaone_mint_orchestrator.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers

Add auth reward ingest guardrails
  .env.example
  .github/workflows/deploy.yml
  scripts/model_30/build_synthetic_reward_e2e.py
  src/evaluation/deltaone_mint_orchestrator.py
  tests/evaluation/test_deltaone_mint_orchestrator.py
  tests/unit/scripts/test_build_synthetic_reward_e2e.py
Due: check-auth-headers

HOK-2217: close v2 reward conformance gaps for Model 30
  docs/technical-task-router-benchmark.md
  scripts/model_30/attribute_retraining.py
  scripts/model_30/build_synthetic_reward_e2e.py
  src/evaluation/scorers/builtin.py
  tests/unit/scripts/test_attribute_retraining.py
  tests/unit/scripts/test_build_synthetic_reward_e2e.py
Due: check-auth-headers

HOK-2217: add guarded v2 cutover rehearsal runner (dry-run)
  docs/model-30-v2-cutover-rehearsal.md
  scripts/model_30/run_v2_cutover_rehearsal.sh
Due: none

HOK-2217: add v2 BenchmarkSpec activation helper
  docs/model-30-v2-cutover-rehearsal.md
  scripts/model_30/activate_v2_benchmark_spec.py
  scripts/model_30/run_v2_cutover_rehearsal.sh
  tests/unit/scripts/test_activate_v2_benchmark_spec.py
Due: check-auth-headers

HOK-2217: add python shebang to activate_v2_benchmark_spec.py
  scripts/model_30/activate_v2_benchmark_spec.py
Due: check-auth-headers

HOK-2217: fail cleanly when benchmark spec DB is wrong/unmigrated
  scripts/model_30/activate_v2_benchmark_spec.py
Due: check-auth-headers

Lock down MLflow registry to admins
  scripts/apply_alb_routing_fix.sh
  scripts/mlflow-entrypoint.sh
  src/api/routes/mlflow_proxy_improved.py
  src/middleware/auth.py
  tests/unit/test_auth_middleware_mtls.py
  tests/unit/test_auth_middleware_scopes.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

Allow MLflow local host headers
  scripts/mlflow-entrypoint.sh
Due: none

Protect direct MLflow registry access
  Dockerfile.mlflow
  docker-compose.health-test.yml
  hokusai_mlflow_admin_gateway.py
  scripts/mlflow-entrypoint.sh
  tests/unit/test_mlflow_admin_gateway.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

Install httpx in MLflow image
  Dockerfile.mlflow
Due: none

Fix MLflow registry lockout from admin-auth deploy
  hokusai_mlflow_admin_gateway.py
  scripts/mlflow-entrypoint.sh
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

Persist Model 30 MLflow token wiring
  .github/workflows/deploy.yml
  docs/model-30-serving.md
Due: none

Record direct mint settlements in auth
  scripts/backfill_direct_mint_settlements.py
  src/api/schemas/token_mint.py
  src/api/services/auth_service_notifier.py
  src/api/services/token_mint_hook.py
  src/evaluation/deltaone_mint_orchestrator.py
  tests/unit/scripts/test_backfill_direct_mint_settlements.py
  tests/unit/test_auth_service_notifier.py
Due: check-auth-headers, auth-test-reminder

Support direct mint settlement test flow
  scripts/model_30/build_synthetic_reward_e2e.py
  tests/unit/scripts/test_build_synthetic_reward_e2e.py
Due: check-auth-headers

Support signed Sepolia mint test artifacts
  scripts/model_30/build_synthetic_reward_e2e.py
  tests/unit/scripts/test_build_synthetic_reward_e2e.py
Due: check-auth-headers

Carry reward recipient routing through backfill
  schema/deltaone_acceptance_event.v1.json
  schema/mint_request.v1.json
  scripts/backfill_direct_mint_settlements.py
  scripts/model_30/build_synthetic_reward_e2e.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/evaluation/event_payload.py
  src/events/schemas.py
  tests/evaluation/test_deltaone_mint_orchestrator.py
  tests/unit/scripts/test_backfill_direct_mint_settlements.py
  tests/unit/scripts/test_build_synthetic_reward_e2e.py
  tests/unit/test_event_payload.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers

Update Gate 3 consumer schema for recipient routing
  schema/mint_request.consumer.v1.json
  tests/integration/test_gate3_offchain_pipeline.py
Due: check-auth-headers

Emit validation 422 details as JSON logs
  src/api/middleware/validation_logging.py
  tests/unit/test_validation_logging.py
Due: check-auth-headers

Path conditions:
  check-auth-headers: any of: \.(py|ts|js)$
  validate-proxy-config: any of: src/api/proxy\.py$
  check-mlflow-auth: any of: (mlflow|registry).*\.py$
  auth-test-reminder: any of: (proxy|auth|mlflow).*\.(py|ts|js)$
