Repository Hokusai-protocol/hokusai-data-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-auth-headers, validate-proxy-config, check-mlflow-auth, auth-test-reminder

check-auth-headers:
  name: Check Authentication Headers
  entry: scripts/hooks/check-auth-headers.sh
  language: script
  pass_filenames: true
  description: Ensure auth headers are properly forwarded in API calls

validate-proxy-config:
  name: Validate Proxy Configuration
  entry: scripts/hooks/validate-proxy.py
  language: python
  additional_dependencies:
  - pyyaml
  description: Verify proxy configurations maintain auth headers

check-mlflow-auth:
  name: Check MLflow Authentication
  entry: scripts/hooks/check-mlflow-auth.py
  language: python
  additional_dependencies:
  - pyyaml
  description: Ensure MLflow operations include authentication

auth-test-reminder:
  name: Auth Test Reminder
  entry: scripts/hooks/auth-test-reminder.sh
  language: script
  pass_filenames: false
  description: Remind to run auth tests after changes

fix: Add syntax validation tests and deploy fix for API service
  .claude/settings.local.json
  bugs/model-registration-failing/fix-tasks.md
  bugs/model-registration-failing/hypotheses.md
  bugs/model-registration-failing/investigation.md
  bugs/model-registration-failing/root-cause.md
  bugs/model-registration-failing/test-results.md
  bugs/model-registration-failing/validation.md
  tests/test_api_startup.py
  tests/test_syntax_validation.py
Due: check-auth-headers

fix: Resolve API service startup failure due to syntax error (#81)
  .claude/settings.local.json
  .github/workflows/model-registration-test.yml
  bugs/model-registration-failing/fix-tasks.md
  bugs/model-registration-failing/hypotheses.md
  bugs/model-registration-failing/investigation.md
  bugs/model-registration-failing/root-cause.md
  bugs/model-registration-failing/test-results.md
  bugs/model-registration-failing/validation.md
  tests/integration/test_model_registration_ci.py
  tests/test_api_startup.py
  tests/test_syntax_validation.py
Due: check-auth-headers

fix: Remove syntax error in model_registry.py
  bugs/endpoints-inaccessible/fix-tasks.md
  bugs/endpoints-inaccessible/hypotheses.md
  bugs/endpoints-inaccessible/investigation.md
  bugs/endpoints-inaccessible/root-cause.md
  bugs/endpoints-inaccessible/test-results.md
  src/services/model_registry.py
Due: check-auth-headers, check-mlflow-auth

feat: Implement DNS resolution fallback and connection resilience
  features/dns-resolution-fallback/prd.md
  features/dns-resolution-fallback/tasks.md
  src/api/routes/health.py
  src/api/routes/health_mlflow.py
  src/api/utils/config.py
  src/services/model_registry.py
  src/utils/dns_resolver.py
  src/utils/mlflow_config.py
  src/utils/mlflow_dynamic_config.py
  tests/unit/test_dns_health_monitoring.py
  tests/unit/test_dns_resolver.py
  tests/unit/test_mlflow_dns_integration.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

feat: Implement DNS resolution fallback and connection resilience (#82)
  bugs/endpoints-inaccessible/fix-tasks.md
  bugs/endpoints-inaccessible/hypotheses.md
  bugs/endpoints-inaccessible/investigation.md
  bugs/endpoints-inaccessible/root-cause.md
  bugs/endpoints-inaccessible/test-results.md
  features/dns-resolution-fallback/prd.md
  features/dns-resolution-fallback/tasks.md
  src/api/routes/health.py
  src/api/routes/health_mlflow.py
  src/api/utils/config.py
  src/services/model_registry.py
  src/utils/dns_resolver.py
  src/utils/mlflow_config.py
  src/utils/mlflow_dynamic_config.py
  tests/unit/test_dns_health_monitoring.py
  tests/unit/test_dns_resolver.py
  tests/unit/test_mlflow_dns_integration.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

feat: Replace hardcoded MLFlow IP addresses with service discovery DNS names
  .env.example
  src/api/routes/health_mlflow.py
  src/api/routes/mlflow_proxy_improved.py
  src/api/utils/config.py
  src/services/model_registry.py
  src/utils/mlflow_dynamic_config.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

feat: Replace hardcoded MLFlow IP addresses with service discovery DNS names (#83)
  .env.example
  src/api/routes/health_mlflow.py
  src/api/routes/mlflow_proxy_improved.py
  src/api/utils/config.py
  src/services/model_registry.py
  src/utils/mlflow_dynamic_config.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

fix: Improve authentication error messages for model registration
  bugs/model-registration-failure/review-checklist.md
  hokusai-ml-platform/docs/AUTHENTICATION.md
  hokusai-ml-platform/examples/tokenized_registry_example.py
  hokusai-ml-platform/src/hokusai/auth/config.py
  hokusai-ml-platform/tests/unit/test_auth_error_messages.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

fix: Add scope-based authorization for MLflow write operations
  DNS_RESOLVER_IMPLEMENTATION_SUMMARY.md
  Dockerfile.patch
  WEBHOOK_CONFIGURATION_ISSUE.md
  WEBHOOK_INTEGRATION_FIX.md
  WEBHOOK_INTEGRATION_SUCCESS.md
  bugs/endpoints-inaccessible/infrastructure-issues-summary.md
  bugs/endpoints-inaccessible/validation.md
  bugs/lscor-model-registration/bug-investigation-plan.md
  bugs/problems-registering-model/fix-tasks.md
  bugs/problems-registering-model/hypotheses.md
  bugs/problems-registering-model/investigation.md
  bugs/problems-registering-model/root-cause.md
  bugs/problems-registering-model/test-results.md
  bugs/problems-registering-model/validation.md
  codebase-map.md
  deployment-test-results.md
  openai_evals_plan.md
  src/middleware/auth.py
  test_final_webhook.py
  test_registration_fix.py
  test_registration_issue.py
  test_secret_variations.py
  test_signature_methods.py
  test_simple_webhook.py
  test_webhook_debug.py
  test_webhook_notification.py
  tests/unit/test_auth_middleware_scopes.py
  tests/unit/test_mlflow_config_dns_integration.py
  validate_authentication_fix.py
  validate_fix.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

Bugfix/problems registering model (#85)
  DNS_RESOLVER_IMPLEMENTATION_SUMMARY.md
  Dockerfile.patch
  WEBHOOK_CONFIGURATION_ISSUE.md
  WEBHOOK_INTEGRATION_FIX.md
  WEBHOOK_INTEGRATION_SUCCESS.md
  bugs/endpoints-inaccessible/infrastructure-issues-summary.md
  bugs/endpoints-inaccessible/validation.md
  bugs/lscor-model-registration/bug-investigation-plan.md
  bugs/model-registration-failure/review-checklist.md
  bugs/problems-registering-model/fix-tasks.md
  bugs/problems-registering-model/hypotheses.md
  bugs/problems-registering-model/investigation.md
  bugs/problems-registering-model/root-cause.md
  bugs/problems-registering-model/test-results.md
  bugs/problems-registering-model/validation.md
  codebase-map.md
  deployment-test-results.md
  hokusai-ml-platform/docs/AUTHENTICATION.md
  hokusai-ml-platform/examples/tokenized_registry_example.py
  hokusai-ml-platform/src/hokusai/auth/config.py
  hokusai-ml-platform/tests/unit/test_auth_error_messages.py
  openai_evals_plan.md
  src/middleware/auth.py
  test_final_webhook.py
  test_registration_fix.py
  test_registration_issue.py
  test_secret_variations.py
  test_signature_methods.py
  test_simple_webhook.py
  test_webhook_debug.py
  test_webhook_notification.py
  tests/unit/test_auth_middleware_scopes.py
  tests/unit/test_mlflow_config_dns_integration.py
  validate_authentication_fix.py
  validate_fix.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

feat: Implement model serving API endpoints
  features/serve-models-via-api/prd.md
  features/serve-models-via-api/tasks.md
  src/api/middleware/auth.py
  src/api/routes/predict.py
  src/database/deployed_models.py
  src/services/deployment_service.py
  src/services/providers/__init__.py
  src/services/providers/base_provider.py
  src/services/providers/huggingface_provider.py
  src/services/providers/provider_registry.py
  tests/unit/test_deployed_models.py
  tests/unit/test_deployment_service.py
  tests/unit/test_huggingface_provider.py
  tests/unit/test_prediction_endpoints.py
  tests/unit/test_provider_abstraction.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

feat: Add HuggingFace credentials configuration
  .env.example
  src/api/routes/predict.py
  src/config/providers.py
Due: check-auth-headers

fix: Update tests to properly mock database and provider dependencies
  tests/unit/test_prediction_endpoints.py
Due: check-auth-headers

fix: Fix remaining test assertions to match FastAPI error response format
  tests/unit/test_prediction_endpoints.py
Due: check-auth-headers

fix: Resolve test collection errors to enable CI/CD pipeline
  src/auth/api_key_service.py
  tests/chaos/test_failure_recovery.py
  tests/integration/preview/test_preview_pipeline.py
  tests/unit/test_auth/test_api_key_database.py
  tests/unit/test_prediction_endpoints.bak
Due: check-auth-headers, auth-test-reminder

style: Apply automatic formatting to api_key_service.py
  src/auth/api_key_service.py
Due: check-auth-headers, auth-test-reminder

fix: Fix test_api_endpoints_migration.py mocking issues
  tests/test_api_endpoints_migration.py
Due: check-auth-headers

test: Skip failing test_health_endpoints_no_auth_required temporarily
  tests/test_api_endpoints_migration.py
Due: check-auth-headers

test: Skip remaining failing tests in test_api_endpoints_migration.py
  tests/test_api_endpoints_migration.py
Due: check-auth-headers

fix: Mock datetime in CloudTrail analyzer test to avoid timing issues
  tests/test_infrastructure_investigation.py
Due: check-auth-headers

fix: Remove auth anti-pattern from auth_utils.py
  src/api/auth_utils.py
Due: check-auth-headers, auth-test-reminder

fix: Fix auth flow tests to pass CI/CD validation
  tests/auth/test_auth_flow.py
Due: check-auth-headers, auth-test-reminder

fix: Handle missing FastAPI in test environment gracefully
  tests/auth/test_auth_flow.py
Due: check-auth-headers, auth-test-reminder

fix: Disable coverage requirement for auth-specific tests
  .github/workflows/auth-validation.yml
Due: none

fix: Make PR comment step non-failing in auth validation
  .github/workflows/auth-validation.yml
Due: none

feat: Implement Model 21 (Sales Lead Scoring) serving via HuggingFace
  DEPLOYMENT_README.md
  deployment_checklist_model_21.md
  docs/huggingface_hub_security_analysis.md
  requirements.txt
  src/api/endpoints/__init__.py
  src/api/endpoints/model_serving.py
  src/api/main.py
  src/services/model_storage/huggingface_uploader.py
  src/services/model_storage/storage_manager.py
  test_complete_integration.py
  test_hokusai_api_model_21.py
  test_huggingface_api.py
  test_model_21_serving.py
  test_model_21_with_user_namespace.py
  test_model_deployment.py
Due: check-auth-headers

fix: Update repository ID and fix Pydantic model warnings
  src/api/endpoints/model_serving.py
Due: check-auth-headers

fix: Update type hints to use modern Python syntax
  src/api/endpoints/model_serving.py
  src/services/model_storage/huggingface_uploader.py
  src/services/model_storage/storage_manager.py
Due: check-auth-headers

fix: Update scipy version for Python 3.10 compatibility
  requirements.txt
Due: none

fix: Update pytest version for compatibility
  requirements.txt
Due: none

fix: Remove pytest-asyncio from CI workflow
  .github/workflows/model-registration-test.yml
Due: none

fix: Fix CI/CD test failures with proper pytest-asyncio configuration
  .github/workflows/model-registration-test.yml
  pytest.ini
  requirements.txt
Due: none

fix: Install FastAPI dependencies in model registration CI workflow
  .github/workflows/model-registration-test.yml
Due: none

fix: Add database credentials to CI environment variables
  .github/workflows/model-registration-test.yml
Due: none

fix: Disable coverage threshold for model registration integration tests
  .github/workflows/model-registration-test.yml
Due: none

fix: Remove obsolete auth fix test from CI workflow
  .github/workflows/model-registration-test.yml
Due: none

fix: Disable coverage threshold for auth header test step
  .github/workflows/model-registration-test.yml
Due: none

Path conditions:
  check-auth-headers: any of: \.(py|ts|js)$
  validate-proxy-config: any of: src/api/proxy\.py$
  check-mlflow-auth: any of: (mlflow|registry).*\.py$
  auth-test-reminder: any of: (proxy|auth|mlflow).*\.(py|ts|js)$
