Repository Hokusai-protocol/hokusai-data-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-auth-headers, validate-proxy-config, check-mlflow-auth, auth-test-reminder

check-auth-headers:
  name: Check Authentication Headers
  entry: scripts/hooks/check-auth-headers.sh
  language: script
  pass_filenames: true
  description: Ensure auth headers are properly forwarded in API calls

validate-proxy-config:
  name: Validate Proxy Configuration
  entry: scripts/hooks/validate-proxy.py
  language: python
  additional_dependencies:
  - pyyaml
  description: Verify proxy configurations maintain auth headers

check-mlflow-auth:
  name: Check MLflow Authentication
  entry: scripts/hooks/check-mlflow-auth.py
  language: python
  additional_dependencies:
  - pyyaml
  description: Ensure MLflow operations include authentication

auth-test-reminder:
  name: Auth Test Reminder
  entry: scripts/hooks/auth-test-reminder.sh
  language: script
  pass_filenames: false
  description: Remind to run auth tests after changes

feat: add spec_translation.py — DB BenchmarkSpec to runtime adapter specs (HOK-1501)
  src/evaluation/spec_translation.py
  tests/unit/test_spec_translation.py
Due: check-auth-headers

feat: normalize custom metric names across MLflow, HEM, and DeltaOne (HOK-1502)
  docs/custom-outcome-evals-mlflow-foundation.md
  src/api/schemas/benchmark_spec.py
  src/evaluation/deltaone_evaluator.py
  src/evaluation/manifest.py
  src/evaluation/schema.py
  src/utils/metric_naming.py
  src/utils/metrics.py
  tests/evaluation/test_deltaone_evaluator.py
  tests/integration/test_hem_creation.py
  tests/integration/test_metric_roundtrip.py
  tests/unit/test_benchmark_spec_schemas.py
  tests/unit/test_metric_naming.py
Due: check-auth-headers

feat: Add --benchmark-spec-id flag to hokusai model register (HOK-1396)
  documentation/cli/model-registration.md
  src/cli/_api.py
  src/cli/model.py
  tests/unit/test_cli_api_helper.py
  tests/unit/test_model_registration_cli.py
Due: check-auth-headers

HOK-1396: Add --benchmark-spec-id flag to hokusai model register (#152)
  documentation/cli/model-registration.md
  src/cli/_api.py
  src/cli/model.py
  tests/unit/test_cli_api_helper.py
  tests/unit/test_model_registration_cli.py
Due: check-auth-headers

feat: normalize custom metric names across MLflow, HEM, and DeltaOne (HOK-1502) (#151)
  docs/custom-outcome-evals-mlflow-foundation.md
  src/api/schemas/benchmark_spec.py
  src/evaluation/deltaone_evaluator.py
  src/evaluation/manifest.py
  src/evaluation/schema.py
  src/utils/metric_naming.py
  src/utils/metrics.py
  tests/evaluation/test_deltaone_evaluator.py
  tests/integration/test_hem_creation.py
  tests/integration/test_metric_roundtrip.py
  tests/unit/test_benchmark_spec_schemas.py
  tests/unit/test_metric_naming.py
Due: check-auth-headers

feat: add spec_translation.py — DB BenchmarkSpec to runtime adapter specs (HOK-1501) (#150)
  src/evaluation/spec_translation.py
  tests/unit/test_spec_translation.py
Due: check-auth-headers

Wire alembic migrations into CI/CD before ECS deploy (#149)
  .github/workflows/deploy.yml
  Dockerfile.api
  alembic.ini
  migrations/env.py
  migrations/script.py.mako
  scripts/run_migrations.sh
Due: check-auth-headers

feat: add deterministic custom scorer registry (HOK-1503)
  src/evaluation/scorers/__init__.py
  src/evaluation/scorers/builtin.py
  src/evaluation/scorers/metadata.py
  src/evaluation/scorers/registry.py
  src/evaluation/spec_translation.py
  tests/unit/test_scorer_registry.py
Due: check-auth-headers, check-mlflow-auth

feat: extend HEM schema and provenance for custom eval metadata (HOK-1504)
  src/evaluation/__init__.py
  src/evaluation/deltaone_evaluator.py
  src/evaluation/manifest.py
  src/evaluation/schema.py
  tests/integration/test_hem_creation.py
  tests/unit/test_deltaone_evaluator.py
  tests/unit/test_hem_provenance.py
Due: check-auth-headers

fix: Address self-review findings (iteration 1)
  .claude/settings.local.json
  .wavemill/.write-test
  features/add-deterministic-custom-scorer-registry/.coding-complete
  features/add-deterministic-custom-scorer-registry/.coding-result.json
  features/add-deterministic-custom-scorer-registry/.initial-route.json
  features/add-deterministic-custom-scorer-registry/.plan-approved
  features/add-deterministic-custom-scorer-registry/.planning-result.json
  features/add-deterministic-custom-scorer-registry/.post-expansion-route.json
  features/add-deterministic-custom-scorer-registry/.resolved-phase
  features/add-deterministic-custom-scorer-registry/.review-result.json
  features/add-deterministic-custom-scorer-registry/.routing-complete
  features/add-deterministic-custom-scorer-registry/plan.md
  features/add-deterministic-custom-scorer-registry/selected-task.json
  features/add-deterministic-custom-scorer-registry/task-packet-details.md
  features/add-deterministic-custom-scorer-registry/task-packet-header.md
  features/add-deterministic-custom-scorer-registry/task-packet.md
  prompt-registry.jsonl
  src/evaluation/scorers/registry.py
  tests/unit/test_scorer_registry.py
Due: check-auth-headers, check-mlflow-auth

fix: Move MetricFamily to schema.py and import from canonical location
  prompt-registry.jsonl
  src/evaluation/schema.py
  src/evaluation/scorers/metadata.py
  tests/unit/test_scorer_registry.py
Due: check-auth-headers, check-mlflow-auth

fix: Allow --baseline to be passed when benchmark spec has no baseline_value
  prompt-registry.jsonl
  src/cli/model.py
Due: check-auth-headers

feat: extend HEM schema and provenance for custom eval metadata (HOK-1504) (#153)
  src/evaluation/__init__.py
  src/evaluation/deltaone_evaluator.py
  src/evaluation/manifest.py
  src/evaluation/schema.py
  tests/integration/test_hem_creation.py
  tests/unit/test_deltaone_evaluator.py
  tests/unit/test_hem_provenance.py
Due: check-auth-headers

HOK-1503: Add deterministic custom scorer registry (#154)
  .claude/settings.local.json
  .wavemill/.write-test
  features/add-deterministic-custom-scorer-registry/.coding-complete
  features/add-deterministic-custom-scorer-registry/.coding-result.json
  features/add-deterministic-custom-scorer-registry/.initial-route.json
  features/add-deterministic-custom-scorer-registry/.plan-approved
  features/add-deterministic-custom-scorer-registry/.planning-result.json
  features/add-deterministic-custom-scorer-registry/.post-expansion-route.json
  features/add-deterministic-custom-scorer-registry/.resolved-phase
  features/add-deterministic-custom-scorer-registry/.review-result.json
  features/add-deterministic-custom-scorer-registry/.routing-complete
  features/add-deterministic-custom-scorer-registry/plan.md
  features/add-deterministic-custom-scorer-registry/selected-task.json
  features/add-deterministic-custom-scorer-registry/task-packet-details.md
  features/add-deterministic-custom-scorer-registry/task-packet-header.md
  features/add-deterministic-custom-scorer-registry/task-packet.md
  prompt-registry.jsonl
  src/cli/model.py
  src/evaluation/schema.py
  src/evaluation/scorers/__init__.py
  src/evaluation/scorers/builtin.py
  src/evaluation/scorers/metadata.py
  src/evaluation/scorers/registry.py
  src/evaluation/spec_translation.py
  tests/unit/test_scorer_registry.py
Due: check-auth-headers, check-mlflow-auth

feat: add DeltaOne comparator dispatch and guardrail gating (HOK-1505)
  src/api/schemas/benchmark_spec.py
  src/errors/exceptions.py
  src/evaluation/comparators/__init__.py
  src/evaluation/comparators/continuous.py
  src/evaluation/comparators/proportion.py
  src/evaluation/comparators/rank_or_ordinal.py
  src/evaluation/comparators/zero_inflated.py
  src/evaluation/deltaone_evaluator.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/evaluation/guardrails.py
  src/evaluation/schema.py
  src/evaluation/spec_translation.py
  tests/unit/test_comparators.py
  tests/unit/test_guardrails.py
  tests/unit/test_mint_gating.py
Due: check-auth-headers

feat: add DeltaOne comparator dispatch and guardrail gating (HOK-1505) (#155)
  src/api/schemas/benchmark_spec.py
  src/errors/exceptions.py
  src/evaluation/comparators/__init__.py
  src/evaluation/comparators/continuous.py
  src/evaluation/comparators/proportion.py
  src/evaluation/comparators/rank_or_ordinal.py
  src/evaluation/comparators/zero_inflated.py
  src/evaluation/deltaone_evaluator.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/evaluation/guardrails.py
  src/evaluation/schema.py
  src/evaluation/spec_translation.py
  tests/unit/test_comparators.py
  tests/unit/test_guardrails.py
  tests/unit/test_mint_gating.py
Due: check-auth-headers

feat: integrate custom eval execution through existing CLI/API paths (HOK-1506)
  src/cli/hokusai_eval.py
  src/evaluation/custom_eval.py
  src/evaluation/tags.py
  tests/cli/test_hokusai_eval_custom.py
  tests/integration/test_custom_eval_end_to_end.py
  tests/unit/test_custom_eval_cost_gate.py
  tests/unit/test_custom_eval_dispatch.py
Due: check-auth-headers

feat: integrate custom eval execution through existing CLI/API paths (HOK-1506) (#156)
  src/cli/hokusai_eval.py
  src/evaluation/custom_eval.py
  src/evaluation/tags.py
  tests/cli/test_hokusai_eval_custom.py
  tests/integration/test_custom_eval_end_to_end.py
  tests/unit/test_custom_eval_cost_gate.py
  tests/unit/test_custom_eval_dispatch.py
Due: check-auth-headers

feat: add mean_per_n family of generic aggregator scorers (HOK-1555)
  src/evaluation/scorers/builtin.py
  src/evaluation/scorers/metadata.py
  tests/unit/test_scorer_registry.py
Due: check-auth-headers, check-mlflow-auth

feat: add mean_per_n family of generic aggregator scorers (HOK-1555) (#157)
  src/evaluation/scorers/builtin.py
  src/evaluation/scorers/metadata.py
  tests/unit/test_scorer_registry.py
Due: check-auth-headers, check-mlflow-auth

feat: implement DeltaOneAcceptanceEvent v1 schema and orchestrator wiring (HOK-1266)
  docs/deltaone-acceptance-event.md
  schema/deltaone_acceptance_event.v1.json
  schema/examples/deltaone_acceptance_event.v1.json
  src/evaluation/deltaone_mint_orchestrator.py
  src/evaluation/event_payload.py
  tests/unit/test_event_payload.py
  tests/unit/test_mint_gating.py
Due: check-auth-headers

feat: standardize DeltaOne acceptance event for on-chain DeltaVerifier (HOK-1266_c)
  docs/deltaone_acceptance_event.md
  docs/schemas/deltaone_acceptance_event_v1.schema.json
  src/evaluation/deltaone_mint_orchestrator.py
  src/evaluation/event_payload.py
  tests/evaluation/test_deltaone_mint_orchestrator.py
  tests/evaluation/test_event_contract_mapping.py
  tests/evaluation/test_event_payload.py
  tests/fixtures/deltaone_acceptance_event_v1_contract_mapping.json
  tests/unit/test_mint_gating.py
Due: check-auth-headers

fix: Address self-review findings (iteration 1)
  src/evaluation/deltaone_mint_orchestrator.py
  src/evaluation/event_payload.py
Due: check-auth-headers

HOK-1266: Standardize DeltaOne acceptance event payload for on-chain DeltaVerifier (bps + schema) (#159)
  docs/deltaone-acceptance-event.md
  schema/deltaone_acceptance_event.v1.json
  schema/examples/deltaone_acceptance_event.v1.json
  src/evaluation/deltaone_mint_orchestrator.py
  src/evaluation/event_payload.py
  tests/unit/test_event_payload.py
  tests/unit/test_mint_gating.py
Due: check-auth-headers

feat: persist per-row eval results as a structured HEM artifact (HOK-1323)
  docs/custom-outcome-evals-mlflow-foundation.md
  src/evaluation/custom_eval.py
  src/evaluation/manifest.py
  src/evaluation/schema.py
  src/evaluation/tags.py
  tests/evaluation/test_manifest.py
  tests/evaluation/test_validation.py
  tests/integration/test_hem_creation.py
  tests/unit/test_custom_eval_per_row_persistence.py
Due: check-auth-headers

fix: correct SHA-256 documentation - hash is computed at read time, not pre-upload
  docs/custom-outcome-evals-mlflow-foundation.md
Due: none

fix: use MetricFamily.QUALITY for mean_per_n scorers to avoid bool coercion
  src/evaluation/scorers/builtin.py
  tests/unit/test_scorer_registry.py
Due: check-auth-headers, check-mlflow-auth

HOK-1323: Persist per-row eval results as a structured HEM artifact (#160)
  docs/custom-outcome-evals-mlflow-foundation.md
  src/evaluation/custom_eval.py
  src/evaluation/manifest.py
  src/evaluation/schema.py
  src/evaluation/scorers/builtin.py
  src/evaluation/tags.py
  tests/evaluation/test_manifest.py
  tests/evaluation/test_validation.py
  tests/integration/test_hem_creation.py
  tests/unit/test_custom_eval_per_row_persistence.py
  tests/unit/test_scorer_registry.py
Due: check-auth-headers, check-mlflow-auth

feat: comparator dispatch consumes per-row HEM artifacts (HOK-1325)
  src/evaluation/comparators/zero_inflated.py
  src/evaluation/deltaone_evaluator.py
  src/evaluation/hem.py
  tests/evaluation/test_deltaone_evaluator.py
  tests/unit/test_comparators.py
Due: check-auth-headers

feat: comparator dispatch consumes per-row HEM artifacts (HOK-1325) (#161)
  src/evaluation/comparators/zero_inflated.py
  src/evaluation/deltaone_evaluator.py
  src/evaluation/hem.py
  tests/evaluation/test_deltaone_evaluator.py
  tests/unit/test_comparators.py
Due: check-auth-headers

feat: implement MintRequest Redis publisher for DeltaOne rewards (HOK-1276)
  docs/mint-request.md
  schema/examples/mint_request.v1.json
  schema/mint_request.v1.json
  src/evaluation/deltaone_mint_orchestrator.py
  src/events/publishers/__init__.py
  src/events/publishers/mint_request_publisher.py
  src/events/schemas.py
  tests/integration/test_mint_request_publish.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers

fix: Address self-review findings (iteration 1)
  src/evaluation/deltaone_mint_orchestrator.py
Due: check-auth-headers

HOK-1276: Implement MintRequest Redis publisher for DeltaOne rewards (#162)
  docs/mint-request.md
  schema/examples/mint_request.v1.json
  schema/mint_request.v1.json
  src/evaluation/deltaone_mint_orchestrator.py
  src/events/publishers/__init__.py
  src/events/publishers/mint_request_publisher.py
  src/events/schemas.py
  tests/integration/test_mint_request_publish.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers

HOK-1587: Add sales custom eval specs, fixtures, and mint eligibility docs
  docs/sales-custom-evals-mint-eligibility.md
  schema/examples/sales_eval_spec.diagnostic_only.v1.json
  schema/examples/sales_eval_spec.exact_observed.v1.json
  schema/examples/sales_eval_spec.off_policy.v1.json
  schema/examples/sales_eval_spec.online_ab.v1.json
  schema/examples/sales_eval_spec.reward_model.v1.json
  tests/unit/test_sales_eval_spec_fixtures.py
Due: check-auth-headers

HOK-1587: Add sales custom eval specs, fixtures, and mint eligibility docs (#163)
  docs/sales-custom-evals-mint-eligibility.md
  schema/examples/sales_eval_spec.diagnostic_only.v1.json
  schema/examples/sales_eval_spec.exact_observed.v1.json
  schema/examples/sales_eval_spec.off_policy.v1.json
  schema/examples/sales_eval_spec.online_ab.v1.json
  schema/examples/sales_eval_spec.reward_model.v1.json
  tests/unit/test_sales_eval_spec_fixtures.py
Due: check-auth-headers

HOK-1586: Implement deterministic sales outcome scorers and guardrails
  src/evaluation/scorers/builtin.py
  src/evaluation/scorers/registry.py
  tests/unit/test_metric_naming.py
  tests/unit/test_scorer_registry.py
Due: check-auth-headers, check-mlflow-auth

HOK-1586: Implement deterministic sales outcome scorers and guardrails (#164)
  src/evaluation/scorers/builtin.py
  src/evaluation/scorers/registry.py
  tests/unit/test_metric_naming.py
  tests/unit/test_scorer_registry.py
Due: check-auth-headers, check-mlflow-auth

HOK-1585: Define sales custom outcome eval metric contract
  docs/sales-custom-outcome-eval-contract.md
  schema/examples/sales_outcome_row.invalid_negative_count.v1.json
  schema/examples/sales_outcome_row.qualified_meeting.v1.json
  schema/examples/sales_outcome_row.revenue.v1.json
  schema/examples/sales_outcome_row.spam_complaint.v1.json
  schema/examples/sales_outcome_row.unsubscribe.v1.json
  schema/sales_outcome_row.v1.json
  src/evaluation/sales_metrics.py
  tests/unit/test_sales_outcome_contract.py
Due: check-auth-headers

fix: Address self-review findings (iteration 1)
  schema/examples/sales_eval_spec.diagnostic_only.v1.json
  src/evaluation/sales_metrics.py
  src/evaluation/scorers/builtin.py
  tests/unit/test_scorer_registry.py
Due: check-auth-headers, check-mlflow-auth

Path conditions:
  check-auth-headers: any of: \.(py|ts|js)$
  validate-proxy-config: any of: src/api/proxy\.py$
  check-mlflow-auth: any of: (mlflow|registry).*\.py$
  auth-test-reminder: any of: (proxy|auth|mlflow).*\.(py|ts|js)$
