Repository Hokusai-protocol/hokusai-data-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-auth-headers, validate-proxy-config, check-mlflow-auth, auth-test-reminder

.pre-commit-config.yaml:

repos:
  # Python code quality checks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Custom auth-related hooks
  - repo: local
    hooks:
      - id: check-auth-headers
        name: Check Authentication Headers
        entry: scripts/hooks/check-auth-headers.sh
        language: script
        files: '\.(py|ts|js)$'
        pass_filenames: true
        description: Ensure auth headers are properly forwarded in API calls
      
      - id: validate-proxy-config
        name: Validate Proxy Configuration
        entry: scripts/hooks/validate-proxy.py
        language: python
        files: 'src/api/proxy\.py$'
        additional_dependencies: [pyyaml]
        description: Verify proxy configurations maintain auth headers
      
      - id: check-mlflow-auth
        name: Check MLflow Authentication
        entry: scripts/hooks/check-mlflow-auth.py
        language: python
        files: '(mlflow|registry).*\.py$'
        additional_dependencies: [pyyaml]
        description: Ensure MLflow operations include authentication
      
      - id: auth-test-reminder
        name: Auth Test Reminder
        entry: scripts/hooks/auth-test-reminder.sh
        language: script
        files: '(proxy|auth|mlflow).*\.(py|ts|js)$'
        pass_filenames: false
        description: Remind to run auth tests after changes

Wire Model 27 into MLflow serving
  data/test_fixtures/model_27_payload.json
  docs/model-27-serving.md
  scripts/model_27/__init__.py
  scripts/model_27/inspect_mlflow_registry.py
  scripts/model_27/restore_sales_lead_scoring.py
  src/api/endpoints/model_registry.py
  src/api/endpoints/model_registry_entries.py
  src/api/endpoints/model_serving.py
  src/api/endpoints/sales_lead_scoring_adapter.py
  src/api/schemas/__init__.py
  src/api/schemas/sales_lead_scoring_inputs.py
  tests/integration/test_model_27_serving.py
  tests/unit/test_model_serving.py
  tests/unit/test_sales_lead_scoring_adapter.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

Wire Model 27 into MLflow serving (#249)
  data/test_fixtures/model_27_payload.json
  docs/model-27-serving.md
  scripts/model_27/__init__.py
  scripts/model_27/inspect_mlflow_registry.py
  scripts/model_27/restore_sales_lead_scoring.py
  src/api/endpoints/model_registry.py
  src/api/endpoints/model_registry_entries.py
  src/api/endpoints/model_serving.py
  src/api/endpoints/sales_lead_scoring_adapter.py
  src/api/schemas/__init__.py
  src/api/schemas/sales_lead_scoring_inputs.py
  tests/integration/test_model_27_serving.py
  tests/unit/test_model_serving.py
  tests/unit/test_sales_lead_scoring_adapter.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

Add Model 30 neighbor provenance attribution
  docs/technical-task-router-benchmark.md
  schema/attribution_report.v1.json
  schema/examples/attribution_report.v1.json
  schema/technical_task_router_row.v1.json
  scripts/model_30/attribute_neighbors.py
  scripts/model_30/evaluate_technical_task_router.py
  src/evaluation/attribution/__init__.py
  src/evaluation/attribution/neighbor_provenance.py
  src/evaluation/custom_eval.py
  src/models/technical_task_router.py
  tests/unit/evaluation/__init__.py
  tests/unit/evaluation/test_neighbor_provenance_attributor.py
  tests/unit/models/test_technical_task_router.py
  tests/unit/models/test_technical_task_router_evaluation.py
  tests/unit/test_custom_eval_per_row_persistence.py
  tests/unit/test_model_30_adapter.py
Due: check-auth-headers

fix: Address self-review findings (iteration 1)
  src/evaluation/attribution/neighbor_provenance.py
  tests/unit/evaluation/test_neighbor_provenance_attributor.py
Due: check-auth-headers

fix: Address self-review findings (iteration 2)
  src/evaluation/attribution/neighbor_provenance.py
  tests/unit/evaluation/test_neighbor_provenance_attributor.py
Due: check-auth-headers

HOK-2061: Neighbor-provenance attributor for Model 30 (default path) (#251)
  docs/technical-task-router-benchmark.md
  schema/attribution_report.v1.json
  schema/examples/attribution_report.v1.json
  schema/technical_task_router_row.v1.json
  scripts/model_30/attribute_neighbors.py
  scripts/model_30/evaluate_technical_task_router.py
  src/evaluation/attribution/__init__.py
  src/evaluation/attribution/neighbor_provenance.py
  src/evaluation/custom_eval.py
  src/models/technical_task_router.py
  tests/unit/evaluation/__init__.py
  tests/unit/evaluation/test_neighbor_provenance_attributor.py
  tests/unit/models/test_technical_task_router.py
  tests/unit/models/test_technical_task_router_evaluation.py
  tests/unit/test_custom_eval_per_row_persistence.py
  tests/unit/test_model_30_adapter.py
Due: check-auth-headers

Reconcile mint attestation with attribution hash
  docs/mint-request.md
  src/cli/attestation.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/evaluation/hem.py
  src/evaluation/manifest.py
  src/evaluation/schema.py
  tests/cli/test_attestation.py
  tests/unit/test_attestation_attribution.py
Due: check-auth-headers

Reconcile mint attestation with attribution hash (#252)
  docs/mint-request.md
  src/cli/attestation.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/evaluation/hem.py
  src/evaluation/manifest.py
  src/evaluation/schema.py
  tests/cli/test_attestation.py
  tests/unit/test_attestation_attribution.py
Due: check-auth-headers

Add retraining attribution harness
  scripts/model_30/attribute_retraining.py
  src/evaluation/attribution/__init__.py
  src/evaluation/attribution/retraining_attributor.py
  tests/unit/evaluation/test_retraining_attributor.py
Due: check-auth-headers

fix: Address self-review findings (iteration 1)
  scripts/model_30/attribute_retraining.py
  src/evaluation/attribution/retraining_attributor.py
Due: check-auth-headers

HOK-2059: LOCO/Shapley retraining attribution harness + non-k-NN fallback (#253)
  scripts/model_30/attribute_retraining.py
  src/evaluation/attribution/__init__.py
  src/evaluation/attribution/retraining_attributor.py
  tests/unit/evaluation/test_retraining_attributor.py
Due: check-auth-headers

Add Gate 5 attribution economics tests
  configs/model_30_budget.yaml
  src/evaluation/deltaone_mint_orchestrator.py
  src/evaluation/reward_cap.py
  tests/evaluation/test_gate5_attribution_economics.py
Due: check-auth-headers

Auto-wire mint contributors from attribution reports
  docs/mint-request.md
  src/evaluation/attribution/__init__.py
  src/evaluation/attribution/contributor_set.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/evaluation/tags.py
  tests/unit/evaluation/test_contributor_set.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers

fix: Address self-review findings (iteration 1)
  src/evaluation/reward_cap.py
  tests/evaluation/test_gate5_attribution_economics.py
Due: check-auth-headers

Auto-wire mint contributors from attribution reports (#254)
  docs/mint-request.md
  src/evaluation/attribution/__init__.py
  src/evaluation/attribution/contributor_set.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/evaluation/tags.py
  tests/unit/evaluation/test_contributor_set.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers

Require MintRequest provenance anchors
  schema/examples/mint_request.v1.json
  schema/mint_request.v1.json
  src/evaluation/deltaone_mint_orchestrator.py
  src/events/schemas.py
  tests/unit/test_auth_service_notifier.py
  tests/unit/test_mint_request_abi_mapping.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers, auth-test-reminder

fix: Address self-review findings (iteration 1)
  src/evaluation/attribution/retraining_attributor.py
Due: check-auth-headers

fix: Address self-review findings (iteration 2)
  schema/mint_request.v1.json
Due: none

chore: reconcile auto/integration after squash promotion
  configs/model_30_budget.yaml
  docs/mint-request.md
  docs/technical-task-router-benchmark.md
  schema/attribution_report.v1.json
  schema/examples/attribution_report.v1.json
  schema/examples/mint_request.v1.json
  schema/mint_request.v1.json
  schema/technical_task_router_row.v1.json
  scripts/model_30/attribute_neighbors.py
  scripts/model_30/attribute_retraining.py
  scripts/model_30/evaluate_technical_task_router.py
  src/cli/attestation.py
  src/evaluation/attribution/__init__.py
  src/evaluation/attribution/contributor_set.py
  src/evaluation/attribution/neighbor_provenance.py
  src/evaluation/attribution/retraining_attributor.py
  src/evaluation/custom_eval.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/evaluation/hem.py
  src/evaluation/manifest.py
  src/evaluation/reward_cap.py
  src/evaluation/schema.py
  src/evaluation/tags.py
  src/events/schemas.py
  src/models/technical_task_router.py
  tests/cli/test_attestation.py
  tests/evaluation/test_gate5_attribution_economics.py
  tests/unit/evaluation/__init__.py
  tests/unit/evaluation/test_contributor_set.py
  tests/unit/evaluation/test_neighbor_provenance_attributor.py
  tests/unit/evaluation/test_retraining_attributor.py
  tests/unit/models/test_technical_task_router.py
  tests/unit/models/test_technical_task_router_evaluation.py
  tests/unit/test_attestation_attribution.py
  tests/unit/test_auth_service_notifier.py
  tests/unit/test_custom_eval_per_row_persistence.py
  tests/unit/test_mint_request_abi_mapping.py
  tests/unit/test_mint_request_publisher.py
  tests/unit/test_model_30_adapter.py
Due: check-auth-headers, auth-test-reminder

chore: reconcile auto/integration after squash promotion (#257)
  configs/model_30_budget.yaml
  docs/mint-request.md
  docs/technical-task-router-benchmark.md
  schema/attribution_report.v1.json
  schema/examples/attribution_report.v1.json
  schema/examples/mint_request.v1.json
  schema/mint_request.v1.json
  schema/technical_task_router_row.v1.json
  scripts/model_30/attribute_neighbors.py
  scripts/model_30/attribute_retraining.py
  scripts/model_30/evaluate_technical_task_router.py
  src/cli/attestation.py
  src/evaluation/attribution/__init__.py
  src/evaluation/attribution/contributor_set.py
  src/evaluation/attribution/neighbor_provenance.py
  src/evaluation/attribution/retraining_attributor.py
  src/evaluation/custom_eval.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/evaluation/hem.py
  src/evaluation/manifest.py
  src/evaluation/reward_cap.py
  src/evaluation/schema.py
  src/evaluation/tags.py
  src/events/schemas.py
  src/models/technical_task_router.py
  tests/cli/test_attestation.py
  tests/evaluation/test_gate5_attribution_economics.py
  tests/unit/evaluation/__init__.py
  tests/unit/evaluation/test_contributor_set.py
  tests/unit/evaluation/test_neighbor_provenance_attributor.py
  tests/unit/evaluation/test_retraining_attributor.py
  tests/unit/models/test_technical_task_router.py
  tests/unit/models/test_technical_task_router_evaluation.py
  tests/unit/test_attestation_attribution.py
  tests/unit/test_auth_service_notifier.py
  tests/unit/test_custom_eval_per_row_persistence.py
  tests/unit/test_mint_request_abi_mapping.py
  tests/unit/test_mint_request_publisher.py
  tests/unit/test_model_30_adapter.py
Due: check-auth-headers, auth-test-reminder

HOK-2056 add gate 3 off-chain pipeline integration suite
  .github/workflows/deploy.yml
  tests/integration/_gate3_fixtures.py
  tests/integration/test_gate3_offchain_pipeline.py
Due: check-auth-headers

fix(ci): install fakeredis before Gate 3 integration suite
  .github/workflows/deploy.yml
Due: none

HOK-2056: Add Gate 3 off-chain pipeline integration suite (fakeredis) (#258)
  .github/workflows/deploy.yml
  tests/integration/_gate3_fixtures.py
  tests/integration/test_gate3_offchain_pipeline.py
Due: check-auth-headers

HOK-2052 harden scheduler mint rail
  .env.example
  configs/cloudwatch_alarms.yaml
  configs/grafana/dashboards/hokusai-services.json
  configs/model_30_budget.yaml
  docs/mint-rail.md
  docs/mint-request.md
  src/api/main.py
  src/api/services/evaluation_scheduler.py
  src/api/services/evaluation_service.py
  src/api/services/signer_custody.py
  src/api/services/token_mint_hook.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/evaluation/reward_cap.py
  src/monitoring/__init__.py
  src/monitoring/mint_queue_monitor.py
  tests/integration/test_mint_request_publish.py
  tests/unit/evaluation/test_reward_cap_budget.py
  tests/unit/test_evaluation_scheduler_preflight.py
  tests/unit/test_mint_queue_monitor.py
  tests/unit/test_signer_custody.py
Due: check-auth-headers

fix: Address self-review findings (iteration 1)
  src/api/main.py
  src/evaluation/reward_cap.py
  src/monitoring/mint_queue_monitor.py
  tests/unit/evaluation/test_reward_cap_budget.py
Due: check-auth-headers

fix: Address self-review findings (iteration 2)
  src/api/main.py
  src/monitoring/mint_queue_monitor.py
Due: check-auth-headers

fix: Address self-review findings (iteration 3)
  src/api/main.py
Due: check-auth-headers

HOK-2052: Scheduler enablement + mint-rail ops hardening (#259)
  .env.example
  configs/cloudwatch_alarms.yaml
  configs/grafana/dashboards/hokusai-services.json
  configs/model_30_budget.yaml
  docs/mint-rail.md
  docs/mint-request.md
  src/api/main.py
  src/api/services/evaluation_scheduler.py
  src/api/services/evaluation_service.py
  src/api/services/signer_custody.py
  src/api/services/token_mint_hook.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/evaluation/reward_cap.py
  src/monitoring/__init__.py
  src/monitoring/mint_queue_monitor.py
  tests/integration/test_mint_request_publish.py
  tests/unit/evaluation/test_reward_cap_budget.py
  tests/unit/test_evaluation_scheduler_preflight.py
  tests/unit/test_mint_queue_monitor.py
  tests/unit/test_signer_custody.py
Due: check-auth-headers

Add deterministic weight commitment utility
  docs/mint-authority-hardening-design.md
  src/lineage/__init__.py
  src/lineage/weight_commitment.py
  src/models/technical_task_router.py
  tests/unit/lineage/__init__.py
  tests/unit/lineage/test_router_serializer_roundtrip.py
  tests/unit/lineage/test_weight_commitment.py
Due: check-auth-headers

fix: Address self-review findings (iteration 1)
  src/lineage/weight_commitment.py
  tests/unit/lineage/test_weight_commitment.py
Due: check-auth-headers

chore: reconcile auto/integration after squash promotion
  .env.example
  .github/workflows/deploy.yml
  configs/cloudwatch_alarms.yaml
  configs/grafana/dashboards/hokusai-services.json
  configs/model_30_budget.yaml
  docs/mint-authority-hardening-design.md
  docs/mint-rail.md
  docs/mint-request.md
  src/api/main.py
  src/api/services/evaluation_scheduler.py
  src/api/services/evaluation_service.py
  src/api/services/signer_custody.py
  src/api/services/token_mint_hook.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/evaluation/reward_cap.py
  src/lineage/__init__.py
  src/lineage/weight_commitment.py
  src/models/technical_task_router.py
  src/monitoring/__init__.py
  src/monitoring/mint_queue_monitor.py
  tests/integration/_gate3_fixtures.py
  tests/integration/test_gate3_offchain_pipeline.py
  tests/integration/test_mint_request_publish.py
  tests/unit/evaluation/test_reward_cap_budget.py
  tests/unit/lineage/__init__.py
  tests/unit/lineage/test_router_serializer_roundtrip.py
  tests/unit/lineage/test_weight_commitment.py
  tests/unit/test_evaluation_scheduler_preflight.py
  tests/unit/test_mint_queue_monitor.py
  tests/unit/test_signer_custody.py
Due: check-auth-headers

chore: reconcile auto/integration after squash promotion (#261)
  .env.example
  .github/workflows/deploy.yml
  configs/cloudwatch_alarms.yaml
  configs/grafana/dashboards/hokusai-services.json
  configs/model_30_budget.yaml
  docs/mint-authority-hardening-design.md
  docs/mint-rail.md
  docs/mint-request.md
  src/api/main.py
  src/api/services/evaluation_scheduler.py
  src/api/services/evaluation_service.py
  src/api/services/signer_custody.py
  src/api/services/token_mint_hook.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/evaluation/reward_cap.py
  src/lineage/__init__.py
  src/lineage/weight_commitment.py
  src/models/technical_task_router.py
  src/monitoring/__init__.py
  src/monitoring/mint_queue_monitor.py
  tests/integration/_gate3_fixtures.py
  tests/integration/test_gate3_offchain_pipeline.py
  tests/integration/test_mint_request_publish.py
  tests/unit/evaluation/test_reward_cap_budget.py
  tests/unit/lineage/__init__.py
  tests/unit/lineage/test_router_serializer_roundtrip.py
  tests/unit/lineage/test_weight_commitment.py
  tests/unit/test_evaluation_scheduler_preflight.py
  tests/unit/test_mint_queue_monitor.py
  tests/unit/test_signer_custody.py
Due: check-auth-headers

Add MintRequest commitments and attester signature
  docs/mint-request.md
  schema/examples/mint_request.v1.json
  schema/mint_request.v1.json
  src/events/schemas.py
  tests/unit/test_mint_request_abi_mapping.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers

Add MintRequest commitments and attester signature (#262)
  docs/mint-request.md
  schema/examples/mint_request.v1.json
  schema/mint_request.v1.json
  src/events/schemas.py
  tests/unit/test_mint_request_abi_mapping.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers

Wire attester signing into mint requests
  .env.example
  docs/mint-request.md
  schema/examples/mint_request.v1.json
  schema/mint_request.v1.json
  src/eip712/__init__.py
  src/eip712/mint_authorization.py
  src/eip712/onchain_head.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/evaluation/tags.py
  src/events/schemas.py
  tests/integration/test_mint_request_publish.py
  tests/unit/eip712/__init__.py
  tests/unit/eip712/test_mint_authorization.py
  tests/unit/test_mint_request_abi_mapping.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers, auth-test-reminder

chore: reconcile auto/integration after squash promotion
  .env.example
  docs/mint-request.md
  schema/examples/mint_request.v1.json
  schema/mint_request.v1.json
  src/eip712/__init__.py
  src/eip712/mint_authorization.py
  src/eip712/onchain_head.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/evaluation/tags.py
  src/events/schemas.py
  tests/integration/test_mint_request_publish.py
  tests/unit/eip712/__init__.py
  tests/unit/eip712/test_mint_authorization.py
  tests/unit/test_mint_request_abi_mapping.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers, auth-test-reminder

fix: support legacy model 30 artifacts
  src/models/technical_task_router.py
  tests/unit/lineage/test_router_serializer_roundtrip.py
Due: check-auth-headers

chore: reconcile auto/integration after squash promotion
  src/models/technical_task_router.py
  tests/unit/lineage/test_router_serializer_roundtrip.py
Due: check-auth-headers

Fix MintRequest EIP-712 attester signing
  docs/mint-request.md
  schema/examples/mint_request.v1.json
  schema/mint_request.v1.json
  src/eip712/__init__.py
  src/eip712/mint_authorization.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/events/schemas.py
  tests/integration/test_mint_request_publish.py
  tests/unit/eip712/fixtures/mint_request_kav.json
  tests/unit/eip712/test_mint_authorization.py
  tests/unit/test_mint_request_abi_mapping.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers, auth-test-reminder
