Repository Hokusai-protocol/hokusai-data-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-auth-headers, validate-proxy-config, check-mlflow-auth, auth-test-reminder

.pre-commit-config.yaml:

repos:
  # Python code quality checks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Custom auth-related hooks
  - repo: local
    hooks:
      - id: check-auth-headers
        name: Check Authentication Headers
        entry: scripts/hooks/check-auth-headers.sh
        language: script
        files: '\.(py|ts|js)$'
        pass_filenames: true
        description: Ensure auth headers are properly forwarded in API calls
      
      - id: validate-proxy-config
        name: Validate Proxy Configuration
        entry: scripts/hooks/validate-proxy.py
        language: python
        files: 'src/api/proxy\.py$'
        additional_dependencies: [pyyaml]
        description: Verify proxy configurations maintain auth headers
      
      - id: check-mlflow-auth
        name: Check MLflow Authentication
        entry: scripts/hooks/check-mlflow-auth.py
        language: python
        files: '(mlflow|registry).*\.py$'
        additional_dependencies: [pyyaml]
        description: Ensure MLflow operations include authentication
      
      - id: auth-test-reminder
        name: Auth Test Reminder
        entry: scripts/hooks/auth-test-reminder.sh
        language: script
        files: '(proxy|auth|mlflow).*\.(py|ts|js)$'
        pass_filenames: false
        description: Remind to run auth tests after changes

fix: Resolve Model 21 API timeout issue by fixing Redis connectivity (#95)
  bugs/model-21-api-not-working/RESOLUTION.md
  bugs/model-21-api-not-working/fix-tasks.md
  bugs/model-21-api-not-working/investigation.md
  bugs/model-21-api-not-working/root-cause.md
  bugs/model-21-api-not-working/validation.md
Due: none

fix: Replace ml-platform service_id with platform across repo (HOK-684)
  auth_middleware_fix.patch
  documentation/authentication.md
  infrastructure/terraform/auth_service_id.patch
  infrastructure/terraform/variables.tf
  tests/integration/test_mlflow_proxy_bearer_auth.py
  tests/test_auth_middleware_fix.py
  tests/unit/test_middleware/test_auth_middleware.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

fix: Re-enable four skipped tests for health endpoints, auth paths, readiness probe, and debug endpoint (HOK-378)
  tests/test_api_endpoints_migration.py
Due: check-auth-headers

feat: Handle 402 and call debit in auth middleware (HOK-727)
  src/middleware/auth.py
  tests/unit/test_middleware/test_auth_middleware.py
  tests/unit/test_middleware/test_auth_middleware_billing.py
Due: check-auth-headers, auth-test-reminder

feat: Handle 402 and call debit in auth middleware (HOK-727) (#98)
  src/middleware/auth.py
  tests/unit/test_middleware/test_auth_middleware.py
  tests/unit/test_middleware/test_auth_middleware_billing.py
Due: check-auth-headers, auth-test-reminder

fix: Re-enable four skipped tests for health endpoints, auth paths, readiness probe, and debug endpoint (HOK-378) (#97)
  tests/test_api_endpoints_migration.py
Due: check-auth-headers

fix: Replace ml-platform service_id with platform across repo (HOK-684) (#96)
  auth_middleware_fix.patch
  documentation/authentication.md
  infrastructure/terraform/auth_service_id.patch
  infrastructure/terraform/variables.tf
  tests/integration/test_mlflow_proxy_bearer_auth.py
  tests/test_auth_middleware_fix.py
  tests/unit/test_middleware/test_auth_middleware.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

fix: Remove unused deps and convert to lazy imports (HOK-736)
  cli/requirements.txt
  hokusai-ml-platform/pyproject.toml
  hokusai-ml-platform/src/hokusai/__init__.py
Due: check-auth-headers

fix: Remove unused deps and convert to lazy imports (HOK-736) (#99)
  cli/requirements.txt
  hokusai-ml-platform/pyproject.toml
  hokusai-ml-platform/src/hokusai/__init__.py
Due: check-auth-headers

feat: Modularize SDK with lazy imports and [ml] optional extra (HOK-737)
  hokusai-ml-platform/pyproject.toml
  hokusai-ml-platform/src/hokusai/__init__.py
  hokusai-ml-platform/src/hokusai/_lazy.py
  hokusai-ml-platform/src/hokusai/config/__init__.py
  hokusai-ml-platform/src/hokusai/core/__init__.py
  hokusai-ml-platform/src/hokusai/tracking/__init__.py
  hokusai-ml-platform/tests/test_modular_install.py
  hokusai-ml-platform/tests/test_package_installation.py
  pyproject.toml
Due: check-auth-headers

feat: Modularize SDK with lazy imports and [ml] optional extra (HOK-737) (#100)
  hokusai-ml-platform/pyproject.toml
  hokusai-ml-platform/src/hokusai/__init__.py
  hokusai-ml-platform/src/hokusai/_lazy.py
  hokusai-ml-platform/src/hokusai/config/__init__.py
  hokusai-ml-platform/src/hokusai/core/__init__.py
  hokusai-ml-platform/src/hokusai/tracking/__init__.py
  hokusai-ml-platform/tests/test_modular_install.py
  hokusai-ml-platform/tests/test_package_installation.py
  pyproject.toml
Due: check-auth-headers

HOK-745: upgrade MLflow dependencies to 3.9.0
  Dockerfile.mlflow
  hokusai-ml-platform/pyproject.toml
  hokusai-ml-platform/src/hokusai/core/registry.py
  hokusai-ml-platform/tests/conftest.py
  hokusai-ml-platform/tests/core/test_registry.py
  requirements-all.in
  requirements-all.txt
  requirements-core.in
  requirements-mlflow.in
  requirements-mlflow.txt
  requirements.txt
  src/api/routes/models.py
  src/cli/model.py
  src/modules/baseline_loader.py
  src/services/model_registry.py
  tests/integration/test_deltaone_integration.py
  tests/unit/test_api_endpoints_unit.py
  tests/unit/test_model_registry.py
Due: check-auth-headers, check-mlflow-auth

HOK-745: upgrade MLflow dependencies to 3.9.0 (#101)
  Dockerfile.mlflow
  hokusai-ml-platform/pyproject.toml
  hokusai-ml-platform/src/hokusai/core/registry.py
  hokusai-ml-platform/tests/conftest.py
  hokusai-ml-platform/tests/core/test_registry.py
  requirements-all.in
  requirements-all.txt
  requirements-core.in
  requirements-mlflow.in
  requirements-mlflow.txt
  requirements.txt
  src/api/routes/models.py
  src/cli/model.py
  src/modules/baseline_loader.py
  src/services/model_registry.py
  tests/integration/test_deltaone_integration.py
  tests/unit/test_api_endpoints_unit.py
  tests/unit/test_model_registry.py
Due: check-auth-headers, check-mlflow-auth

fix: Add --allowed-hosts flag for MLflow 3.9.0 DNS rebinding protection
  scripts/mlflow-entrypoint.sh
Due: none

HOK-755: migrate baseline loader off deprecated current_stage
  src/cli/model.py
  src/modules/baseline_loader.py
  tests/unit/test_modules_baseline_loader.py
Due: check-auth-headers

HOK-322 add provider-agnostic evaluation adapter interface and registry
  src/evaluation/__init__.py
  src/evaluation/interfaces.py
  src/evaluation/provider_registry.py
  tests/evaluation/__init__.py
  tests/evaluation/test_interfaces.py
  tests/evaluation/test_provider_registry.py
Due: check-auth-headers, check-mlflow-auth

HOK-755: migrate baseline loader off deprecated current_stage (#102)
  src/cli/model.py
  src/modules/baseline_loader.py
  tests/unit/test_modules_baseline_loader.py
Due: check-auth-headers

HOK-322 add provider-agnostic evaluation adapter interface and registry (#103)
  src/evaluation/__init__.py
  src/evaluation/interfaces.py
  src/evaluation/provider_registry.py
  tests/evaluation/__init__.py
  tests/evaluation/test_interfaces.py
  tests/evaluation/test_provider_registry.py
Due: check-auth-headers, check-mlflow-auth

feat(evaluation): implement HEM v1 manifest and MLflow integration (HOK-323)
  src/evaluation/__init__.py
  src/evaluation/deltaone_evaluator.py
  src/evaluation/manifest.py
  src/evaluation/schema.py
  src/evaluation/validation.py
  tests/evaluation/__init__.py
  tests/evaluation/test_manifest.py
  tests/evaluation/test_mlflow_integration.py
  tests/evaluation/test_validation.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

HOK-327 add lightweight OpenAI evals MLflow adapter
  src/evals/__init__.py
  src/evals/openai_adapter.py
  tests/evals/__init__.py
  tests/evals/test_openai_adapter.py
Due: check-auth-headers

feat(evaluation): implement HEM v1 manifest and MLflow integration (HOK-323) (#104)
  src/evaluation/__init__.py
  src/evaluation/deltaone_evaluator.py
  src/evaluation/manifest.py
  src/evaluation/schema.py
  src/evaluation/validation.py
  tests/evaluation/__init__.py
  tests/evaluation/test_manifest.py
  tests/evaluation/test_mlflow_integration.py
  tests/evaluation/test_validation.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

HOK-327 add lightweight OpenAI evals MLflow adapter (#105)
  src/evals/__init__.py
  src/evals/openai_adapter.py
  tests/evals/__init__.py
  tests/evals/test_openai_adapter.py
Due: check-auth-headers

HOK-328: integrate ModelEvaluator with mlflow.evaluate
  src/modules/evaluation.py
  tests/unit/test_evaluation.py
  tests/unit/test_evaluation_enhanced.py
Due: check-auth-headers

HOK-328: integrate ModelEvaluator with mlflow.evaluate (#106)
  src/modules/evaluation.py
  tests/unit/test_evaluation.py
  tests/unit/test_evaluation_enhanced.py
Due: check-auth-headers

HOK-325 add statistically rigorous DeltaOne evaluator
  src/evaluation/__init__.py
  src/evaluation/deltaone_evaluator.py
  src/evaluation/hem.py
  tests/evaluation/test_deltaone_evaluator.py
  tests/integration/test_deltaone_integration.py
  tests/unit/test_deltaone_evaluator.py
  tests/unit/test_evaluation_deltaone_evaluator.py
Due: check-auth-headers

HOK-325 add statistically rigorous DeltaOne evaluator (#107)
  src/evaluation/__init__.py
  src/evaluation/deltaone_evaluator.py
  src/evaluation/hem.py
  tests/evaluation/test_deltaone_evaluator.py
  tests/integration/test_deltaone_integration.py
  tests/unit/test_deltaone_evaluator.py
  tests/unit/test_evaluation_deltaone_evaluator.py
Due: check-auth-headers

HOK-334 add signed multi-endpoint DeltaOne webhook delivery
  src/evaluation/deltaone_evaluator.py
  src/evaluation/webhook_config.py
  src/evaluation/webhook_delivery.py
  src/evaluation/webhook_security.py
  tests/unit/test_deltaone_evaluator.py
  tests/unit/test_deltaone_webhooks.py
  tests/unit/test_evaluation_deltaone_evaluator.py
Due: check-auth-headers

HOK-334 add signed multi-endpoint DeltaOne webhook delivery (#108)
  src/evaluation/deltaone_evaluator.py
  src/evaluation/webhook_config.py
  src/evaluation/webhook_delivery.py
  src/evaluation/webhook_security.py
  tests/unit/test_deltaone_evaluator.py
  tests/unit/test_deltaone_webhooks.py
  tests/unit/test_evaluation_deltaone_evaluator.py
Due: check-auth-headers

feat(api): add evaluation endpoints with redis job tracking (HOK-331)
  src/api/dependencies.py
  src/api/main.py
  src/api/routes/__init__.py
  src/api/routes/evaluations.py
  src/api/schemas/__init__.py
  src/api/schemas/evaluations.py
  src/api/services/__init__.py
  src/api/services/evaluation_service.py
  tests/api/__init__.py
  tests/api/routes/__init__.py
  tests/api/routes/test_evaluations.py
  tests/api/services/__init__.py
  tests/api/services/test_evaluation_service.py
Due: check-auth-headers

feat(api): add evaluation endpoints with redis job tracking (HOK-331) (#109)
  src/api/dependencies.py
  src/api/main.py
  src/api/routes/__init__.py
  src/api/routes/evaluations.py
  src/api/schemas/__init__.py
  src/api/schemas/evaluations.py
  src/api/services/__init__.py
  src/api/services/evaluation_service.py
  tests/api/__init__.py
  tests/api/routes/__init__.py
  tests/api/routes/test_evaluations.py
  tests/api/services/__init__.py
  tests/api/services/test_evaluation_service.py
Due: check-auth-headers

HOK-330: implement reproducible hoku eval CLI with resume and attestation
  README.md
  cli/setup.py
  src/cli/attestation.py
  src/cli/hoku_eval.py
  src/cli/output_formatters.py
  src/cli/resume.py
  tests/cli/__init__.py
  tests/cli/test_attestation.py
  tests/cli/test_hoku_eval.py
  tests/cli/test_output_formatters.py
Due: check-auth-headers

HOK-332: implement Redis-backed evaluation queue and worker
  requirements-dev.in
  requirements-dev.txt
  src/models/__init__.py
  src/models/evaluation_job.py
  src/services/evaluation_queue.py
  src/services/evaluation_worker.py
  tests/integration/test_evaluation_queue_integration.py
  tests/unit/test_evaluation_queue.py
  tests/unit/test_evaluation_worker.py
Due: check-auth-headers

HOK-338: add privacy and governance controls for eval workflows
  Dockerfile.api
  migrations/versions/003_add_governance_tables.py
  openai_evals_plan.md
  pyproject.toml
  requirements-api.txt
  src/api/dependencies.py
  src/api/main.py
  src/api/models/__init__.py
  src/api/models/audit_log.py
  src/api/models/consent_record.py
  src/api/models/dataset_license.py
  src/api/models/db_base.py
  src/api/models/retention_policy.py
  src/api/models/schema_models.py
  src/api/routes/__init__.py
  src/api/routes/evaluations.py
  src/api/routes/governance.py
  src/api/routes/privacy.py
  src/api/schemas/evaluations.py
  src/api/services/evaluation_service.py
  src/api/services/governance/__init__.py
  src/api/services/governance/audit_logger.py
  src/api/services/governance/gdpr.py
  src/api/services/governance/licensing.py
  src/api/services/governance/retention.py
  src/api/services/privacy/__init__.py
  src/api/services/privacy/pii_detector.py
  src/api/services/privacy/pii_patterns.py
  tests/integration/test_governance_api.py
  tests/unit/test_audit_logger.py
  tests/unit/test_gdpr.py
  tests/unit/test_licensing.py
  tests/unit/test_pii_detector.py
  tests/unit/test_retention.py
Due: check-auth-headers

HOK-338: add privacy and governance controls for eval workflows (#111)
  Dockerfile.api
  migrations/versions/003_add_governance_tables.py
  openai_evals_plan.md
  pyproject.toml
  requirements-api.txt
  src/api/dependencies.py
  src/api/main.py
  src/api/models/__init__.py
  src/api/models/audit_log.py
  src/api/models/consent_record.py
  src/api/models/dataset_license.py
  src/api/models/db_base.py
  src/api/models/retention_policy.py
  src/api/models/schema_models.py
  src/api/routes/__init__.py
  src/api/routes/evaluations.py
  src/api/routes/governance.py
  src/api/routes/privacy.py
  src/api/schemas/evaluations.py
  src/api/services/evaluation_service.py
  src/api/services/governance/__init__.py
  src/api/services/governance/audit_logger.py
  src/api/services/governance/gdpr.py
  src/api/services/governance/licensing.py
  src/api/services/governance/retention.py
  src/api/services/privacy/__init__.py
  src/api/services/privacy/pii_detector.py
  src/api/services/privacy/pii_patterns.py
  tests/integration/test_governance_api.py
  tests/unit/test_audit_logger.py
  tests/unit/test_gdpr.py
  tests/unit/test_licensing.py
  tests/unit/test_pii_detector.py
  tests/unit/test_retention.py
Due: check-auth-headers

HOK-332: implement Redis-backed evaluation queue and worker (#112)
  requirements-dev.in
  requirements-dev.txt
  src/models/__init__.py
  src/models/evaluation_job.py
  src/services/evaluation_queue.py
  src/services/evaluation_worker.py
  tests/integration/test_evaluation_queue_integration.py
  tests/unit/test_evaluation_queue.py
  tests/unit/test_evaluation_worker.py
Due: check-auth-headers

Add contributor attribution logging for DSPy executions
  src/evaluation/deltaone_evaluator.py
  src/services/dspy_pipeline_executor.py
  src/utils/contributor_logger.py
  tests/evaluation/test_deltaone_evaluator.py
  tests/unit/test_contributor_logger.py
  tests/unit/test_dspy_pipeline_executor.py
Due: check-auth-headers

HOK-330: lazy-load hokusai CLI and mount eval subcommand
  README.md
  cli/setup.py
  cli/src/cli.py
  cli/tests/test_cli.py
  src/cli/hoku_eval.py
  src/cli/output_formatters.py
  src/cli/resume.py
  tests/cli/__init__.py
  tests/cli/test_attestation.py
  tests/cli/test_hoku_eval.py
  tests/cli/test_output_formatters.py
Due: check-auth-headers

HOK-330: add reproducible hoku eval CLI with MLflow resume and attestation (#110)
  README.md
  cli/setup.py
  cli/src/cli.py
  cli/tests/test_cli.py
  src/cli/attestation.py
  src/cli/hoku_eval.py
  src/cli/output_formatters.py
  src/cli/resume.py
  tests/cli/__init__.py
  tests/cli/test_attestation.py
  tests/cli/test_hoku_eval.py
  tests/cli/test_output_formatters.py
Due: check-auth-headers

HOK-336: add reusable MLflow judge templates and tests
  src/evaluation/judges/README.md
  src/evaluation/judges/__init__.py
  src/evaluation/judges/base.py
  src/evaluation/judges/classification.py
  src/evaluation/judges/deepeval_integration.py
  src/evaluation/judges/generation.py
  src/evaluation/judges/ranking.py
  src/evaluation/judges/session_scorer.py
  tests/evaluation/judges/__init__.py
  tests/evaluation/judges/test_base.py
  tests/evaluation/judges/test_classification.py
  tests/evaluation/judges/test_generation.py
  tests/evaluation/judges/test_ranking.py
Due: check-auth-headers

HOK-335: add comprehensive HEK unit, integration, and e2e tests
  tests/conftest.py
  tests/e2e/test_evaluation_workflow.py
  tests/e2e/test_queue_processing.py
  tests/e2e/test_webhook_notifications.py
  tests/integration/test_hem_creation.py
  tests/integration/test_mlflow_evaluation.py
  tests/unit/test_bootstrap_ci.py
  tests/unit/test_cooldown.py
  tests/unit/test_dataset_hash.py
  tests/unit/test_delta_one.py
  tests/unit/test_delta_one_edges.py
  tests/unit/test_mlflow_evaluation_edges.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder
