Repository Hokusai-protocol/hokusai-data-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-auth-headers, validate-proxy-config, check-mlflow-auth, auth-test-reminder

.pre-commit-config.yaml:

repos:
  # Python code quality checks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Custom auth-related hooks
  - repo: local
    hooks:
      - id: check-auth-headers
        name: Check Authentication Headers
        entry: scripts/hooks/check-auth-headers.sh
        language: script
        files: '\.(py|ts|js)$'
        pass_filenames: true
        description: Ensure auth headers are properly forwarded in API calls
      
      - id: validate-proxy-config
        name: Validate Proxy Configuration
        entry: scripts/hooks/validate-proxy.py
        language: python
        files: 'src/api/proxy\.py$'
        additional_dependencies: [pyyaml]
        description: Verify proxy configurations maintain auth headers
      
      - id: check-mlflow-auth
        name: Check MLflow Authentication
        entry: scripts/hooks/check-mlflow-auth.py
        language: python
        files: '(mlflow|registry).*\.py$'
        additional_dependencies: [pyyaml]
        description: Ensure MLflow operations include authentication
      
      - id: auth-test-reminder
        name: Auth Test Reminder
        entry: scripts/hooks/auth-test-reminder.sh
        language: script
        files: '(proxy|auth|mlflow).*\.(py|ts|js)$'
        pass_filenames: false
        description: Remind to run auth tests after changes

Point mint config at mainnet contract addresses; keep Sepolia
  .env.example
  .github/workflows/deploy.yml
  deployments/mainnet.addresses.json
  docs/mainnet-integration.md
  docs/mint-request.md
Due: none

Accept harness contribution rows + authoritative fidelity tiering
  scripts/model_30/assemble_training_set.py
  src/api/services/contribution_fidelity.py
  src/api/services/contribution_service.py
  tests/unit/scripts/test_assemble_training_set.py
  tests/unit/test_contribution_fidelity.py
Due: check-auth-headers

Return fidelity tiers in the contribution response
  src/api/schemas/contribution.py
  src/api/services/contribution_service.py
  tests/unit/test_contribution_fidelity.py
Due: check-auth-headers

Recognize shallow/standard/deep as complexity words
  src/models/technical_task_router.py
  tests/unit/test_technical_task_router_features.py
Due: check-auth-headers

Define typed routing candidate pool contract
  documentation/api-reference/model-30-routing-contract.md
  scripts/model_30/assemble_training_set.py
  src/api/endpoints/model_30_adapter.py
  src/api/schemas/contribution.py
  src/api/schemas/technical_task_router_inputs.py
  src/api/services/contribution_fidelity.py
  src/api/services/contribution_service.py
  tests/unit/scripts/test_assemble_training_set.py
  tests/unit/test_contribution_fidelity.py
  tests/unit/test_model_30_adapter.py
Due: check-auth-headers

HOK-2496 count serving feature defaults
  src/models/technical_task_router.py
  src/utils/prometheus_metrics.py
  tests/unit/models/test_technical_task_router.py
Due: check-auth-headers

HOK-2497 gate training assembly on feature health
  schema/examples/model_30_training_manifest.v1.json
  schema/model_30_training_manifest.v1.json
  scripts/model_30/assemble_training_set.py
  src/models/technical_task_router.py
  tests/unit/scripts/test_assemble_training_set.py
Due: check-auth-headers

HOK-2498 add harness descriptor schema validation
  schema/hokusai_task_descriptor.v1.json
  src/api/schemas/contribution.py
  src/api/services/contribution_fidelity.py
  src/api/services/contribution_service.py
  tests/unit/test_contribution_fidelity.py
Due: check-auth-headers

HOK-2499 add SDK descriptor contract test
  src/models/technical_task_router.py
  tests/fixtures/sdk_task_descriptor_contract_rows.v1.json
  tests/unit/models/test_sdk_task_descriptor_contract.py
Due: check-auth-headers

Fix API image schema packaging
  Dockerfile.api
  tests/unit/test_api_image_contract.py
Due: check-auth-headers

fix: filter unsupported Model 30 routing candidates
  configs/model_30_launch_priority_models.v1.json
  docs/model-30-serving.md
  src/api/endpoints/model_30_adapter.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_model_30_launch_priority_models.py
Due: check-auth-headers

fix: package Model 30 catalog in API image
  Dockerfile.api
Due: none

fix: start the mint queue depth emitter in the API service
  .github/workflows/deploy.yml
Due: none

fix: restore Model 30 reliability routing
  bugs/model-30-highest-reliability-doesnt-work/fix-tasks.md
  bugs/model-30-highest-reliability-doesnt-work/hypotheses.md
  bugs/model-30-highest-reliability-doesnt-work/investigation.md
  bugs/model-30-highest-reliability-doesnt-work/selected-task.json
  docs/model-30-serving.md
  src/api/endpoints/model_30_adapter.py
  src/api/schemas/__init__.py
  src/api/schemas/technical_task_router_inputs.py
  src/models/technical_task_router.py
  tests/integration/test_model_30_mlflow_serving.py
  tests/unit/models/test_technical_task_router.py
  tests/unit/test_model_30_adapter.py
Due: check-auth-headers, check-mlflow-auth, auth-test-reminder

fix: fail closed when usage debit is unconfirmed
  bugs/fail-closed-when-auth-usage-debit-cannot-be-confirmed/fix-tasks.md
  bugs/fail-closed-when-auth-usage-debit-cannot-be-confirmed/hypotheses.md
  bugs/fail-closed-when-auth-usage-debit-cannot-be-confirmed/investigation.md
  bugs/fail-closed-when-auth-usage-debit-cannot-be-confirmed/selected-task.json
  bugs/fail-closed-when-auth-usage-debit-cannot-be-confirmed/validation.md
  docs/model-30-serving.md
  src/middleware/auth.py
  tests/unit/test_middleware/test_auth_middleware.py
  tests/unit/test_middleware/test_auth_middleware_billing.py
  tests/unit/test_middleware/test_auth_middleware_stopiteration.py
  tests/unit/test_model_serving_auth.py
Due: check-auth-headers, auth-test-reminder

chore: reconcile auto/integration after squash promotion
  bugs/fail-closed-when-auth-usage-debit-cannot-be-confirmed/fix-tasks.md
  bugs/fail-closed-when-auth-usage-debit-cannot-be-confirmed/hypotheses.md
  bugs/fail-closed-when-auth-usage-debit-cannot-be-confirmed/investigation.md
  bugs/fail-closed-when-auth-usage-debit-cannot-be-confirmed/selected-task.json
  bugs/fail-closed-when-auth-usage-debit-cannot-be-confirmed/validation.md
  docs/model-30-serving.md
  src/middleware/auth.py
  tests/unit/test_middleware/test_auth_middleware.py
  tests/unit/test_middleware/test_auth_middleware_billing.py
  tests/unit/test_middleware/test_auth_middleware_stopiteration.py
  tests/unit/test_model_serving_auth.py
Due: check-auth-headers, auth-test-reminder

fix: return best-effort over-budget Model 30 route instead of 503 (HOK-3127)
  bugs/model-30-infeasible-max-cost-returns-503/plan.md
  docs/model-30-serving.md
  scripts/model_30/evaluate_technical_task_router.py
  src/api/endpoints/model_30_adapter.py
  src/api/schemas/technical_task_router_inputs.py
  src/evaluation/scorers/builtin.py
  src/models/technical_task_router.py
  tests/unit/models/test_technical_task_router.py
  tests/unit/models/test_technical_task_router_evaluation.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_model_serving.py
  tests/unit/test_technical_task_router_scorers.py
Due: check-auth-headers

build: pin dspy to 3.3.1 to fix API image dependency resolution
  requirements-api.txt
Due: none

build: pin SQLAlchemy 2.0.41 in MLflow image
  Dockerfile.mlflow
Due: none

chore: reconcile auto/integration after squash promotion
  Dockerfile.mlflow
  bugs/model-30-infeasible-max-cost-returns-503/plan.md
  docs/model-30-serving.md
  requirements-api.txt
  scripts/model_30/evaluate_technical_task_router.py
  src/api/endpoints/model_30_adapter.py
  src/api/schemas/technical_task_router_inputs.py
  src/evaluation/scorers/builtin.py
  src/models/technical_task_router.py
  tests/unit/models/test_technical_task_router.py
  tests/unit/models/test_technical_task_router_evaluation.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_model_serving.py
  tests/unit/test_technical_task_router_scorers.py
Due: check-auth-headers
