Repository Hokusai-protocol/hokusai-data-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-auth-headers, validate-proxy-config, check-mlflow-auth, auth-test-reminder

check-auth-headers:
  name: Check Authentication Headers
  entry: scripts/hooks/check-auth-headers.sh
  language: script
  pass_filenames: true
  description: Ensure auth headers are properly forwarded in API calls

validate-proxy-config:
  name: Validate Proxy Configuration
  entry: scripts/hooks/validate-proxy.py
  language: python
  additional_dependencies:
  - pyyaml
  description: Verify proxy configurations maintain auth headers

check-mlflow-auth:
  name: Check MLflow Authentication
  entry: scripts/hooks/check-mlflow-auth.py
  language: python
  additional_dependencies:
  - pyyaml
  description: Ensure MLflow operations include authentication

auth-test-reminder:
  name: Auth Test Reminder
  entry: scripts/hooks/auth-test-reminder.sh
  language: script
  pass_filenames: false
  description: Remind to run auth tests after changes

HOK-1975: Handle auth service schema errors gracefully (#227)
  src/middleware/auth.py
  tests/unit/test_middleware/test_auth_middleware_billing.py
Due: check-auth-headers, auth-test-reminder

fix: Address self-review findings (iteration 2)
  .github/workflows/model-30-latency-check.yml
Due: none

Add Model 30 latency budget checks
  .github/workflows/model-30-latency-check.yml
  configs/model_30_budget.yaml
  docs/model-30-serving.md
  scripts/model_30/latency_smoke_check.py
  src/api/routes/health.py
  tests/unit/test_model_30_latency_budget.py
  tests/unit/test_model_30_warmup.py
  tests/unit/test_ready_endpoint_model_30.py
Due: check-auth-headers

fix: Treat missing MODEL_30_SMOKE_JWT as infra_inconclusive
  .github/workflows/model-30-latency-check.yml
  scripts/model_30/latency_smoke_check.py
  tests/unit/test_model_30_latency_budget.py
Due: check-auth-headers

chore: reconcile auto/integration after squash promotion
  .env.example
  .github/workflows/model-30-latency-check.yml
  configs/grafana/dashboards/hokusai-services.json
  configs/grafana/datasources/cloudwatch.yml
  configs/model_30_budget.yaml
  docs/mlflow-memory-runbook.md
  docs/model-30-serving.md
  features/investigate-and-suppress-scanner-noise-4xx-traffic/INVESTIGATION.md
  features/investigate-model-30-runtime-and-packaging-alternatives-for-dramatic-speedup/INVESTIGATION.md
  features/investigate-repeated-503-errors/.coding-blocked-completion.json
  features/investigate-repeated-503-errors/INVESTIGATION.md
  features/mlflow-memory-and-public-exposure-noise-/INVESTIGATION.md
  scripts/model_30/latency_smoke_check.py
  scripts/model_30/profile_inference.py
  src/api/main.py
  src/api/middleware/scanner_filter.py
  src/api/routes/health.py
  src/api/utils/config.py
  src/middleware/auth.py
  tests/unit/test_middleware/test_auth_middleware_billing.py
  tests/unit/test_model_30_latency_budget.py
  tests/unit/test_model_30_warmup.py
  tests/unit/test_profile_inference.py
  tests/unit/test_ready_endpoint_model_30.py
  tests/unit/test_scanner_filter_middleware.py
Due: check-auth-headers, auth-test-reminder

chore: reconcile auto/integration after squash promotion (#231)
  .env.example
  .github/workflows/model-30-latency-check.yml
  configs/grafana/dashboards/hokusai-services.json
  configs/grafana/datasources/cloudwatch.yml
  configs/model_30_budget.yaml
  docs/mlflow-memory-runbook.md
  docs/model-30-serving.md
  features/investigate-and-suppress-scanner-noise-4xx-traffic/INVESTIGATION.md
  features/investigate-model-30-runtime-and-packaging-alternatives-for-dramatic-speedup/INVESTIGATION.md
  features/investigate-repeated-503-errors/.coding-blocked-completion.json
  features/investigate-repeated-503-errors/INVESTIGATION.md
  features/mlflow-memory-and-public-exposure-noise-/INVESTIGATION.md
  scripts/model_30/latency_smoke_check.py
  scripts/model_30/profile_inference.py
  src/api/main.py
  src/api/middleware/scanner_filter.py
  src/api/routes/health.py
  src/api/utils/config.py
  src/middleware/auth.py
  tests/unit/test_middleware/test_auth_middleware_billing.py
  tests/unit/test_model_30_latency_budget.py
  tests/unit/test_model_30_warmup.py
  tests/unit/test_profile_inference.py
  tests/unit/test_ready_endpoint_model_30.py
  tests/unit/test_scanner_filter_middleware.py
Due: check-auth-headers, auth-test-reminder

Inject contributions bucket into deploy workflow
  .env.example
  .github/workflows/deploy.yml
  docs/model-30-serving.md
Due: none

Inject contributions bucket into deploy workflow (#232)
  .env.example
  .github/workflows/deploy.yml
  docs/model-30-serving.md
Due: none

Treat nonpositive router durations as missing
  docs/model-30-training-data.md
  scripts/model_30/clean_router_dataset.py
  tests/unit/scripts/test_clean_router_dataset.py
Due: check-auth-headers

chore: reconcile auto/integration after squash promotion
  .env.example
  .github/workflows/deploy.yml
  docs/model-30-serving.md
  docs/model-30-training-data.md
  scripts/model_30/clean_router_dataset.py
  tests/unit/scripts/test_clean_router_dataset.py
Due: check-auth-headers

chore: reconcile auto/integration after squash promotion (#234)
  .env.example
  .github/workflows/deploy.yml
  docs/model-30-serving.md
  docs/model-30-training-data.md
  scripts/model_30/clean_router_dataset.py
  tests/unit/scripts/test_clean_router_dataset.py
Due: check-auth-headers

HOK-1928 ignore nonpositive duration evidence; return null when insufficient
  docs/model-30-serving.md
  src/models/technical_task_router.py
  tests/unit/models/test_technical_task_router.py
Due: check-auth-headers

HOK-1928 ignore nonpositive duration evidence; return null when insufficient (#235)
  docs/model-30-serving.md
  src/models/technical_task_router.py
  tests/unit/models/test_technical_task_router.py
Due: check-auth-headers

HOK-1869 fix smoke checker payload wrapping and add SUMMARY
  features/model-30-performance-cold-start-and-serving-reliability/.coding-result.json
  features/model-30-performance-cold-start-and-serving-reliability/.initial-route.json
  features/model-30-performance-cold-start-and-serving-reliability/.phase-config.json
  features/model-30-performance-cold-start-and-serving-reliability/.plan-approved
  features/model-30-performance-cold-start-and-serving-reliability/.planning-result.json
  features/model-30-performance-cold-start-and-serving-reliability/.post-expansion-route.json
  features/model-30-performance-cold-start-and-serving-reliability/.resolved-phase
  features/model-30-performance-cold-start-and-serving-reliability/.routing-complete
  features/model-30-performance-cold-start-and-serving-reliability/SUMMARY.md
  features/model-30-performance-cold-start-and-serving-reliability/plan.md
  features/model-30-performance-cold-start-and-serving-reliability/selected-task.json
  features/model-30-performance-cold-start-and-serving-reliability/task-packet-details.md
  features/model-30-performance-cold-start-and-serving-reliability/task-packet-header.md
  features/model-30-performance-cold-start-and-serving-reliability/task-packet.md
  scripts/model_30/latency_smoke_check.py
  tests/unit/test_model_30_latency_budget.py
Due: check-auth-headers

HOK-1869 fix smoke checker payload wrapping and add SUMMARY (#236)
  features/model-30-performance-cold-start-and-serving-reliability/.coding-result.json
  features/model-30-performance-cold-start-and-serving-reliability/.initial-route.json
  features/model-30-performance-cold-start-and-serving-reliability/.phase-config.json
  features/model-30-performance-cold-start-and-serving-reliability/.plan-approved
  features/model-30-performance-cold-start-and-serving-reliability/.planning-result.json
  features/model-30-performance-cold-start-and-serving-reliability/.post-expansion-route.json
  features/model-30-performance-cold-start-and-serving-reliability/.resolved-phase
  features/model-30-performance-cold-start-and-serving-reliability/.routing-complete
  features/model-30-performance-cold-start-and-serving-reliability/SUMMARY.md
  features/model-30-performance-cold-start-and-serving-reliability/plan.md
  features/model-30-performance-cold-start-and-serving-reliability/selected-task.json
  features/model-30-performance-cold-start-and-serving-reliability/task-packet-details.md
  features/model-30-performance-cold-start-and-serving-reliability/task-packet-header.md
  features/model-30-performance-cold-start-and-serving-reliability/task-packet.md
  scripts/model_30/latency_smoke_check.py
  tests/unit/test_model_30_latency_budget.py
Due: check-auth-headers

HOK-2020 skip usage debit for contribution ingestion routes
  src/middleware/auth.py
  tests/unit/test_middleware/test_auth_middleware_billing.py
Due: check-auth-headers, auth-test-reminder

chore: reconcile auto/integration after squash promotion
  docs/model-30-serving.md
  features/model-30-performance-cold-start-and-serving-reliability/.coding-result.json
  features/model-30-performance-cold-start-and-serving-reliability/.initial-route.json
  features/model-30-performance-cold-start-and-serving-reliability/.phase-config.json
  features/model-30-performance-cold-start-and-serving-reliability/.plan-approved
  features/model-30-performance-cold-start-and-serving-reliability/.planning-result.json
  features/model-30-performance-cold-start-and-serving-reliability/.post-expansion-route.json
  features/model-30-performance-cold-start-and-serving-reliability/.resolved-phase
  features/model-30-performance-cold-start-and-serving-reliability/.routing-complete
  features/model-30-performance-cold-start-and-serving-reliability/SUMMARY.md
  features/model-30-performance-cold-start-and-serving-reliability/plan.md
  features/model-30-performance-cold-start-and-serving-reliability/selected-task.json
  features/model-30-performance-cold-start-and-serving-reliability/task-packet-details.md
  features/model-30-performance-cold-start-and-serving-reliability/task-packet-header.md
  features/model-30-performance-cold-start-and-serving-reliability/task-packet.md
  scripts/model_30/latency_smoke_check.py
  src/middleware/auth.py
  src/models/technical_task_router.py
  tests/unit/models/test_technical_task_router.py
  tests/unit/test_middleware/test_auth_middleware_billing.py
  tests/unit/test_model_30_latency_budget.py
Due: check-auth-headers, auth-test-reminder

Implement auth callback for accepted contributions
  src/api/dependencies.py
  src/api/endpoints/contributions.py
  src/api/services/auth_service_notifier.py
  src/api/services/contribution_service.py
  tests/unit/test_auth_service_notifier.py
  tests/unit/test_contributions_endpoint.py
Due: check-auth-headers, auth-test-reminder

fix: Address self-review findings (iteration 1)
  .env.example
  src/api/services/auth_service_notifier.py
  tests/unit/test_auth_service_notifier.py
Due: check-auth-headers, auth-test-reminder

fix: Address self-review warnings (iteration 2)
  src/api/endpoints/contributions.py
  src/api/services/auth_service_notifier.py
Due: check-auth-headers, auth-test-reminder

HOK-2030: Emit contribution accepted events to auth-service (#239)
  .env.example
  src/api/dependencies.py
  src/api/services/auth_service_notifier.py
  src/api/services/contribution_service.py
  tests/unit/test_auth_service_notifier.py
  tests/unit/test_contributions_endpoint.py
Due: check-auth-headers, auth-test-reminder

Guard auth debit StopIteration failures
  src/middleware/auth.py
  tests/unit/test_middleware/test_auth_middleware_stopiteration.py
Due: check-auth-headers, auth-test-reminder

Guard auth debit StopIteration failures (#240)
  src/middleware/auth.py
  tests/unit/test_middleware/test_auth_middleware_stopiteration.py
Due: check-auth-headers, auth-test-reminder

fix: Address self-review findings (iteration 1)
  src/api/endpoints/contributions.py
  src/api/models/contribution_lifecycle.py
Due: check-auth-headers

Track contribution processing lifecycle
  migrations/versions/015_add_contribution_lifecycle.py
  src/api/endpoints/contributions.py
  src/api/main.py
  src/api/models/__init__.py
  src/api/models/contribution_lifecycle.py
  src/api/schemas/contribution.py
  src/api/services/contribution_service.py
  tests/unit/test_contribution_lifecycle.py
  tests/unit/test_contributions_endpoint.py
Due: check-auth-headers

HOK-2032: Track processing lifecycle for accepted contributions (#241)
  migrations/versions/015_add_contribution_lifecycle.py
  src/api/endpoints/contributions.py
  src/api/main.py
  src/api/models/__init__.py
  src/api/models/contribution_lifecycle.py
  src/api/schemas/contribution.py
  src/api/services/contribution_service.py
  tests/unit/test_contribution_lifecycle.py
  tests/unit/test_contributions_endpoint.py
Due: check-auth-headers

Update model 30 duration coverage handling
  data/model_30/hokusai-router-budget-benchmark.clean.report.json
  data/model_30/hokusai-router-dataset.clean.report.json
  data/model_30/model_30_baseline_report.json
  data/model_30/model_30_local_promotion_report.json
  docs/model-30-training-data.md
  docs/technical-task-router-benchmark.md
  schema/examples/technical_task_router_row.null_duration.v1.json
  schema/technical_task_router_row.v1.json
  scripts/model_30/clean_router_dataset.py
  scripts/model_30/evaluate_technical_task_router.py
  scripts/model_30/profile_inference.py
  scripts/model_30/promote_technical_task_router.py
  scripts/model_30/register_technical_task_router.py
  src/api/endpoints/model_30_adapter.py
  src/evaluation/scorers/builtin.py
  tests/unit/models/test_technical_task_router_evaluation.py
  tests/unit/models/test_technical_task_router_promotion.py
  tests/unit/scripts/test_clean_router_dataset.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_technical_task_router_scorers.py
  tests/unit/test_technical_task_router_spec_fixtures.py
Due: check-auth-headers

fix(auth): return correct HTTP status for upstream auth failures
  src/middleware/auth.py
  tests/unit/test_middleware/test_auth_middleware.py
Due: check-auth-headers, auth-test-reminder

Update model 30 duration coverage handling (#242)
  data/model_30/hokusai-router-budget-benchmark.clean.report.json
  data/model_30/hokusai-router-dataset.clean.report.json
  data/model_30/model_30_baseline_report.json
  data/model_30/model_30_local_promotion_report.json
  docs/model-30-training-data.md
  docs/technical-task-router-benchmark.md
  schema/examples/technical_task_router_row.null_duration.v1.json
  schema/technical_task_router_row.v1.json
  scripts/model_30/clean_router_dataset.py
  scripts/model_30/evaluate_technical_task_router.py
  scripts/model_30/profile_inference.py
  scripts/model_30/promote_technical_task_router.py
  scripts/model_30/register_technical_task_router.py
  src/api/endpoints/model_30_adapter.py
  src/evaluation/scorers/builtin.py
  tests/unit/models/test_technical_task_router_evaluation.py
  tests/unit/models/test_technical_task_router_promotion.py
  tests/unit/scripts/test_clean_router_dataset.py
  tests/unit/test_model_30_adapter.py
  tests/unit/test_technical_task_router_scorers.py
  tests/unit/test_technical_task_router_spec_fixtures.py
Due: check-auth-headers

Make mint idempotency key content-derived
  docs/deltaone-acceptance-event.md
  docs/mint-request.md
  schema/deltaone_acceptance_event.v1.json
  schema/examples/deltaone_acceptance_event.v1.json
  schema/examples/mint_request.v1.json
  schema/mint_request.v1.json
  src/evaluation/deltaone_mint_orchestrator.py
  src/evaluation/event_payload.py
  src/events/schemas.py
  tests/integration/test_mint_request_publish.py
  tests/unit/test_event_payload.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers

Make mint idempotency key content-derived (#243)
  docs/deltaone-acceptance-event.md
  docs/mint-request.md
  schema/deltaone_acceptance_event.v1.json
  schema/examples/deltaone_acceptance_event.v1.json
  schema/examples/mint_request.v1.json
  schema/mint_request.v1.json
  src/evaluation/deltaone_mint_orchestrator.py
  src/evaluation/event_payload.py
  src/events/schemas.py
  tests/integration/test_mint_request_publish.py
  tests/unit/test_event_payload.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers

fix(auth): return correct HTTP status for upstream auth failures (#244)
  src/middleware/auth.py
  tests/unit/test_middleware/test_auth_middleware.py
Due: check-auth-headers, auth-test-reminder

Publish lifecycle updates to auth-service
  .env.example
  migrations/versions/016_add_lifecycle_callback_tracking.py
  src/api/models/contribution_lifecycle.py
  src/api/schemas/contribution.py
  src/api/services/auth_service_notifier.py
  src/api/services/contribution_service.py
  tests/unit/test_auth_service_notifier.py
  tests/unit/test_lifecycle_notifications.py
Due: check-auth-headers, auth-test-reminder

Publish lifecycle updates to auth-service (#245)
  .env.example
  migrations/versions/016_add_lifecycle_callback_tracking.py
  src/api/models/contribution_lifecycle.py
  src/api/schemas/contribution.py
  src/api/services/auth_service_notifier.py
  src/api/services/contribution_service.py
  tests/unit/test_auth_service_notifier.py
  tests/unit/test_lifecycle_notifications.py
Due: check-auth-headers, auth-test-reminder

Link mint eligibility to contributor submissions
  docs/deltaone-acceptance-event.md
  docs/mint-request.md
  schema/deltaone_acceptance_event.v1.json
  schema/examples/deltaone_acceptance_event.v1.json
  schema/examples/mint_request.v1.json
  schema/mint_request.v1.json
  src/api/services/auth_service_notifier.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/evaluation/event_payload.py
  src/events/schemas.py
  tests/evaluation/test_deltaone_mint_orchestrator.py
  tests/integration/test_mint_request_publish.py
  tests/unit/test_auth_service_notifier.py
  tests/unit/test_event_payload.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers, auth-test-reminder

Link mint eligibility to contributor submissions (#246)
  docs/deltaone-acceptance-event.md
  docs/mint-request.md
  schema/deltaone_acceptance_event.v1.json
  schema/examples/deltaone_acceptance_event.v1.json
  schema/examples/mint_request.v1.json
  schema/mint_request.v1.json
  src/api/services/auth_service_notifier.py
  src/evaluation/deltaone_mint_orchestrator.py
  src/evaluation/event_payload.py
  src/events/schemas.py
  tests/evaluation/test_deltaone_mint_orchestrator.py
  tests/integration/test_mint_request_publish.py
  tests/unit/test_auth_service_notifier.py
  tests/unit/test_event_payload.py
  tests/unit/test_mint_request_publisher.py
Due: check-auth-headers, auth-test-reminder

Handle non-dict auth validation responses
  src/middleware/auth.py
  tests/unit/test_middleware/test_auth_middleware_billing.py
Due: check-auth-headers, auth-test-reminder

Handle non-dict auth validation responses (#247)
  src/middleware/auth.py
  tests/unit/test_middleware/test_auth_middleware_billing.py
Due: check-auth-headers, auth-test-reminder

Add Model 30 training set assembler
  schema/examples/model_30_training_manifest.v1.json
  schema/model_30_training_manifest.v1.json
  scripts/model_30/assemble_training_set.py
  scripts/model_30/register_technical_task_router.py
  src/api/services/auth_service_notifier.py
  src/api/services/contribution_service.py
  tests/unit/models/test_technical_task_router.py
  tests/unit/scripts/test_assemble_training_set.py
  tests/unit/test_auth_service_notifier.py
Due: check-auth-headers, auth-test-reminder

Add Model 30 training set assembler (#248)
  schema/examples/model_30_training_manifest.v1.json
  schema/model_30_training_manifest.v1.json
  scripts/model_30/assemble_training_set.py
  scripts/model_30/register_technical_task_router.py
  src/api/services/auth_service_notifier.py
  src/api/services/contribution_service.py
  tests/unit/models/test_technical_task_router.py
  tests/unit/scripts/test_assemble_training_set.py
  tests/unit/test_auth_service_notifier.py
Due: check-auth-headers, auth-test-reminder

Path conditions:
  check-auth-headers: any of: \.(py|ts|js)$
  validate-proxy-config: any of: src/api/proxy\.py$
  check-mlflow-auth: any of: (mlflow|registry).*\.py$
  auth-test-reminder: any of: (proxy|auth|mlflow).*\.(py|ts|js)$
